
<div class="list-group" *ngIf="mainList != undefined; else elseBlock">
  <div class="list-group-item bg-danger text-light main-list-item"
    *ngIf="mainList.length > 0; else elseBlock2">
    <div class="row">
      <div class="col-sm-4">İşlem</div>
      <div class="col-sm-4">Personel</div>
      <div class="col-sm-4"><span class="float-right">İşlem Tarihi</span></div>
    </div>
  </div>
  <div class="work-area-7">
    <div class="list-group-item list-group-item-action main-list-item" *ngFor="let item of mainList">
      <div class="row">
        <div class="col-sm-4">{{item.data.action}}</div>
        <div class="col-sm-4">{{item.employeeName}}</div>
        <div class="col-sm-4"><span
            class="float-right">{{item.data.insertDate | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseBlock2>
    <div class="card bg-red text-white">
      <div class="card-body">Görüntülenecek veri bulunamadı.</div>
    </div>
  </ng-template>
</div>
<ng-template #elseBlock>
  <div class="loader"></div>
</ng-template>

