<div class="work-area-11" *ngIf="mainList != undefined; else elseBlock2">
  <div *ngIf="mainList.length > 0; else elseBlock">
    <div class="main-list">
      <div class="main-list-item" *ngFor="let item of mainList; index as i;">
        <div class="icon">
          <i class="fas fa-file-alt fa-2x text-danger"></i>
        </div>
        <div class="content">
          <div class="row-1">
            <div class="w-100">
              <span class="font-weight-600" title="Log">{{item.data.log}}</span>
            </div>
          </div>          
          <div class="row-2">
            <div class="w-66">
              <span class="badge badge-danger" title="Personel">{{item.employeeName}}</span>
            </div>
            <div class="w-33">
              <span class="float-right mr-1">İşlem Tarihi {{item.data.insertDate | date: 'yyyy-MM-dd'}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <div class="card bg-red text-white m-3">
      <div class="card-body">Görüntülenecek veri bulunamadı.</div>
    </div>
  </ng-template>
</div>
<ng-template #elseBlock2>
  <div class="card">
    <div class="card-body">
      <div class="loader"></div>
    </div>
  </div>
</ng-template>


