<div class="work-area">
  <div class="card">
    <div class="card-header bg-gray-gradient">
      <div class="d-flex align-items-center">
        <div class="flex-grow-1">
          <img src="../../assets/images/notification.png" width="30px" alt="" class="float-left mr-2">
          <h5 class="card-title float-left mr-2">Bildirimler</h5>
        </div>
        <div class="head-filter mr-1">
          <div class="input-group input-group-round">
            <div class="input-group-prepend">
                          <span class="input-group-text">
                              <i class="fa fa-filter"></i>
                          </span>
            </div>
            <input type="search" class="form-control filter-list-input" placeholder="Bildirim Ara.." [(ngModel)]="searchText">
          </div>
        </div>
        <div class="head-filter">
          <button type="button" class="btn btn-light input-button-full" (click)="btnShowMainFiler_Click()">
            <i class="fa fa-filter text-secondary"></i> Filtre
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="mainList != undefined; else elseBlock2">
      <div class="main-list" *ngIf="mainList.length > 0; else elseBlock">
        <div class="main-list-item" *ngFor="let item of mainList | filterNote: searchText; index as i;">
          <div class="icon">
            <i class="fas fa-file-alt fa-2x text-danger"></i>
          </div>
          <div class="content">
            <div class="row-1">
              <div class="w-100">
                <span class="font-weight-600 mr-1">{{item.data.log}}</span>
              </div>
            </div>
            <div class="row-2">
              <div class="w-100">
                <span class="badge badge-warning" title="Kayıt Tarihi">Kayıt Tarihi {{item.data.insertDate | date: 'yyyy-MM-dd'}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="card bg-red text-white m-3">
          <div class="card-body">Görüntülenecek veri bulunamadı.</div>
        </div>
      </ng-template>
    </div>
    <ng-template #elseBlock2>
      <div class="card">
        <div class="card-body">
          <div class="loader"></div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
