<div class="card mb-1">
  <div class="card-body">    
  <div class="row">
    <div class="col-sm-12">
      <img [src]="fileIcon" width="24px" class="mr-2">
      <a [href]="downloadURL" target="_blank" rel="noopener">{{file.name}}</a>
    </div>
    <div class="col-sm-12">
      <div *ngIf="snapshot | async as snap" class="mr-2 float-left">
        {{snap.bytesTransferred/1024 | number:'1.2-2'}} KB of {{snap.totalBytes/1024 | number:'1.2-2'}} KB
      </div>
      <div *ngIf="percentage | async as pct" class="mr-2 float-left">
        <progress [value]="pct" max="100"></progress> {{ pct | number }}%
      </div>
    </div>
  </div>
  </div>
</div>