<div *ngIf="percentage | async as pct">
  <progress [value]="pct" max="100"></progress>
  {{ pct | number }}%
</div>

<div *ngIf="snapshot | async as snap">

  {{snap.bytesTransferred/1024 | number:'1.2-2'}} KB of {{snap.totalBytes/1024 | number:'1.2-2'}} KB

  <div *ngIf="downloadURL as url" style="border-bottom: thin solid #6c757d; margin: 5px 0 5px 0; padding: 10px 0 10px 0">
    <div class="row">
      <div class="col-sm-2">
        <img [src]="url" width="50px"><br>
      </div>
      <div class="col-sm-10">
        <div>
          <a [href]="url" target="_blank" rel="noopener">İndir!</a>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <button class="btn btn-sm btn-danger btn-block" type="button"
                    (click)="task.cancel()"
                    [disabled]="!isActive(snap)">İptal</button>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-sm btn-warning btn-block" type="button"
                    (click)="task.pause()"
                    [disabled]="!isActive(snap)">Duraklat</button>

          </div>
          <div class="col-sm-4">
            <button class="btn btn-sm btn-success btn-block" type="button"
                    (click)="task.resume()"
                    [disabled]="!(snap?.state === 'paused')">Devam Et</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
