<div class="card work-area" *ngIf="selectedRecord==undefined">
  <div class="card-header bg-gray-gradient">
    <div class="row">
      <div class="col-sm-8">
        <img src="../../assets/images/cash-desks.png" class="float-left mr-2" width="30px">
        <h5 class="card-title float-left mr-2">Kasa Listesi</h5>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Yeni Kasa"
                (click)="btnNew_Click()"><i class="fa fa-plus"></i></button>
      </div>
      <div class="col-sm-4 head-filter">
        <div class="input-group input-group-round">
          <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-filter"></i>
                        </span>
          </div>
          <input type="search" class="form-control filter-list-input" placeholder="Kasa Ara.." [(ngModel)]="searchText">
        </div>
      </div>

    </div>
  </div>
  <div class="card-body">
    <div class="row" *ngIf="mainList.length > 0; else elseBlock">
      <div class="col-sm-4" *ngFor="let item of mainList | filterCashDesk: searchText; index as i; trackBy: primaryKey">
        <div class="card-list-parent">
          <div class="card mb-2 bg-light cursor-pointer"
               (click)="showSelectedRecord(item)" title="Kaydı Göster">
            <i class="fa fa-ellipsis-h small-list-list-icon"></i>
            <div class="card-body">
              <div class="font-weight-500 text-dark">{{item.data.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="card bg-danger text-white">
        <div class="card-body">Görüntülenecek veri bulunamadı.</div>
      </div>
    </ng-template>
  </div>
</div>
<div class="card work-area" *ngIf="selectedRecord!=undefined">
  <div class="card-header bg-gray-gradient">
    <div class="row">
      <div class="col-sm-12">
        <img src="../../assets/images/cash-desks.png" class="float-left mr-2" width="30px">
        <h5 class="card-title float-left mr-2">Kasa Detayı</h5>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Listeye Geri Dön"
                (click)="btnReturnList_Click()"><i class="fa fa-arrow-left"></i></button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form class="was-validated">
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header bg-gray-gradient">
                  <h5>Kasa Bilgileri</h5>
                </div>
                <div class="card-body">
                  <div class="row form-inline">
                    <div class="col-sm-6">
                      <label class="col-form-label float-left" for="cashDeskName">Kasa Adı</label>
                    </div>
                    <div class="col-sm-6">
                      <input class="form-control form-control-sm" id="cashDeskName" name="cashDeskName" type="text"
                             [(ngModel)]="selectedRecord.data.name" required>
                      <div class="invalid-feedback invalid-input-info">Lütfen doldurunuz.</div>
                    </div>
                    <div class="col-sm-6">
                      <label class="col-form-label float-left" for="description">Açıklama</label>
                    </div>
                    <div class="col-sm-6">
                      <input class="form-control form-control-sm" id="description" name="description" type="text"
                             [(ngModel)]="selectedRecord.data.description">
                      <div class="invalid-feedback invalid-input-info">Lütfen doldurunuz.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 mt-5" *ngIf="selectedRecord.data.primaryKey!=undefined">
              <div class="card">
                <div class="card-body">
                  <div class="loader" *ngIf="transactionList == undefined"></div>
                  <canvas id="chart1"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header bg-gray-gradient">
              <h5 class="float-left mr-2">Kasa Hareketleri</h5>
              <button class="btn btn-sm btn-round btn-outline-secondary float-right mr-2" title="Geniş Filtre"
                      (click)="btnShowMainFiler_Click()"><i class="fa fa-filter"></i>
              </button>
              <button class="btn btn-sm btn-round btn-outline-secondary float-right mr-2" title="Excel'e Aktar"
                      (click)="btnExportToExcel_Click()"><i
                class="fa fa-file-excel-o"></i></button>
            </div>
            <div class="card-body work-area-5" *ngIf="selectedRecord.data.primaryKey!=undefined; else elseBlock2">
              <div class="card mb-2" *ngIf="isMainFilterOpened">
                <div class="card-header">Filtreler</div>
                <div class="card-body bg-light">
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="col-form-label float-left">Başlangıç Tarihi</label>
                    </div>
                    <div class="col-sm-6">
                      <div class="input-group">
                        <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="d" #c="ngModel"
                               [(ngModel)]="filterBeginDate" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-sm btn-outline-secondary" (click)="d.toggle()" type="button"><i
                            class="fa fa-calendar"></i></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label class="col-form-label float-left">Bitiş Tarihi</label>
                    </div>
                    <div class="col-sm-6">
                      <div class="input-group">
                        <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="d2" #c2="ngModel"
                               [(ngModel)]="filterFinishDate" ngbDatepicker #d2="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-sm btn-outline-secondary" (click)="d2.toggle()" type="button"><i
                            class="fa fa-calendar"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="row">
                    <div class="col-sm-4">
                      <button type="button" class="btn btn-sm btn-success btn-block" (click)="btnMainFilter_Click()">
                        Filtrele
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="transactionList != undefined; else elseBlock3">
                <div class="list-group" *ngIf="transactionList.length > 0; else elseBlock">
                  <div class="list-group-item bg-dark text-light main-list-item">
                    <div class="row">
                      <div class="col-sm-3">İşlem Tipi</div>
                      <div class="col-sm-3">Fiş Numarası</div>
                      <div class="col-sm-3"><span class="float-right">Tutar</span></div>
                      <div class="col-sm-3"><span class="float-right">Tarih</span></div>

                    </div>
                  </div>
                  <div class="list-group-item list-group-item-action main-list-item"
                       *ngFor="let item of transactionList; index as i; trackBy: primaryKey">
                    <div class="row">
                      <div class="col-sm-3">{{item.transactionTypeTr}}</div>
                      <div class="col-sm-3">{{item.receiptNo}}</div>
                      <div class="col-sm-3"><span class="float-right">{{item.amount | currency:'₺'}}</span></div>
                      <div class="col-sm-3"><span class="float-right">{{item.insertDate | date: 'yyyy.MM.dd'}}</span>
                      </div>
                    </div>
                  </div>
                  <li class="list-group-item list-group-item-success main-list-item">
                    <div class="row">
                      <div class="col-sm-6">Toplam</div>
                      <div class="col-sm-3"><span class="float-right">{{totalValues.amount | currency:'₺'}}</span></div>
                    </div>
                  </li>
                </div>
                <ng-template #elseBlock>
                  <div class="card bg-danger text-white">
                    <div class="card-body">Görüntülenecek veri bulunamadı.</div>
                  </div>
                </ng-template>
              </div>
              <ng-template #elseBlock3>
                <div class="loader"></div>
              </ng-template>
            </div>
            <ng-template #elseBlock2>
              <div class="card bg-danger text-white">
                <div class="card-body">Görüntülenecek veri bulunamadı.</div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="col-sm-3 float-right">
      <button type="button" class="btn btn-sm btn-success btn-block"
              (click)="btnSave_Click()">Kaydet
      </button>
    </div>
    <div class="col-sm-3" *ngIf="selectedRecord.data.primaryKey!=undefined">
      <button type="button" class="btn btn-sm btn-danger btn-block"
              (click)="btnRemove_Click()">Kaldır
      </button>
    </div>
  </div>
</div>
