<div class="card" *ngIf="selectedRecord==undefined">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-4">
                <h5 class="card-title">Cash Desk List</h5>
            </div>
            <div class="col-sm-5">
                <input type="text" class="form-control form-control-sm" placeholder="Cash Desk Search.." />
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-secondary btn-sm btn-block" (click)="btnNew_Click()">+New
                    Cash Desk</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="list-group" *ngIf="mainList.length > 0; else elseBlock">
                <div class="list-group-item bg-dark text-light">
                        <div class="row">
                            <div class="col-sm-4">Name</div>
        
                        </div>
                </div>
            <div class="list-group-item list-group-item-action list-group-item-light cursor-pointer"
                (click)="showSelectedRecord(item)"
                *ngFor="let item of mainList; index as i; trackBy: primaryKey">
                <div class="row">
                    <div class="col-sm-4"><span class="text-bold text-dark">{{i+1}})</span> {{item.data.name}}</div>

                </div>
            </div>
        </div>
        <ng-template #elseBlock>
            <div class="card bg-danger text-white">
              <div class="card-body">Görüntülenecek veri bulunamadı.</div>
            </div>
        </ng-template>  
    </div>
</div>
<div class="card" *ngIf="selectedRecord!=undefined">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-9">
                <h5 class="card-title">Cash Desk Detail</h5>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-sm btn-outline-primary btn-block"
                    (click)="btnReturnList_Click()">Return</button>
            </div>
        </div>

    </div>
    <div class="card-body">
        <div *ngIf="openedPanel=='mainPanel'">
                <form (ngSubmit)="btnSave_Click()" class="was-validated">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row form-inline">
                                    <div class="col-sm-6">
                                        <label class="col-form-label float-left" for="cashDeskName">Cash Desk Name</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="form-control form-control-sm" id="cashDeskName" name="cashDeskName" type="text"
                                            [(ngModel)]="selectedRecord.name" required>
                                        <div class="invalid-feedback">Please fill name field.</div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-form-label float-left" for="description">Description</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="form-control form-control-sm" id="description" name="description" type="text"
                                            [(ngModel)]="selectedRecord.description">
                                        <div class="invalid-feedback">Please fill description field.</div>
                                    </div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                                <div class="pl-3 pt-1 pr-3">
                                        <div class="row border p-2 border-right-radius cursor-pointer"
                                        (click)="onClickShowTransactionReport()">
                                            <div class="col-sm-2">
                                                <img src="../../assets/images/report_icon_2.png" width="45px">
                                            </div>
                                            <div class="col-sm-10">
                                                <div class="text-dark">Kasa Hareket Raporu</div>
                                                <small class="text-muted">Kasaya ait hareketleri raporlar</small>
                                            </div>
                                    </div>
                                </div>

                        </div>
                    </div>
                </form>

        </div>
        <div *ngIf="openedPanel=='transactionReport'">
                <div class="list-group" *ngIf="transactionList$ | async; let transactionList; else elseBlock">
                        <div class="list-group-item bg-dark text-light">
                                <div class="row">
                                    <div class="col-sm-3">Transaction Type</div>
                                    <div class="col-sm-3">ReceiptNo</div>
                                    <div class="col-sm-3">Amount</div>
                                    <div class="col-sm-3">Date</div>
                
                                </div>
                        </div>
                    <div class="list-group-item list-group-item-action list-group-item-light"
                        *ngFor="let item of transactionList; index as i; trackBy: primaryKey">
                        <div class="row">
                            <div class="col-sm-3">{{item.transactionType}}</div>
                            <div class="col-sm-3">{{item.receiptNo}}</div>
                            <div class="col-sm-3">{{item.amount}}</div>
                            <div class="col-sm-3">{{item.insertDate | date: 'yyyy.MM.dd'}}</div>        
                        </div>
                    </div>
                </div>
                <ng-template #elseBlock>
                    <div class="card bg-danger text-white">
                      <div class="card-body">Görüntülenecek veri bulunamadı.</div>
                    </div>
                </ng-template>  

        </div>
    </div>
    <div class="card-footer" *ngIf="openedPanel=='mainPanel'">
        <div class="col-sm-3 float-right">
            <button type="button" class="btn btn-sm btn-success btn-block"
                (click)="btnSave_Click()">Save</button>
        </div>
        <div class="col-sm-3" *ngIf="selectedRecord.primaryKey!=undefined">
            <button type="button" class="btn btn-sm btn-danger btn-block"
                (click)="btnRemove_Click()">Remove</button>
        </div>

    </div>
</div>