<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-4">
        <img src="../../assets/images/dashboard.png" width="30px" class="float-left mr-2">
        <h5 class="card-title">Alım Pano</h5>
      </div>
    </div>
  </div>
  <div class="card-body bg-body dashboard-work-area">
    <div class="row mb-1">
      <div class="col-sm-3">
        <div id="panel-navigator">
          <div class="card card-stats bg-white">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon cursor-pointer" routerLink="/purchase-offer" routerLinkActive="active" title="Modülü Aç">
                <img src="../../assets/images/purchase_invoice.png" width="30px">
              </div>
              <p class="card-category">Alım Teklifi</p>
              <h5 class="card-title">{{totalValues.purchaseOfferAmount | currency:'₺'}}</h5>
            </div>
            <div class="card-footer">
              <div  class="stats">Aylık Onaylı İşlemler</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div id="panel-navigator">
          <div class="card card-stats bg-white">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon cursor-pointer" routerLink="/purchase-order" routerLinkActive="active" title="Modülü Aç">
                <img src="../../assets/images/purchase_invoice.png" width="30px">
              </div>
              <p class="card-category">Alım Siparişi</p>
              <h5 class="card-title">{{totalValues.purchaseOrderAmount | currency:'₺'}}</h5>
            </div>
            <div class="card-footer">
              <div  class="stats">Aylık Onaylı İşlemler</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div id="panel-navigator">
          <div class="card card-stats bg-white">
            <div class="card-header card-header-danger card-header-icon">
              <div class="card-icon cursor-pointer" routerLink="/purchase-invoice" routerLinkActive="active" title="Modülü Aç">
                <img src="../../assets/images/purchase_invoice.png" width="30px">
              </div>
              <p class="card-category">Alım Faturası</p>
              <h5 class="card-title">{{totalValues.purchaseInvoiceAmount | currency:'₺'}}</h5>
            </div>
            <div class="card-footer">
              <div  class="stats">Aylık Onaylı İşlemler</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div id="panel-navigator">
          <div class="card card-stats bg-white">
            <div class="card-header card-header-danger card-header-icon">
              <div class="card-icon cursor-pointer" routerLink="/payment" routerLinkActive="active" title="Modülü Aç">
                <img src="../../assets/images/payment.png" width="30px">
              </div>
              <p class="card-category">Ödeme</p>
              <h5 class="card-title">{{totalValues.paymentAmount | currency:'₺'}}</h5>
            </div>
            <div class="card-footer">
              <div  class="stats">Aylık Onaylı İşlemler</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <canvas id="barChart"></canvas>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <canvas id="lineChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>