<div class="card work-area" *ngIf="selectedRecord==undefined">
  <div class="card-header bg-gray-gradient">
    <div class="row">
      <div class="col-sm-8">
        <img src="../../assets/images/collection_term_on_day.png" width="30px" class="float-left mr-2">
        <h4 class="card-title float-left mr-2">Alış&Satış Listesi</h4>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Yeni Kayıt"
                (click)="btnNew_Click()"><i class="fa fa-plus"></i></button>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Excel'e Aktar"
                (click)="btnExportToExcel_Click()"><i class="fas fa-file-excel"></i></button>
      </div>
      <div class="col-sm-4 head-filter" hidden>
        <div class="input-group input-group-round">
          <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-filter"></i>
                        </span>
          </div>
          <input type="search" class="form-control filter-list-input" placeholder="Not Ara.." [(ngModel)]="searchText">
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="mainList != undefined; else elseBlock2">
      <div class="list-group" *ngIf="mainList.length > 0; else elseBlock">
        <div class="list-group-item bg-red text-light main-list-item">
          <div class="row">
            <div class="col-sm-2">Döviz Tipi</div>
            <div class="col-sm-2"><span class="float-right">Birim Tutar</span></div>
            <div class="col-sm-2"><span class="float-right">Birim Miktar</span></div>
            <div class="col-sm-2"><span class="float-right">Toplam</span></div>
            <div class="col-sm-2"><span class="float-right">Tarih</span></div>
            <div class="col-sm-2"><span class="float-right">Durum</span></div>
          </div>
        </div>
        <div class="list-group-item list-group-item-action main-list-item cursor-pointer"
             (click)="showSelectedRecord(item)"
             *ngFor="let item of mainList | filterNote: searchText; index as i;">
          <div class="row">
            <div class="col-sm-2">
              <i class="far fa-arrow-alt-circle-right mr-2 text-red"></i>
              <span class="text-red font-weight-600 mr-2">{{item.currencyName}}</span>
            </div>
            <div class="col-sm-2"><span class="float-right">{{item.data.unitAmount | currency:'₺'}}</span></div>
            <div class="col-sm-2"><span class="float-right">{{item.data.unitValue}} {{item.currencyName}}</span></div>
            <div class="col-sm-2"><span class="float-right">{{item.totalAmountFormatted}}</span></div>
            <div class="col-sm-2">
              <span class="float-right">{{item.data.recordDate | date: 'yyyy.MM.dd'}}</span>
            </div>
            <div class="col-sm-2">
              <i class="fas fa-check mr-2 text-secondary float-right" *ngIf="item.data.status === 'waitingForApprove'" title="Onay Bekliyor"></i>
              <i class="far fa-thumbs-up mr-2 text-success float-right" *ngIf="item.data.status === 'approved'" title="Onaylandı"></i>
              <i class="far fa-thumbs-down mr-2 text-danger float-right" *ngIf="item.data.status === 'rejected'" title="Reddedildi"></i>
              <i class="fas fa-ban mr-2 text-danger float-right" *ngIf="item.data.status === 'canceled'" title="İptal Edildi"></i>
              <i class="fas fa-ban mr-2 text-default float-right" *ngIf="item.data.status === 'closed'" title="Kapatıldı"></i>
              <i class="fab fa-buromobelexperte mr-2 text-secondary float-right" *ngIf="item.data.status === 'portion'" title="Parçalı Kayıt"></i>
              <i class="far fa-check-circle mr-2 text-success float-right" *ngIf="item.data.status === 'done'" title="Tamamlandı"></i>
              <i class="fas fa-wifi mr-2 text-yellow float-right" *ngIf="item.data.platform === 'web'" title="Web"></i>
              <i class="fas fa-mobile mr-2 text-purple float-right" *ngIf="item.data.platform === 'mobile'" title="Mobil"></i>
            </div>
          </div>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="card bg-red text-white">
          <div class="card-body">Görüntülenecek veri bulunamadı.</div>
        </div>
      </ng-template>
    </div>
    <ng-template #elseBlock2>
      <div class="loader"></div>
    </ng-template>
  </div>
</div>
<div class="card work-area" *ngIf="selectedRecord!=undefined">
  <div class="card-header bg-gray-gradient">
    <div class="row">
      <div class="col-sm-8">
        <img src="../../assets/images/collection_term_on_day.png" width="30px" class="float-left mr-2">
        <h4 class="card-title float-left mr-2">Alış&Satış Detayı</h4>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Listeye Geri Dön"
                (click)="btnReturnList_Click()"><i class="fa fa-arrow-left"></i></button>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Json Göster"
                (click)="btnShowJsonData_Click()"><i class="fa fa-jsfiddle"></i></button>
      </div>
      <div class="col-sm-4">
        <i class="float-right" [ngClass]="isRecordHasTransaction ? 'pulse-green' : 'pulse-red'"></i>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header bg-gray-gradient">
            <h5>Döviz Bilgileri</h5>
          </div>
          <div class="card-body">
            <form (ngSubmit)="btnSave_Click()" class="row was-validated" #f="ngForm">
              <div class="col-sm-6">
                <label class="col-form-label float-left" for="receiptNo">Fiş Numarası</label>
              </div>
              <div class="col-sm-6">
                <input class="form-control form-control-sm w-100" id="receiptNo" name="receiptNo" type="text"
                       [(ngModel)]="selectedRecord.data.receiptNo" required>
                <div class="invalid-feedback invalid-input-info">Lütfen alanı doldurunuz.</div>
              </div>
              <div class="col-sm-6">
                <label class="col-form-label float-left">Kayıt Tarihi</label>
              </div>
              <div class="col-sm-6">
                <div class="input-group">
                  <input class="form-control form-control-sm" id="recordDate" placeholder="yyyy-mm-dd" name="d3" #c3="ngModel"
                         [(ngModel)]="recordDate" ngbDatepicker #d3="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-secondary" (click)="d3.toggle()" type="button"><i
                      class="fa fa-calendar"></i></button>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <label class="col-form-label float-left" for="cashDeskPrimaryKey">Kasa</label>
              </div>
              <div class="col-sm-6">
                <select class="form-control form-control-sm w-100" id="cashDeskPrimaryKey" name="cashDeskPrimaryKey" required
                        [disabled]="selectedRecord.data.primaryKey!=undefined"
                        [(ngModel)]="selectedRecord.data.cashDeskPrimaryKey">
                  <option value={{item.returnData.data.primaryKey}}
                          *ngFor="let item of cashDeskList$ | async; index as i;">{{item.returnData.data.name}}</option>
                </select>
                <div class="invalid-feedback invalid-input-info">Lütfen kasa seçiniz.</div>
              </div>
              <div class="col-sm-6">
                <label class="col-form-label float-left" for="currencyPrimaryKey">Döviz</label>
              </div>
              <div class="col-sm-6">
                <select class="form-control form-control-sm w-100" id="currencyPrimaryKey" name="currencyPrimaryKey" required
                        [disabled]="selectedRecord.data.primaryKey!=undefined"
                        [(ngModel)]="selectedRecord.data.currencyPrimaryKey">
                  <option value={{item.returnData.data.primaryKey}}
                          *ngFor="let item of currencyList$ | async; index as i;">{{item.returnData.data.currencyName}}</option>
                </select>
                <div class="invalid-feedback invalid-input-info">Lütfen döviz seçiniz.</div>
              </div>
              <div class="col-sm-6">
                <label class="col-form-label float-left" for="transactionType">İşlem Tipi</label>
              </div>
              <div class="col-sm-6">
                <select class="form-control form-control-sm w-100" id="transactionType" name="transactionType" required
                        [disabled]="selectedRecord.data.primaryKey!=undefined"
                        [(ngModel)]="selectedRecord.data.transactionType">
                  <option value="sale">Satış</option>
                  <option value="buy">Alış</option>
                </select>
                <div class="invalid-feedback invalid-input-info">Lütfen işlem tip seçiniz.</div>
              </div>
              <div class="col-sm-6">
                <label class="col-form-label float-left" for="unitAmount">Birim Tutar</label>
              </div>
              <div class="col-sm-6">
                <input class="form-control form-control-sm w-100" id="unitAmount" name="unitAmount" type="text"
                       (focus)="focus_amount()"
                       (blur)="format_amount($event)"
                       [(ngModel)]="selectedRecord.amountFormatted">
              </div>
              <div class="col-sm-6">
                <label class="col-form-label float-left" for="unitValue">Birim Miktar</label>
              </div>
              <div class="col-sm-6">
                <input class="form-control form-control-sm w-100" id="unitValue" name="unitValue" type="text"
                       [(ngModel)]="selectedRecord.data.unitValue">
              </div>
              <div class="col-sm-6">
                <label class="col-form-label float-left" for="totalAmount">Toplam Tutar</label>
              </div>
              <div class="col-sm-6">
                <input class="form-control form-control-sm w-100" id="totalAmount" name="totalAmount" type="text"
                       (focus)="focus_total_amount()"
                       (blur)="format_total_amount($event)"
                       [(ngModel)]="selectedRecord.totalAmountFormatted">
              </div>
              <div class="col-sm-6">
                <label class="col-form-label float-left">Durum</label>
              </div>
              <div class="col-sm-6">
                <label class="col-form-label float-left">{{selectedRecord.statusTr}}</label>
              </div>
              <div class="col-sm-6">
                <label class="col-form-label float-left" for="description">Açıklama</label>
              </div>
              <div class="col-sm-6">
                <textarea class="form-control form-control-sm w-100" id="description" name="description" type="text"
                          cols="40" rows="2" [(ngModel)]="selectedRecord.data.description"></textarea>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="col-sm-3 float-right" *ngIf="selectedRecord.data.status === 'waitingForApprove'">
              <div class="input-group">
                <div class="input-group-prepend">
          <span class="input-group-text success-icon-side">
            <i class="fa fa-check" *ngIf="!onTransaction"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="onTransaction"></i>
          </span>
                </div>
                <button type="button" class="btn btn-sm btn-success form-control"
                        [disabled]="onTransaction || !f.valid"
                        (click)="btnSave_Click()">Kaydet
                </button>
              </div>
            </div>
            <div class="col-sm-3 float-right"
                 *ngIf="selectedRecord.data.primaryKey!=undefined && selectedRecord.data.status === 'waitingForApprove'">
              <div class="input-group">
                <div class="input-group-prepend">
          <span class="input-group-text success-icon-side">
            <i class="fa fa-thumbs-up" *ngIf="!onTransaction"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="onTransaction"></i>
          </span>
                </div>
                <button type="button" class="btn btn-sm btn-success form-control"
                        [disabled]="onTransaction || !f.valid"
                        (click)="btnApprove_Click()">Onayla
                </button>
              </div>
            </div>
            <div class="col-sm-3 float-left"
                 *ngIf="selectedRecord.data.primaryKey!=undefined">
              <div class="input-group">
                <div class="input-group-prepend">
          <span class="input-group-text danger-icon-side">
            <i class="far fa-trash-alt" *ngIf="!onTransaction"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="onTransaction"></i>
          </span>
                </div>
                <button type="button" class="btn btn-sm btn-danger form-control"
                        [disabled]="onTransaction"
                        (click)="btnRemove_Click()">Kaldır
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
