<div class="card work-area">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-12">
                <h5 class="card-title float-left mr-2">Ayarlar</h5>
            </div>
        </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <div class="cursor-pointer mb-1" (click)="openedPanel='general'">
            <div class="border p-2 bg-light" style="border-radius: 0 25px 25px 0">
              <div class="form-inline">
                <div style="width: 50px;">
                  <i class="fa fa-2x fa-user-circle mr-2"></i>
                </div>
                <div>Genel</div>
              </div>
            </div>
          </div>
          <div class="cursor-pointer mb-1" (click)="openedPanel='customer'">
            <div class="border p-2 bg-light" style="border-radius: 0 25px 25px 0">
              <div class="form-inline">
                <div style="width: 50px;">
                  <i class="fa fa-2x fa-user-circle mr-2"></i>
                </div>
                <div>Müşteri</div>
              </div>
            </div>
          </div>
          <div class="cursor-pointer mb-1" (click)="openedPanel='salesInvoice'">
            <div class="border p-2 bg-light" style="border-radius: 0 25px 25px 0">
              <div class="form-inline">
                <div style="width: 50px;">
                  <i class="fa fa-2x fa-user-circle mr-2"></i>
                </div>
                <div>Satış Faturası</div>
              </div>
            </div>
          </div>
          <div class="cursor-pointer mb-1" (click)="openedPanel='collection'">
            <div class="border p-2 bg-light" style="border-radius: 0 25px 25px 0">
              <div class="form-inline">
                <div style="width: 50px;">
                  <i class="fa fa-2x fa-address-card mr-2"></i>
                </div>
                <div>Tahsilat</div>
              </div>
            </div>
          </div>
          <div class="cursor-pointer mb-1" (click)="openedPanel='purchaseInvoice'">
            <div class="border p-2 bg-light" style="border-radius: 0 25px 25px 0">
              <div class="form-inline">
                <div style="width: 50px;">
                  <i class="fa fa-2x fa-shield mr-2"></i>
                </div>
                <div>Alım Faturası</div>
              </div>
            </div>
          </div>
          <div class="cursor-pointer mb-1" (click)="openedPanel='payment'">
            <div class="border p-2 bg-light" style="border-radius: 0 25px 25px 0">
              <div class="form-inline">
                <div style="width: 50px;">
                  <i class="fa fa-2x fa-shield mr-2"></i>
                </div>
                <div>Ödeme</div>
              </div>
            </div>
          </div>
          <div class="cursor-pointer mb-1" (click)="openedPanel='accountVoucher'">
            <div class="border p-2 bg-light" style="border-radius: 0 25px 25px 0">
              <div class="form-inline">
                <div style="width: 50px;">
                  <i class="fa fa-2x fa-shield mr-2"></i>
                </div>
                <div>Cari fiş</div>
              </div>
            </div>
          </div>
          <div class="cursor-pointer mb-1" (click)="openedPanel='cashDeskVoucher'">
            <div class="border p-2 bg-light" style="border-radius: 0 25px 25px 0">
              <div class="form-inline">
                <div style="width: 50px;">
                  <i class="fa fa-2x fa-shield mr-2"></i>
                </div>
                <div>Kasa Fişi</div>
              </div>
            </div>
          </div>
          <div class="cursor-pointer mb-1" (click)="openedPanel='product'">
            <div class="border p-2 bg-light" style="border-radius: 0 25px 25px 0">
              <div class="form-inline">
                <div style="width: 50px;">
                  <i class="fa fa-2x fa-shield mr-2"></i>
                </div>
                <div>Ürün Kartı</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <div *ngIf="openedPanel=='general'">
            <div class="card">
              <div class="card-body">
                <div class="row form-inline">
                  <div class="col-sm-3">
                    <label class="col-form-label float-left">Varsayılan Döviz Tipi</label>
                  </div>
                  <div class="col-sm-3">
                    <select class="form-control form-control-sm w-100"
                            (change)="onChangeDefaultCurrencyType($event.target.value)"
                            [(ngModel)]="general.defaultCurrencyCode">
                      <option value="lira">Lira</option>
                      <option value="dollar">Dolar</option>
                      <option value="euro">Avro</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <label class="col-form-label float-left">Varsayılan Depo</label>
                  </div>
                  <div class="col-sm-3">
                    <select class="form-control form-control-sm w-100"
                            (change)="onChangeDefaultStorage($event.target.value)"
                            [(ngModel)]="general.defaultStoragePrimaryKey">
                      <option value="-1">Seçilmedi</option>
                      <option value={{item.primaryKey}} *ngFor="let item of storageList">{{item.custom1}}</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <label class="col-form-label float-left">Varsayılan Fiyat Listesi</label>
                  </div>
                  <div class="col-sm-3">
                    <select class="form-control form-control-sm w-100"
                            (change)="onChangeDefaultPriceList($event.target.value)"
                            [(ngModel)]="general.defaultPriceListPrimaryKey">
                      <option value="-1">Seçilmedi</option>
                      <option value={{item.primaryKey}} *ngFor="let item of priceLists">{{item.listName}}</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <label class="col-form-label float-left">Varsayılan İskonto Listesi</label>
                  </div>
                  <div class="col-sm-3">
                    <select class="form-control form-control-sm w-100"
                            (change)="onChangeDefaultDiscountList($event.target.value)"
                            [(ngModel)]="general.defaultDiscountListPrimaryKey">
                      <option value="-1">Seçilmedi</option>
                      <option value={{item.primaryKey}} *ngFor="let item of discountLists">{{item.listName}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="openedPanel=='customer'">
            <div class="card mb-1">
              <div class="card-header">
                Müşteri Otomatik Kodu
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">Ön Eki</div>
                  <div class="col-sm-3">Sıra</div>
                  <div class="col-sm-3">Son Eki</div>
                  <div class="col-sm-3">Uzunluk</div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="customer.prefix">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="customer.number">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="customer.suffix">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="customer.length">
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-sm btn-success"
                        (click)="btnSaveCustomerAutoCode_Click()">Kaydet</button>
              </div>
            </div>
          </div>
          <div *ngIf="openedPanel=='salesInvoice'">
            <div class="card mb-1">
              <div class="card-header">
                Satış Faturası Otomatik Kodu
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">Ön Eki</div>
                  <div class="col-sm-3">Sıra</div>
                  <div class="col-sm-3">Son Eki</div>
                  <div class="col-sm-3">Uzunluk</div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="salesInvoice.prefix">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="salesInvoice.number">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="salesInvoice.suffix">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="salesInvoice.length">
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-sm btn-success"
                        (click)="btnSaveSalesInvoiceAutoCode_Click()">Kaydet</button>
              </div>
            </div>
            <div class="card mb-1">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="switch1"
                             [(ngModel)]="salesInvoice.chart1Visibility"
                             (change)="cbChart1Visibility_Changed('salesInvoice')">
                      <label class="custom-control-label" for="switch1">Cari Hareketler Grafik Gösterimi</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="switch2"
                             [(ngModel)]="salesInvoice.chart2Visibility"
                             (change)="cbChart2Visibility_Changed('salesInvoice')">
                      <label class="custom-control-label" for="switch2">Dönem Hareketler Grafik Gösterimi</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="openedPanel=='collection'">
            <div class="card mb-1">
              <div class="card-header">
                Tahsilat Otomatik Kodu
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">Ön Eki</div>
                  <div class="col-sm-3">Sıra</div>
                  <div class="col-sm-3">Son Eki</div>
                  <div class="col-sm-3">Uzunluk</div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="collection.prefix">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="collection.number">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="collection.suffix">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="collection.length">
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-sm btn-success"
                        (click)="btnSaveCollectionAutoCode_Click()">Kaydet</button>
              </div>
            </div>
            <div class="card mb-1">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="switch3"
                             [(ngModel)]="collection.chart1Visibility"
                             (change)="cbChart1Visibility_Changed('collection')">
                      <label class="custom-control-label" for="switch3">Cari Hareketler Grafik Gösterimi</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="switch4"
                             [(ngModel)]="collection.chart2Visibility"
                             (change)="cbChart2Visibility_Changed('collection')">
                      <label class="custom-control-label" for="switch4">Dönem Hareketler Grafik Gösterimi</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="openedPanel=='purchaseInvoice'">
            <div class="card mb-1">
              <div class="card-header">
                Alım Faturası Otomatik Kodu
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">Ön Eki</div>
                  <div class="col-sm-3">Sıra</div>
                  <div class="col-sm-3">Son Eki</div>
                  <div class="col-sm-3">Uzunluk</div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="purchaseInvoice.prefix">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="purchaseInvoice.number">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="purchaseInvoice.suffix">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="purchaseInvoice.length">
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-sm btn-success"
                        (click)="btnSavePurchaseInvoiceAutoCode_Click()">Kaydet</button>
              </div>
            </div>
            <div class="card mb-1">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="switch5"
                             [(ngModel)]="purchaseInvoice.chart1Visibility"
                             (change)="cbChart1Visibility_Changed('purchaseInvoice')">
                      <label class="custom-control-label" for="switch5">Cari Hareketler Grafik Gösterimi</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="switch6"
                             [(ngModel)]="purchaseInvoice.chart2Visibility"
                             (change)="cbChart2Visibility_Changed('purchaseInvoice')">
                      <label class="custom-control-label" for="switch6">Dönem Hareketler Grafik Gösterimi</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="openedPanel=='payment'">
            <div class="card mb-1">
              <div class="card-header">
                Ödeme Otomatik Kodu
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">Ön Eki</div>
                  <div class="col-sm-3">Sıra</div>
                  <div class="col-sm-3">Son Eki</div>
                  <div class="col-sm-3">Uzunluk</div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="payment.prefix">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="payment.number">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="payment.suffix">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="payment.length">
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-sm btn-success"
                        (click)="btnSavePaymentAutoCode_Click()">Kaydet</button>
              </div>
            </div>
            <div class="card mb-1">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="switch7"
                             [(ngModel)]="payment.chart1Visibility"
                             (change)="cbChart1Visibility_Changed('payment')">
                      <label class="custom-control-label" for="switch7">Cari Hareketler Grafik Gösterimi</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="switch8"
                             [(ngModel)]="payment.chart2Visibility"
                             (change)="cbChart2Visibility_Changed('payment')">
                      <label class="custom-control-label" for="switch8">Dönem Hareketler Grafik Gösterimi</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="openedPanel=='accountVoucher'">
            <div class="card mb-1">
              <div class="card-header">
                Cari Fiş Otomatik Kodu
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">Ön Eki</div>
                  <div class="col-sm-3">Sıra</div>
                  <div class="col-sm-3">Son Eki</div>
                  <div class="col-sm-3">Uzunluk</div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="accountVoucher.prefix">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="accountVoucher.number">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="accountVoucher.suffix">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="accountVoucher.length">
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-sm btn-success"
                        (click)="btnSaveAccountVoucherAutoCode_Click()">Kaydet</button>
              </div>
            </div>
            <div class="card mb-1">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="switch9"
                             [(ngModel)]="accountVoucher.chart1Visibility"
                             (change)="cbChart1Visibility_Changed('accountVoucher')">
                      <label class="custom-control-label" for="switch9">Cari Hareketler Grafik Gösterimi</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="switch10"
                             [(ngModel)]="accountVoucher.chart2Visibility"
                             (change)="cbChart2Visibility_Changed('accountVoucher')">
                      <label class="custom-control-label" for="switch10">Dönem Hareketler Grafik Gösterimi</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="openedPanel=='cashDeskVoucher'">
            <div class="card mb-1">
              <div class="card-header">
                Kasa Fişi Otomatik Kodu
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">Ön Eki</div>
                  <div class="col-sm-3">Sıra</div>
                  <div class="col-sm-3">Son Eki</div>
                  <div class="col-sm-3">Uzunluk</div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="cashDeskVoucher.prefix">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="cashDeskVoucher.number">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="cashDeskVoucher.suffix">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="cashDeskVoucher.length">
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-sm btn-success"
                        (click)="btnSaveCashDeskVoucherAutoCode_Click()">Kaydet</button>
              </div>
            </div>
            <div class="card mb-1">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="switch11"
                             [(ngModel)]="cashDeskVoucher.chart1Visibility"
                             (change)="cbChart1Visibility_Changed('cashDeskVoucher')">
                      <label class="custom-control-label" for="switch11">Cari Hareketler Grafik Gösterimi</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="switch12"
                             [(ngModel)]="cashDeskVoucher.chart2Visibility"
                             (change)="cbChart2Visibility_Changed('cashDeskVoucher')">
                      <label class="custom-control-label" for="switch12">Dönem Hareketler Grafik Gösterimi</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="openedPanel=='product'">
            <div class="card mb-1">
              <div class="card-header">
                Ürün Otomatik Kodu
              </div>
              <div class="card-body">
                <div class="row form-inline">
                  <div class="col-sm-3">Ön Eki</div>
                  <div class="col-sm-3">Sıra</div>
                  <div class="col-sm-3">Son Eki</div>
                  <div class="col-sm-3">Uzunluk</div>
                </div>
                <div class="row form-inline">
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="product.prefix">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="product.number">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="product.suffix">
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="product.length">
                  </div>
                </div>
                <div class="row form-inline">
                  <div class="col-sm-3">
                    <label class="col-form-label float-left">Varsayılan Birim Tipi</label>
                  </div>
                  <div class="col-sm-3">
                    <select class="form-control form-control-sm w-100"
                            (change)="onChangeDefaultUnitCode($event.target.value)"
                            [(ngModel)]="product.defaultUnitCode">
                      <option value={{item.primaryKey}} *ngFor="let item of unitList">{{item.unitName}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-sm btn-success"
                        (click)="btnSaveProductAutoCode_Click()">Kaydet</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
