<div class="card work-area" *ngIf="selectedRecord==undefined">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-8">
        <img src="../../assets/images/visit-2.png" width="30px" class="float-left mr-2" alt="">
        <h4 class="card-title float-left mr-2">Ziyaret Listesi</h4>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Yeni Etkinlik"
                (click)="btnNew_Click()"><i class="fa fa-plus"></i></button>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Geniş Filtre"
                (click)="btnShowMainFiler_Click()"><i class="fa fa-filter"></i></button>
      </div>
      <div class="col-sm-4 head-filter">
        <div class="input-group input-group-round">
          <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-filter"></i>
                        </span>
          </div>
          <input type="search" class="form-control filter-list-input" placeholder="Müşteri Ara.."
                 [(ngModel)]="searchText">
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card mb-2" *ngIf="isMainFilterOpened">
      <div class="card-header">Filtreler</div>
      <div class="card-body bg-light">
        <div class="row">
          <div class="col-sm-3">
            <label class="col-form-label float-left">Başlangıç Tarihi</label>
          </div>
          <div class="col-sm-3">
            <div class="input-group">
              <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="d" #c="ngModel"
                     [(ngModel)]="filterBeginDate" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-sm btn-outline-secondary" (click)="d.toggle()" type="button"><i
                  class="fa fa-calendar"></i></button>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <label class="col-form-label float-left">Bitiş Tarihi</label>
          </div>
          <div class="col-sm-3">
            <div class="input-group">
              <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="d2" #c2="ngModel"
                     [(ngModel)]="filterFinishDate" ngbDatepicker #d2="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-sm btn-outline-secondary" (click)="d2.toggle()" type="button"><i
                  class="fa fa-calendar"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-2">
            <button type="button" class="btn btn-sm btn-success btn-block" (click)="btnMainFilter_Click()">Filtrele
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="mainList != undefined; else elseBlock2">
      <div class="row" *ngIf="mainList.length > 0; else elseBlock">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <canvas id="chart1"></canvas>
                </div>
              </div>
            </div>
            <div class="col-sm-12 mt-4">
              <div class="card">
                <div class="card-body">
                  <canvas id="chart2"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card-list-parent" *ngFor="let item of mainList | filterDataCustomerCustomer: searchText; index as i;">
            <div class="card mb-2 bg-light cursor-pointer"
                 (click)="showSelectedRecord(item)" title="Kaydı Göster">
              <i class="fa fa-ellipsis-h small-list-list-icon"></i>
              <div class="card-body">
                <img src="../../assets/images/okey_icon.png" width="20px" class="float-left mr-2" alt=""
                     *ngIf="item.visit.isVisited"/>
                <img src="../../assets/images/not_okey_icon.png" width="20px" class="float-left mr-2" alt=""
                     *ngIf="!item.visit.isVisited"/>
                <div>
                  <span class="text-red mr-2 text-small">{{item["customer"].data.code}}</span>
                  <span class="text-small">{{item["customer"].data.name}}</span>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="text-small text-dark float-left">{{item.employeeName}}</div>
                  </div>
                  <div class="col">
                    <div class="text-small text-dark float-right">{{item.visit.visitDate | date: 'yyyy.MM.dd'}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="card bg-red text-white">
          <div class="card-body">Görüntülenecek veri bulunamadı.</div>
        </div>
      </ng-template>
    </div>
    <ng-template #elseBlock2>
      <div class="loader"></div>
    </ng-template>
  </div>
</div>
<div class="card work-area" *ngIf="selectedRecord!=undefined">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-12">
        <img src="../../assets/images/visit-2.png" width="30px" class="float-left mr-2" alt="">
        <h4 class="card-title float-left mr-2">Ziyaret Detayı</h4>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Listeye Geri Dön"
                (click)="btnReturnList_Click()"><i class="fa fa-arrow-left"></i></button>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Json Göster"
                (click)="btnShowJsonData_Click()"><i class="fa fa-jsfiddle"></i></button>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left" title="Bilgiler"
                (click)="btnShowInfoModule_Click()"><i class="fa fa-info-circle"></i></button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form (ngSubmit)="btnSave_Click()" class="was-validated" #f="ngForm">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title float-left mr-2">Ziyaret</h5>
            </div>
            <div class="card-body work-area-2">
              <div class="row">
                <div class="col-sm-3">
                  <label class="col-form-label float-left" for="customerName">Müşteri</label>
                </div>
                <div class="col-sm-9">
                  <div class="input-group">
                    <input class="form-control form-control-sm" name="customerName" id="customerName"
                           [(ngModel)]="selectedRecord.customer?.data.name" disabled>
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-outline-secondary" type="button"
                              [disabled]="selectedRecord.visit.primaryKey!=undefined"
                              (click)="btnSelectCustomer_Click()">
                        <i class="far fa-arrow-alt-circle-right"></i></button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <label class="col-form-label float-left">Personel</label>
                </div>
                <div class="col-sm-9">
                  <select class="form-control form-control-sm w-100" id="employeePrimaryKey" name="employeePrimaryKey" required
                          [disabled]="selectedRecord.visit.primaryKey"
                          (change)="onChangeEmployee($event)"
                          [(ngModel)]="selectedRecord.visit.employeePrimaryKey">
                    <option value={{item.returnData.data.primaryKey}}
                            *ngFor="let item of profileList$ | async; index as i;">{{item.returnData.data.longName}}</option>
                  </select>
                  <div class="invalid-feedback invalid-input-info">Lütfen personel seçiniz.</div>
                </div>
                <div class="col-sm-3">
                  <label class="col-form-label float-left">Tarih</label>
                </div>
                <div class="col-sm-9">
                  <div class="input-group">
                    <input class="form-control form-control-sm" placeholder="yyyy-mm-dd"
                           [disabled]="selectedRecord.visit.primaryKey"
                           name="d2" #c2="ngModel" [(ngModel)]="recordDate" ngbDatepicker #d2="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-outline-secondary" (click)="d2.toggle()" type="button"
                              [disabled]="selectedRecord.visit.primaryKey"><i class="fa fa-calendar"></i></button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <label class="col-form-label float-left" for="description">Açıklama</label>
                </div>
                <div class="col-sm-9">
                        <textarea class="form-control form-control-sm w-100" id="description" name="description"
                                  type="text" cols="40" rows="2"
                                  [(ngModel)]="selectedRecord.visit.description"
                                  [disabled]="selectedRecord.visit.isVisited"></textarea>
                  <div class="invalid-feedback invalid-input-info">Lütfen not alanını doldurunuz.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title float-left mr-2">Ziyaret Sonuç</h5>
            </div>
            <div class="card-body work-area-2" *ngIf="selectedRecord.visit.isVisited; else elseBlock2">
              <div class="row">
                <div class="col-sm-3">
                  <label class="col-form-label float-left">Ziyaret Başlangıç</label>
                </div>
                <div class="col-sm-3">
                  <label class="col-form-label float-left">{{selectedRecord.visit.visitStartDate | date: 'yyyy.MM.dd HH:mm:ss'}}</label>
                </div>
                <div class="col-sm-3">
                  <label class="col-form-label float-left">Ziyaret Bitiş</label>
                </div>
                <div class="col-sm-3">
                  <label class="col-form-label float-left">{{selectedRecord.visit.visitFinishDate | date: 'yyyy.MM.dd HH:mm:ss'}}</label>
                </div>
                <div class="col-sm-3">
                  <label class="col-form-label float-left">Boylam</label>
                </div>
                <div class="col-sm-3">
                  <label class="col-form-label float-left">{{selectedRecord.visit.longitude}}</label>
                </div>
                <div class="col-sm-3">
                  <label class="col-form-label float-left">Enlem</label>
                </div>
                <div class="col-sm-3">
                  <label class="col-form-label float-left">{{selectedRecord.visit.latitude}}</label>
                </div>
                <div class="col-sm-3 mt-1">
                  <label class="col-form-label float-left" for="result">Sonuç</label>
                </div>
                <div class="col-sm-9 mt-1">
                        <textarea class="form-control form-control-sm w-100" id="result" name="result" type="text"
                                  cols="40" rows="2" [(ngModel)]="selectedRecord.visit.result"></textarea>
                  <div class="invalid-feedback invalid-input-info">Lütfen sonuç alanını doldurunuz.</div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm-12">
                  <agm-map [latitude]="selectedRecord.visit.latitude" [longitude]="selectedRecord.visit.longitude">
                    <agm-marker [latitude]="selectedRecord.visit.latitude" [longitude]="selectedRecord.visit.longitude"></agm-marker>
                  </agm-map>
                </div>
              </div>
            </div>
            <ng-template #elseBlock2>
              <div class="card-body">
                <div class="card bg-red text-white">
                  <div class="card-body">Görüntülenecek veri bulunamadı.</div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="col-sm-2 float-right">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text success-icon-side">
            <i class="fa fa-check" *ngIf="!onTransaction"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="onTransaction"></i>
          </span>
        </div>
        <button type="button" class="btn btn-sm btn-success form-control"
                [disabled]="onTransaction || !f.valid"
                (click)="btnSave_Click()">Kaydet
        </button>
      </div>
    </div>
    <div class="col-sm-2 float-left" *ngIf="selectedRecord.visit.primaryKey!=undefined">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text danger-icon-side">
            <i class="far fa-trash-alt" *ngIf="!onTransaction"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="onTransaction"></i>
          </span>
        </div>
        <button type="button" class="btn btn-sm btn-danger form-control"
                [disabled]="onTransaction"
                (click)="btnRemove_Click()">Kaldır
        </button>
      </div>
    </div>
  </div>
</div>
