<div class="card work-area" *ngIf="selectedRecord==undefined">
    <div class="card-header bg-gray-gradient">
        <div class="row">
            <div class="col-sm-8">
              <img src="../../assets/images/account_transactions.png" width="30px" class="float-left mr-2">
                <h4 class="card-title float-left mr-2">Tüm Cari Hareketler</h4>
                <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Geniş Filtre"
                        (click)="btnShowMainFiler_Click()" ><i class="fa fa-filter"></i></button>
            </div>
            <div class="col-sm-4 head-filter">
                <div class="input-group input-group-round">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-filter"></i>
                        </span>
                    </div>
                    <input type="search" class="form-control filter-list-input" placeholder="Hesap Hareketi Ara.." [(ngModel)]="searchText">
              </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card mb-2" *ngIf="isMainFilterOpened">
          <div class="card-header">Filtreler</div>
          <div class="card-body bg-light">
            <div class="row">
              <div class="col-sm-3">
                <label class="col-form-label float-left">Başlangıç Tarihi</label>
              </div>
              <div class="col-sm-3">
                <div class="input-group">
                  <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="d" #c="ngModel" [(ngModel)]="filterBeginDate" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-secondary" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <label class="col-form-label float-left">Bitiş Tarihi</label>
              </div>
              <div class="col-sm-3">
                <div class="input-group">
                  <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="d2" #c2="ngModel" [(ngModel)]="filterFinishDate" ngbDatepicker #d2="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-secondary" (click)="d2.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-2">
                <button type="button" class="btn btn-sm btn-success btn-block" (click)="btnMainFilter_Click()">Filtrele</button>
              </div>
            </div>
          </div>
        </div>
        <div class="list-group" *ngIf="mainList != undefined; else elseBlock">
                <div class="list-group-item bg-success text-light main-list-item">
                        <div class="row">
                            <div class="col-sm-3">Fiş Numarası</div>
                            <div class="col-sm-3">İşlem</div>
                            <div class="col-sm-2">Tutar</div>
                            <div class="col-sm-2">Tutar Tipi</div>
                            <div class="col-sm-2"><span class="float-right">Tarih</span></div>

                        </div>
                </div>
            <div class="list-group-item list-group-item-action main-list-item cursor-pointer"
                (click)="showSelectedRecord(item)"
                *ngFor="let item of mainList; index as i;">
                <div class="row">
                    <div class="col-sm-3">{{item.data.receiptNo}}</div>
                    <div class="col-sm-3">{{item.data.transactionType}}</div>
                    <div class="col-sm-2">{{item.data.amount | currency:'₺'}}</div>
                    <div class="col-sm-2">{{item.data.amountType}}</div>
                    <div class="col-sm-2"><span class="float-right">{{item.data.insertDate | date: 'yyyy.MM.dd'}}</span></div>
                </div>
            </div>
        </div>
        <ng-template #elseBlock>
            <div class="card bg-danger text-white">
              <div class="card-body">Görüntülenecek veri bulunamadı.</div>
            </div>
        </ng-template>
    </div>
</div>
<div class="card work-area" *ngIf="selectedRecord!=undefined">
  <div class="card-header">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="card-title float-left mr-2">Hareket Detayı</h4>
            <button class="btn btn-sm btn-round btn-outline-secondary float-left" title="Listeye Geri Dön" (click)="btnReturnList_Click()"><i class="fa fa-arrow-left"></i></button>
        </div>
    </div>
  </div>
  <div class="card-body work-area-3">
    <pre [innerHTML]="jsonData"></pre>
  </div>
  <div class="card-footer">
      <div class="col-sm-3">
          <button type="button" class="btn btn-sm btn-danger btn-block" (click)="btnRemove_Click()">Kaldır</button>
      </div>
  </div>
</div>
