<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-4">
        <img src="../../assets/images/dashboard.png" width="30px" class="float-left mr-2">
        <h5 class="card-title">Satış Pano</h5>
      </div>
    </div>
  </div>
  <div class="card-body bg-body dashboard-work-area">
    <div class="row mb-1">
      <div class="col-sm-3">
        <div id="panel-navigator">
          <div class="card card-stats bg-white">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon cursor-pointer" routerLink="/sales-offer" routerLinkActive="active" title="Modülü Aç">
                <img src="../../assets/images/sales_invoice.png" width="30px">
              </div>
              <p class="card-category">Satış Teklifi</p>
              <h5 class="card-title">{{totalValues.salesOfferAmount | currency:'₺'}}</h5>
            </div>
            <div class="card-footer">
              <div  class="stats">Aylık Onaylı İşlemler</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div id="panel-navigator">
          <div class="card card-stats bg-white">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon cursor-pointer" routerLink="/sales-order" routerLinkActive="active" title="Modülü Aç">
                <img src="../../assets/images/sales_invoice.png" width="30px">
              </div>
              <p class="card-category">Satış Siparişi</p>
              <h5 class="card-title">{{totalValues.salesOrderAmount | currency:'₺'}}</h5>
            </div>
            <div class="card-footer">
              <div  class="stats">Aylık Onaylı İşlemler</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div id="panel-navigator">
          <div class="card card-stats bg-white">
            <div class="card-header card-header-danger card-header-icon">
              <div class="card-icon cursor-pointer" routerLink="/sales-invoice" routerLinkActive="active" title="Modülü Aç">
                <img src="../../assets/images/sales_invoice.png" width="30px">
              </div>
              <p class="card-category">Satış Faturası</p>
              <h5 class="card-title">{{totalValues.salesInvoiceAmount | currency:'₺'}}</h5>
            </div>
            <div class="card-footer">
              <div  class="stats">Aylık Onaylı İşlemler</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div id="panel-navigator">
          <div class="card card-stats bg-white">
            <div class="card-header card-header-danger card-header-icon">
              <div class="card-icon cursor-pointer" routerLink="/collection" routerLinkActive="active" title="Modülü Aç">
                <img src="../../assets/images/collection.png" width="30px">
              </div>
              <p class="card-category">Tahsilat</p>
              <h5 class="card-title">{{totalValues.collectionAmount | currency:'₺'}}</h5>
            </div>
            <div class="card-footer">
              <div  class="stats">Aylık Onaylı İşlemler</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <canvas id="barChart"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <canvas id="lineChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>