<div class="card work-area">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-8">
              <h4 class="card-title float-left mr-2">Lokasyon Listesi</h4>
              <button class="btn btn-sm btn-round btn-outline-secondary float-left" title="Mevcut Lokasyon" (click)="showCurrentLocation()"><i class="fa fa-map-o"></i></button>
            </div>
            <div class="col-sm-4 head-filter">
                <div class="input-group input-group-round">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-filter"></i>
                        </span>
                    </div>
                    <input type="search" class="form-control filter-list-input" placeholder="Lokasyon Ara.." [(ngModel)]="searchText">
              </div>
            </div>
        </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
          <div *ngIf="mainList != undefined; else elseBlock2">
            <div class="row" *ngIf="mainList.length > 0; else elseBlock">
              <div class="col-sm-12" *ngFor="let item of mainList | filterDataLocation : searchText; index as i; trackBy: primaryKey">
                <div class="card-list-parent">
                  <div class="card mb-2 bg-light cursor-pointer"
                       (click)="showSelectedRecord(item)" title="Kaydı Göster">
                    <i class="fa fa-ellipsis-h small-list-list-icon"></i>
                    <div class="card-body">
                      <div class="font-weight-500 text-dark">{{item.data.name}}</div>
                      <div class="text-small text-dark">{{item.customerName}}</div>
                      <div class="text-small text-dark">{{item.data.address}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #elseBlock>
              <div class="card bg-danger text-white">
                <div class="card-body">Görüntülenecek veri bulunamadı.</div>
              </div>
            </ng-template>
          </div>
          <ng-template #elseBlock2>
            <div class="loader"></div>
          </ng-template>
        </div>
        <div class="col-sm-8">
          <div class="card">
            <div class="card-body">
              <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
