<nav >
    <div class="list-group">
        <a routerLink="/dashboard" class="list-group-item list-group-item-action list-group-item-light" routerLinkActive="active">
          <img src="../../assets/images/dashboard.png" width="30px"> Dashboard</a>
        <a routerLink="/customer" class="list-group-item list-group-item-action list-group-item-light" routerLinkActive="active">
          <img src="../../assets/images/customers.png" width="30px"> Customer</a>
        <a routerLink="/sales-invoice" class="list-group-item list-group-item-action list-group-item-light" routerLinkActive="active">
          <img src="../../assets/images/sales_invoice.png" width="30px"> Sales Invoice</a>
        <a routerLink="/collection" class="list-group-item list-group-item-action list-group-item-light" routerLinkActive="active">
          <img src="../../assets/images/collection.png" width="30px"> Collection</a>
        <a routerLink="/purchaseInvoice" class="list-group-item list-group-item-action list-group-item-light" routerLinkActive="active">
          <img src="../../assets/images/purchase_invoice.png" width="30px"> Purchase Invoice</a>
        <a routerLink="/payment" class="list-group-item list-group-item-action list-group-item-light" routerLinkActive="active">
          <img src="../../assets/images/payment.png" width="30px"> Payment</a>
        <a routerLink="/cash-desk" class="list-group-item list-group-item-action list-group-item-light" routerLinkActive="active">
          <img src="../../assets/images/cash-desks.png" width="30px"> Cash Desk</a>
      </div> 
</nav>