<nav >
    <div class="list-group">
        <a routerLink="/home" class="list-group-item list-group-item-action list-group-item-dark" routerLinkActive="active">Home</a>
        <a routerLink="/customer" class="list-group-item list-group-item-action list-group-item-dark" routerLinkActive="active">Customer</a>
        <a routerLink="/sales-invoice" class="list-group-item list-group-item-action list-group-item-dark" routerLinkActive="active">Sales Invoice</a>
        <a routerLink="/collection" class="list-group-item list-group-item-action list-group-item-dark" routerLinkActive="active">Collection</a>
        <a routerLink="/purchaseInvoice" class="list-group-item list-group-item-action list-group-item-dark" routerLinkActive="active">Purchase Invoice</a>
        <a routerLink="/payment" class="list-group-item list-group-item-action list-group-item-dark" routerLinkActive="active">Payment</a>
        <a routerLink="/cash-desk" class="list-group-item list-group-item-action list-group-item-dark" routerLinkActive="active">Cash Desk</a>
      </div> 
</nav>