<nav class="side-bar-work-area">
  <div class="list-group">
    <a routerLink="/dashboard" class="list-group-item list-group-item-action list-group-item-light"
       routerLinkActive="active">
      <img src="../../assets/images/dashboard.png" width="30px"> Pano</a>
    <a routerLink="/customer" class="list-group-item list-group-item-action list-group-item-light"
       routerLinkActive="active">
      <img src="../../assets/images/customers.png" width="30px"> Müşteri</a>
    <a routerLink="/crm" class="list-group-item list-group-item-action list-group-item-light" routerLinkActive="active">
      <img src="../../assets/images/crm_2.png" width="30px"> Müşteri İlişkileri</a>
    <a routerLink="/account-voucher" class="list-group-item list-group-item-action list-group-item-light"
       routerLinkActive="active">
      <img src="../../assets/images/account_voucher.png" width="30px"> Cari Fiş</a>
    <a routerLink="/sales-invoice" class="list-group-item list-group-item-action list-group-item-light"
       routerLinkActive="active">
      <img src="../../assets/images/sales_invoice.png" width="30px"> Satış Faturası</a>
    <a routerLink="/collection" class="list-group-item list-group-item-action list-group-item-light"
       routerLinkActive="active">
      <img src="../../assets/images/collection.png" width="30px"> Tahsilat</a>
    <a routerLink="/purchaseInvoice" class="list-group-item list-group-item-action list-group-item-light"
       routerLinkActive="active">
      <img src="../../assets/images/purchase_invoice.png" width="30px"> Alım Faturası</a>
    <a routerLink="/payment" class="list-group-item list-group-item-action list-group-item-light"
       routerLinkActive="active">
      <img src="../../assets/images/payment.png" width="30px"> Ödeme</a>
    <a routerLink="/cash-desk" class="list-group-item list-group-item-action list-group-item-light"
       routerLinkActive="active">
      <img src="../../assets/images/cash-desks.png" width="30px"> Kasa</a>
    <a routerLink="/cashdesk-voucher" class="list-group-item list-group-item-action list-group-item-light"
       routerLinkActive="active">
      <img src="../../assets/images/account_voucher.png" width="30px"> Kasa Fişi</a>
    <a routerLink="/note" class="list-group-item list-group-item-action list-group-item-light"
       routerLinkActive="active">
      <img src="../../assets/images/collection_term_on_day.png" width="30px"> Notlar</a>
    <a routerLink="/location" class="list-group-item list-group-item-action list-group-item-light"
       routerLinkActive="active">
      <img src="../../assets/images/location.png" width="30px"> Lokasyonlar</a>
    <a routerLink="/reports" class="list-group-item list-group-item-action list-group-item-light"
       routerLinkActive="active">
      <img src="../../assets/images/report_icon_2.png" width="30px"> Raporlar</a>
    <a routerLink="/notification" class="list-group-item list-group-item-action list-group-item-light"
       routerLinkActive="active">
      <img src="../../assets/images/report_icon_2.png" width="30px"> Bildirimler</a>
    <a routerLink="/user" class="list-group-item list-group-item-action list-group-item-light"
       routerLinkActive="active">
      <img src="../../assets/images/report_icon_2.png" width="30px"> Kullanıcılar</a>
    <a routerLink="/reminder" class="list-group-item list-group-item-action list-group-item-light"
       routerLinkActive="active">
      <img src="../../assets/images/report_icon_2.png" width="30px"> Hatırlatıcı</a>
    <a routerLink="/test" class="list-group-item list-group-item-action list-group-item-light"
       routerLinkActive="active">
      Test</a>
  </div>
</nav>
