<div class="card work-area">
  <div class="card-header">
    <img src="../../assets/images/file-upload.png" class="float-left mr-2" width="30px" alt="">
    <h4>Dosya Yükleme</h4>
  </div>
  <div class="card-body work-area-11">
    <div class="row">
      <div class="col-sm-6">
        <app-dropzone></app-dropzone>
      </div>
      <div class="col-sm-6">
        <div *ngIf="mainList != undefined; else elseBlock2">
          <div class="list-group mb-2" *ngIf="mainList.length > 0; else elseBlock">
            <div class="list-group-item bg-success text-light main-list-item">
              <div class="row">
                <div class="col-sm-9">Dosya Adı</div>
                <div class="col-sm-3"><span class="float-right">Boyut</span></div>
              </div>
            </div>
            <div class="list-group-item list-group-item-action main-list-item"
                 *ngFor="let item of mainList; index as i;">
              <div class="row">
                <div class="col-sm-9">
                  <img src="../../assets/icons/remove-icon.png" alt="Dosyayı Sil" width="24px" class="cursor-pointer mr-2"
                       (click)="btnRemoveFile_Click(item)">
                  <a [href]="item.data.downloadURL" target="_blank" rel="noopener" class="cursor-pointer mr-2">
                    <img [src]="item.fileIcon" width="24px">
                  </a>
                  {{item.data.fileName}}
                </div>
                <div class="col-sm-3"><span class="float-right">{{item?.data?.size/1024 | number:'1.2-2'}} KB</span></div>
              </div>
            </div>
          </div>
          <ng-template #elseBlock>
            <div class="card bg-danger text-white">
              <div class="card-body">Görüntülenecek veri bulunamadı.</div>
            </div>
          </ng-template>
        </div>
        <ng-template #elseBlock2>
          <div class="loader"></div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
