<div class="card">
  <div class="card-header">
    <h5>Dosya Yükleme</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">

      </div>
      <div class="col-sm-6">

        <div class="dropzone"
             appDropzone
             (hovered)="toggleHover($event)"
             (dropped)="onDrop($event)"
             [class.hovering]="isHovering">
          <h3>AngularFire Drop Zone</h3>
          <p>Drag and Drop a File</p>
        </div>

        <h3>Uploads</h3>

        <div *ngFor="let file of files">
          <app-upload-task [file]="file"></app-upload-task>
        </div>
      </div>
    </div>
  </div>
</div>
