<div class="card work-area" *ngIf="selectedRecord==undefined">
  <div class="card-header bg-gray-gradient">
    <div class="row">
      <div class="col-sm-8">
        <img src="../../assets/images/account_voucher.png" width="30px" class="float-left mr-2">
        <h4 class="card-title float-left mr-2">Kasa Fiş Listesi</h4>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Yeni Fiş"
                (click)="btnNew_Click()"><i class="fa fa-plus"></i></button>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Geniş Filtre"
                (click)="btnShowMainFiler_Click()"><i class="fa fa-filter"></i></button>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Excel'e Aktar"
                (click)="btnExportToExcel_Click()"><i class="fas fa-file-excel"></i></button>
      </div>
      <div class="col-sm-4 head-filter">
        <div class="input-group input-group-round">
          <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-filter"></i>
                        </span>
          </div>
          <input type="search" class="form-control filter-list-input" placeholder="Kasa Fişi Ara.."
                 [(ngModel)]="searchText">
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card mb-2" *ngIf="isMainFilterOpened">
      <div class="card-header">Filtreler</div>
      <div class="card-body bg-light">
        <div class="row">
          <div class="col-sm-3">
            <label class="col-form-label float-left">Başlangıç Tarihi</label>
          </div>
          <div class="col-sm-3">
            <div class="input-group">
              <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="d" #c="ngModel"
                     [(ngModel)]="filterBeginDate" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-sm btn-outline-secondary" (click)="d.toggle()" type="button"><i
                  class="fa fa-calendar"></i></button>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <label class="col-form-label float-left">Bitiş Tarihi</label>
          </div>
          <div class="col-sm-3">
            <div class="input-group">
              <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="d2" #c2="ngModel"
                     [(ngModel)]="filterFinishDate" ngbDatepicker #d2="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-sm btn-outline-secondary" (click)="d2.toggle()" type="button"><i
                  class="fa fa-calendar"></i></button>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <label class="col-form-label float-left">Durum</label>
          </div>
          <div class="col-sm-3">
            <select class="form-control form-control-sm w-100"
                    [(ngModel)]="filterStatus">
              <option value="-1">Hepsi</option>
              <option value="waitingForApprove">Tek Sefer</option>
              <option value="approved">Günlük</option>
              <option value="rejected">Aylık</option>
            </select>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-2">
            <button type="button" class="btn btn-sm btn-success btn-block" (click)="btnMainFilter_Click()">Filtrele
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="mainList != undefined; else elseBlock2">
      <div class="table-responsive work-area-11" *ngIf="mainList.length > 0; else elseBlock">
        <table class="table table-bordered table-striped table-hover">
          <thead>
          <tr class="table-row-class">
            <th>Fiş Numarası</th>
            <th>Tip</th>
            <th>Ana Kasa</th>
            <th>Hedef Kasa</th>
            <th><span class="float-right">Tutar</span></th>
            <th><span class="float-right">Kayıt Tarihi</span></th>
            <th><span class="float-right">Bilgi</span></th>
          </tr>
          </thead>
          <tbody>
          <tr class="cursor-pointer table-row-class"
              (click)="showSelectedRecord(item)" title="Kaydı Görüntüle"
              *ngFor="let item of mainList | filterCashDeskVoucher: searchText; index as i;">
            <td>
              <i class="far fa-arrow-alt-circle-right mr-2 text-red"></i>
              <span class="text-red font-weight-600 mr-1">{{item.data.receiptNo}}</span>
            </td>
            <td>{{item.typeTr}}</td>
            <td>{{item.casDeskName}}</td>
            <td *ngIf="item.data.secondCashDeskPrimaryKey !=='-1'">{{item.secondCashDeskName}}</td>
            <td *ngIf="item.data.secondCashDeskPrimaryKey ==='-1'"><i class="fa fa-times-circle mr-2 text-danger"></i></td>
            <td><span class="float-right">{{item.data.amount | currency:'₺'}}</span></td>
            <td><span class="float-right">{{item.data.recordDate | date: 'yyyy.MM.dd'}}</span></td>
            <td>
              <i class="fas fa-check mr-2 text-secondary float-right" *ngIf="item.data.status === 'waitingForApprove'" title="Onay Bekliyor"></i>
              <i class="far fa-thumbs-up mr-2 text-success float-right" *ngIf="item.data.status === 'approved'" title="Onaylandı"></i>
              <i class="far fa-thumbs-down mr-2 text-danger float-right" *ngIf="item.data.status === 'rejected'" title="Reddedildi"></i>
              <i class="fas fa-ban mr-2 text-danger float-right" *ngIf="item.data.status === 'canceled'" title="İptal Edildi"></i>
              <i class="fas fa-ban mr-2 text-default float-right" *ngIf="item.data.status === 'closed'" title="Kapatıldı"></i>
              <i class="fab fa-buromobelexperte mr-2 text-secondary float-right" *ngIf="item.data.status === 'portion'" title="Parçalı Kayıt"></i>
              <i class="far fa-check-circle mr-2 text-success float-right" *ngIf="item.data.status === 'done'" title="Tamamlandı"></i>
              <i class="fas fa-wifi mr-2 text-yellow float-right" *ngIf="item.data.platform === 'web'" title="Web"></i>
              <i class="fas fa-mobile mr-2 text-purple float-right" *ngIf="item.data.platform === 'mobile'" title="Mobil"></i>
            </td>
          </tr>
          <tr class="table-success table-row-class">
            <td colspan="4">Toplam</td>
            <td><span class="float-right">{{totalValues.amount | currency:'₺'}}</span></td>
            <td colspan="2"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <ng-template #elseBlock>
        <div class="card bg-red text-white">
          <div class="card-body">Görüntülenecek veri bulunamadı.</div>
        </div>
      </ng-template>
    </div>
    <ng-template #elseBlock2>
      <div class="loader"></div>
    </ng-template>
  </div>
</div>
<div class="card work-area" *ngIf="selectedRecord!=undefined">
  <div class="card-header bg-gray-gradient">
    <div class="row">
      <div class="col-sm-8">
        <img src="../../assets/images/account_voucher.png" width="30px" class="float-left mr-2">
        <h4 class="card-title float-left mr-2">Fiş Detayı</h4>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left" title="Listeye Geri Dön"
                (click)="btnReturnList_Click()"><i class="fa fa-arrow-left"></i></button>
      </div>
      <div class="col-sm-4">
        <i class="float-right" [ngClass]="isRecordHasTransaction ? 'pulse-green' : 'pulse-red'"></i>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form (ngSubmit)="btnSave_Click()" class="was-validated" #f="ngForm">
      <div class="form-row form-inline">
        <div class="col-sm-3">
          <label class="col-form-label float-left" for="type">Fiş Tipi</label>
        </div>
        <div class="col-sm-3">
          <select class="form-control form-control-sm w-100" id="type" name="type" required
                  (change)="onChangeVoucherType($event.target.value)"
                  [disabled]="selectedRecord.data.primaryKey!=undefined"
                  [(ngModel)]="selectedRecord.data.type">
            <option value="open">Açılış</option>
            <option value="transfer">Transfer</option>
            <option value="voucher">Fiş</option>
          </select>
          <div class="invalid-feedback invalid-input-info">Lütfen tip seçiniz.</div>
        </div>
        <div class="col-sm-3">
          <label class="col-form-label float-left" for="transactionType">İşlem Tipi</label>
        </div>
        <div class="col-sm-3">
          <select class="form-control form-control-sm w-100" id="transactionType" name="transactionType" required
                  [disabled]="selectedRecord.data.primaryKey!=undefined"
                  [(ngModel)]="selectedRecord.data.transactionType">
            <option value="credit">Alacaklandırma</option>
            <option value="debit">Borçlandırma</option>
          </select>
          <div class="invalid-feedback invalid-input-info">Lütfen işlem seçiniz.</div>
        </div>
        <div class="col-sm-3">
          <label class="col-form-label float-left" for="firstCashDeskPrimaryKey">Ana Kasa</label>
        </div>
        <div class="col-sm-3">
          <select class="form-control form-control-sm w-100" id="firstCashDeskPrimaryKey" name="firstCashDeskPrimaryKey"
                  required
                  [disabled]="selectedRecord.data.primaryKey!=undefined"
                  [(ngModel)]="selectedRecord.data.firstCashDeskPrimaryKey">
            <option value={{item.returnData.data.primaryKey}}
                    *ngFor="let item of cashDeskList$ | async; index as i;">{{item.returnData.data.name}}</option>
          </select>
          <div class="invalid-feedback invalid-input-info">Lütfen kasa seçiniz.</div>
        </div>
        <div class="col-sm-3">
          <label class="col-form-label float-left" for="secondCashDeskPrimaryKey">Karşı Kasa</label>
        </div>
        <div class="col-sm-3">
          <select class="form-control form-control-sm w-100" id="secondCashDeskPrimaryKey"
                  name="secondCashDeskPrimaryKey" required
                  [disabled]="selectedRecord.data.type == 'open'"
                  [(ngModel)]="selectedRecord.data.secondCashDeskPrimaryKey">
            <option value="-1">Kasa Seçilmedi</option>
            <option value={{item.returnData.data.primaryKey}}
                    *ngFor="let item of cashDeskList$ | async; index as i;">{{item.returnData.data.name}}</option>
          </select>
          <div class="invalid-feedback invalid-input-info">Lütfen kasa seçiniz.</div>
        </div>
        <div class="col-sm-3">
          <label class="col-form-label float-left" for="receiptNo">Fiş Numarası</label>
        </div>
        <div class="col-sm-3">
          <input class="form-control form-control-sm w-100" id="receiptNo" name="receiptNo" type="text"
                 [(ngModel)]="selectedRecord.data.receiptNo" required>
          <div class="invalid-feedback invalid-input-info">Lütfen alanı doldurunuz.</div>
        </div>
        <div class="col-sm-3">
          <label class="col-form-label float-left">Döküman Tarihi</label>
        </div>
        <div class="col-sm-3">
          <div class="input-group">
            <input class="form-control form-control-sm" id="recordDate" placeholder="yyyy-mm-dd" name="d3" #c3="ngModel"
                   [(ngModel)]="recordDate" ngbDatepicker #d3="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-sm btn-outline-secondary" (click)="d3.toggle()" type="button"><i
                class="fa fa-calendar"></i></button>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <label class="col-form-label float-left" for="amount">Tutar</label>
        </div>
        <div class="col-sm-3">
          <input class="form-control form-control-sm w-100" id="amount" name="amount" type="text"
                 (focus)="focus_amount()"
                 (blur)="format_amount($event)"
                 [(ngModel)]="selectedRecord.amountFormatted">
        </div>
        <div class="col-sm-3">
          <label class="col-form-label float-left">Durum</label>
        </div>
        <div class="col-sm-3">
          <label class="col-form-label float-left">{{selectedRecord.statusTr}}</label>
        </div>
        <div class="col-sm-3">
          <label class="col-form-label float-left" for="description">Açıklama</label>
        </div>
        <div class="col-sm-9">
          <input class="form-control form-control-sm w-100" id="description" name="description" type="text"
                 [(ngModel)]="selectedRecord.data.description">
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="col-sm-2 float-right" *ngIf="selectedRecord.data.status === 'waitingForApprove'">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text success-icon-side">
            <i class="fa fa-check" *ngIf="!onTransaction"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="onTransaction"></i>
          </span>
        </div>
        <button type="button" class="btn btn-sm btn-success form-control"
                [disabled]="onTransaction || !f.valid"
                (click)="btnSave_Click()">Kaydet
        </button>
      </div>
    </div>
    <div class="col-sm-2 float-right" *ngIf="selectedRecord.data.primaryKey!=undefined && selectedRecord.data.status === 'waitingForApprove'">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text success-icon-side">
            <i class="fa fa-thumbs-up" *ngIf="!onTransaction"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="onTransaction"></i>
          </span>
        </div>
        <button type="button" class="btn btn-sm btn-success form-control"
                [disabled]="onTransaction"
                (click)="btnApprove_Click()">Onayla
        </button>
      </div>
    </div>
    <div class="col-sm-2 float-left" *ngIf="selectedRecord.data.primaryKey!=undefined">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text danger-icon-side">
            <i class="far fa-trash-alt" *ngIf="!onTransaction"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="onTransaction"></i>
          </span>
        </div>
        <button type="button" class="btn btn-sm btn-danger form-control"
                [disabled]="onTransaction"
                (click)="btnRemove_Click()">Kaldır
        </button>
      </div>
    </div>
    <div class="col-sm-2 float-left" *ngIf="selectedRecord.data.primaryKey!=undefined && selectedRecord.data.status === 'waitingForApprove'">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text danger-icon-side">
            <i class="fa fa-thumbs-down" *ngIf="!onTransaction"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="onTransaction"></i>
          </span>
        </div>
        <button type="button" class="btn btn-sm btn-danger form-control"
                [disabled]="onTransaction"
                (click)="btnReject_Click()">Geri Çevir
        </button>
      </div>
    </div>
    <div class="col-sm-2 float-left" *ngIf="selectedRecord.data.primaryKey!=undefined && selectedRecord.data.status === 'approved'">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text danger-icon-side">
            <i class="fa fa-thumbs-down" *ngIf="!onTransaction"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="onTransaction"></i>
          </span>
        </div>
        <button type="button" class="btn btn-sm btn-danger form-control"
                [disabled]="onTransaction"
                (click)="btnReturnRecord_Click()">İptal Et
        </button>
      </div>
    </div>
  </div>
</div>
