<div class="work-area" *ngIf="selectedRecord==undefined">
  <div class="card">
    <div class="card-header bg-gray-gradient">
      <div class="d-flex align-items-center">
        <div class="flex-grow-1">
          <img src="../../assets/images/todo.png" width="30px" alt="" class="float-left mr-2">
          <h5 class="card-title float-left mr-2">Yapılacak Listesi</h5>
        </div>
        <div class="head-filter mr-1">
          <div class="input-group input-group-round">
            <div class="input-group-prepend">
                          <span class="input-group-text">
                              <i class="fa fa-filter"></i>
                          </span>
            </div>
            <input type="search" class="form-control filter-list-input" placeholder="Kayıt Ara.." [(ngModel)]="searchText">
          </div>
        </div>
        <div class="head-filter">
          <button type="button" class="btn btn-light input-button" (click)="btnNew_Click()">
            <i class="fa fa-plus text-secondary"></i> Yeni Kayıt Oluştur
          </button>
        </div>
        <div class="head-filter">
          <div class="dropdown">
            <button type="button" class="btn btn-light input-dropdown dropdown-toggle" data-toggle="dropdown">
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item cursor-pointer" (click)="btnShowMainFiler_Click()">Geniş Filtre</a>
              <a class="dropdown-item cursor-pointer" (click)="btnExportToExcel_Click()">Excel'e Aktar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="mainList != undefined; else elseBlock2">
      <div class="main-list" *ngIf="mainList.length > 0; else elseBlock">
        <div class="main-list-item" *ngFor="let item of mainList | filterMail: searchText; index as i;">
          <div class="icon cursor-pointer" title="Kayıt Göster" (click)="showSelectedRecord(item)">
            <i class="fas fa-file-alt fa-2x text-danger"></i>
          </div>
          <div class="content">
            <div class="row-1">
              <div class="w-100">
                <span class="font-weight-600 mr-1" title="Alıcı">{{item.data.todoText}}</span>
              </div>
          </div>
          <div class="row-2">
            <div class="w-66">
              <span class="badge badge-danger" title="Personel">{{item.employee.longName}}</span>
              <span class="badge badge-warning" title="Aktiflik Durumu">{{item.isActiveTr}}</span>
            </div>
          </div>
        </div>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="card bg-red text-white m-3">
          <div class="card-body">Görüntülenecek veri bulunamadı.</div>
        </div>
      </ng-template>
    </div>
    <ng-template #elseBlock2>
      <div class="card">
        <div class="card-body">
          <div class="loader"></div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
<div class="card work-area" *ngIf="selectedRecord!=undefined">
  <div class="card-header bg-gray-gradient">
    <div class="d-flex align-items-center">
      <div class="flex-grow-1">
        <img src="../../assets/images/todo.png" width="30px" alt="" class="float-left mr-2">
        <h5 class="card-title float-left mr-2">İşlem > 
          <span *ngIf="!selectedRecord.data.primaryKey">Yeni Kayıt</span>
          <span *ngIf="selectedRecord.data.primaryKey">Görüntüleme</span>
        </h5>
      </div>
      <div class="head-filter">
        <button type="button" class="btn btn-light input-button" (click)="btnReturnList_Click()">
          <i class="fa fa-arrow-left text-secondary"></i> Listeye Geri Dön
        </button>
      </div>
      <div class="head-filter">
        <div class="dropdown">
          <button type="button" class="btn btn-light input-dropdown dropdown-toggle" data-toggle="dropdown">
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item cursor-pointer" (click)="btnShowJsonData_Click()">
              <i class="fa fa-jsfiddle text-secondary"></i> Json Göster
            </a>
            <a class="dropdown-item cursor-pointer" (click)="btnShowInfoModule_Click()">
              <i class="fa fa-info-circle text-secondary"></i> Bilgiler
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="openedPanel=='mainPanel'">
      <form (ngSubmit)="btnSave_Click()" class="was-validated">
        <div class="row form-inline">
          <div class="col-sm-3">
            <label class="col-form-label float-left" for="isActive">Aktif Durumu</label>
          </div>
          <div class="col-sm-3">
            <select class="form-control form-control-sm w-100" id="isActive" name="isActive"
                    [disabled]="selectedRecord.data.primaryKey && selectedRecord.data.isActive === false"
                    [(ngModel)]="selectedRecord.data.isActive">
              <option value="true">Aktif</option>
              <option value="false">Pasif</option>
            </select>
          </div>
          <div class="col-sm-6"></div>
          <div class="col-sm-3 mb-2">
            <label class="col-form-label float-left" for="todoText">Açıklama</label>
          </div>
          <div class="col-sm-9 mb-2">
            <textarea class="form-control form-control-sm w-100" id="todoText" name="todoText" type="text"
                      cols="40" rows="5"
                      [(ngModel)]="selectedRecord.data.todoText"
                      [disabled]="selectedRecord.data.primaryKey!=undefined && !selectedRecord.data.isActive"
                      required></textarea>
            <div class="invalid-feedback">Lütfen açıklama alanını doldurunuz.</div>
          </div>
          <div class="col-sm-3" *ngIf="selectedRecord.data.primaryKey!=undefined">
            <label class="col-form-label float-left" for="result">Sonuç</label>
          </div>
          <div class="col-sm-9" *ngIf="selectedRecord.data.primaryKey!=undefined">
            <textarea class="form-control form-control-sm w-100" id="result" name="result" type="text"
                      cols="40" rows="5" [(ngModel)]="selectedRecord.data.result"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card-footer" *ngIf="openedPanel=='mainPanel'">
    <div class="btn-action float-right">
    <div class="input-group">
      <div class="input-group-prepend">
          <span class="input-group-text success-icon-side">
            <i class="fa fa-check" *ngIf="!onTransaction"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="onTransaction"></i>
          </span>
      </div>
      <button type="button" class="btn btn-sm btn-success form-control"
              [disabled]="onTransaction"
              (click)="btnSave_Click()">Kaydet
      </button>
    </div>
  </div>
    <div class="btn-action float-left" *ngIf="selectedRecord.data.primaryKey!=undefined">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text danger-icon-side">
            <i class="far fa-trash-alt" *ngIf="!onTransaction"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="onTransaction"></i>
          </span>
        </div>
        <button type="button" class="btn btn-sm btn-danger form-control"
                [disabled]="onTransaction"
                (click)="btnRemove_Click()">Kaldır
        </button>
      </div>
    </div>
  </div>
</div>
