.navbar .collapse .navbar-nav .nav-item .nav-link .notification {
    top: 0;
}
.navbar .notification {
    position: absolute;
    top: 5px;
    border: 1px solid #fff;
    right: 0px;
    font-size: 10px;
    background: #f44336;
    color: #fff;
    min-width: 20px;
    padding: 0 5px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 18px;
    vertical-align: middle;
    display: block;
}
.panelHeightControl {
    max-height: 380px;
    overflow-y: scroll;
  scrollbar-width: thin;
}

@media (min-width: 576px) { /*xs*/
    .notificationHeaderPanel {
        position: absolute;
        right: 15px;
        top: 65px;
        width: 320px;
        z-index: 1001
    }
}

@media (min-width: 768px) { /*sm*/
    .notificationHeaderPanel {
        position: absolute;
        right: 15px;
        top: 65px;
        width: 320px;
        z-index: 1001
    }
}

@media (min-width: 992px) { /*md*/
    .notificationHeaderPanel {
        position: absolute;
        right: 15px;
        top: 65px;
        width: 320px;
        z-index: 1001
    }
}

@media (min-width: 1200px) { /*lg*/
    .notificationHeaderPanel {
        position: absolute;
        right: 15px;
        top: 65px;
        width: 320px;
        z-index: 1001
    }
}

@media (min-width: 1349px) { /*lg*/
    .notificationHeaderPanel {
        position: absolute;
        right: 15px;
        top: 65px;
        width: 320px;
        z-index: 1001
    }
}

@media (min-width: 1920px) { /*xlg*/
    .notificationHeaderPanel {
        position: absolute;
        right: 15px;
        top: 65px;
        width: 350px;
        z-index: 1001
    }
}

  /*--------------------sidebar-header----------------------*/

  .sidebar-wrapper .sidebar-header {
    padding-right: 10px;
    overflow: hidden;
    color: #b8bfce;
  }

  .sidebar-wrapper .sidebar-header .user-pic {
    float: left;
    width: 50px;
    padding: 2px;
    border-radius: 12px;
    overflow: hidden;
    color: #b8bfce;
  }

  .sidebar-wrapper .sidebar-header .user-pic img {
    object-fit: cover;
    height: 100%;
    width: 39px;
  }

  .sidebar-wrapper .sidebar-header .user-info {
    float: left;
    color: #b8bfce;
  }

  .sidebar-wrapper .sidebar-header .user-info > span {
    display: block;
    color: #b8bfce;
  }

  .sidebar-wrapper .sidebar-header .user-info .user-role {
    font-size: 12px;
    color: #b8bfce;
  }

  .sidebar-wrapper .sidebar-header .user-info .user-status {
    font-size: 11px;
    margin-top: 4px;
    color: #b8bfce;
  }

  .sidebar-wrapper .sidebar-header .user-info .user-status i {
    font-size: 8px;
    margin-right: 4px;
    color: #5cb85c;
  }