
/*list*/
.card-list {
    margin-bottom: 0.75rem;
    border-radius: 0.5rem;
    padding: 1rem;
    background: #dee2e6;
}
.card-list .card-list-head {
    display: flex;
    justify-content: space-between;
}
.btn-options {
    color: #6c757d;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.dropdown-menu-right {
    right: 0;
    left: auto;
}
.card > .progress {
    height: 0.1875rem;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.progress {
    display: flex;
    height: 0.375rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #dee2e6;
    border-radius: 20rem;
}
.card > .progress .progress-bar {
    height: 1rem;
    border-radius: .5rem 0 0 0;
}
.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width 0.6s ease;
}
.card-body .card-options {
    position: absolute;
    top: 1.5rem;
    right: 0.75rem;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.75rem;
    font-weight: 500;
    line-height: 1.2;
    color: #212529;
}

