<div class="row">
    <div class="col-sm-12">

        <div class="content-list-body">
                <div class="card-list">
                  <div class="card-list-head">
                    <h6>Evaluation</h6>
                    <div class="dropdown">
                      <button class="btn-options" type="button" id="cardlist-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Rename</a>
                        <a class="dropdown-item text-danger" href="#">Archive</a>
                      </div>
                    </div>
                  </div>
                  <div class="card-list-body filter-list-1569336667934"><div class="card card-task">
                      <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="card-body">
                        <div class="card-title">
                          <a href="#">
                            <h6 data-filter-by="text" class="H6-filter-by-text">Client objective meeting</h6>
                          </a>
                          <span class="text-small">Today</span>
                        </div>
                        <div class="card-meta">
                          <ul class="avatars">

                            <li>
                              <a href="#" data-toggle="tooltip" title="" data-original-title="Kenny">
                                <img alt="Kenny Tran" class="avatar" src="assets/img/avatar-male-6.jpg">
                              </a>
                            </li>

                            <li>
                              <a href="#" data-toggle="tooltip" title="" data-original-title="David">
                                <img alt="David Whittaker" class="avatar" src="assets/img/avatar-male-4.jpg">
                              </a>
                            </li>

                            <li>
                              <a href="#" data-toggle="tooltip" title="" data-original-title="Sally">
                                <img alt="Sally Harper" class="avatar" src="assets/img/avatar-female-3.jpg">
                              </a>
                            </li>

                            <li>
                              <a href="#" data-toggle="tooltip" title="Kristina">
                                <img alt="Kristina Van Der Stroem" class="avatar" src="assets/img/avatar-female-4.jpg">
                              </a>
                            </li>

                            <li>
                              <a href="#" data-toggle="tooltip" title="" data-original-title="Claire">
                                <img alt="Claire Connors" class="avatar" src="assets/img/avatar-female-1.jpg">
                              </a>
                            </li>

                            <li>
                              <a href="#" data-toggle="tooltip" title="Marcus">
                                <img alt="Marcus Simmons" class="avatar" src="assets/img/avatar-male-1.jpg">
                              </a>
                            </li>

                          </ul>
                          <div class="d-flex align-items-center">
                            <i class="material-icons">playlist_add_check</i>
                            <span>3/4</span>
                          </div>
                          <div class="dropdown card-options">
                            <button class="btn-options" type="button" id="task-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="material-icons">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#">Mark as done</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item text-danger" href="#">Archive</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><div class="card card-task">
                      <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="card-body">
                        <div class="card-title">
                          <a href="#">
                            <h6 data-filter-by="text" class="H6-filter-by-text">Target market trend analysis</h6>
                          </a>
                          <span class="text-small">5 days</span>
                        </div>
                        <div class="card-meta">
                          <ul class="avatars">

                            <li>
                              <a href="#" data-toggle="tooltip" title="Peggy">
                                <img alt="Peggy Brown" class="avatar" src="assets/img/avatar-female-2.jpg">
                              </a>
                            </li>

                            <li>
                              <a href="#" data-toggle="tooltip" title="David">
                                <img alt="David Whittaker" class="avatar" src="assets/img/avatar-male-4.jpg">
                              </a>
                            </li>

                          </ul>
                          <div class="d-flex align-items-center">
                            <i class="material-icons">playlist_add_check</i>
                            <span>2/10</span>
                          </div>
                          <div class="dropdown card-options">
                            <button class="btn-options" type="button" id="task-dropdown-button-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="material-icons">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#">Mark as done</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item text-danger" href="#">Archive</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><div class="card card-task">
                      <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="card-body">
                        <div class="card-title">
                          <a href="#">
                            <h6 data-filter-by="text" class="H6-filter-by-text">Assemble Outcomes Report for client</h6>
                          </a>
                          <span class="text-small">7 days</span>
                        </div>
                        <div class="card-meta">
                          <ul class="avatars">

                            <li>
                              <a href="#" data-toggle="tooltip" title="Marcus">
                                <img alt="Marcus Simmons" class="avatar" src="assets/img/avatar-male-1.jpg">
                              </a>
                            </li>

                            <li>
                              <a href="#" data-toggle="tooltip" title="Claire">
                                <img alt="Claire Connors" class="avatar" src="assets/img/avatar-female-1.jpg">
                              </a>
                            </li>

                            <li>
                              <a href="#" data-toggle="tooltip" title="David">
                                <img alt="David Whittaker" class="avatar" src="assets/img/avatar-male-4.jpg">
                              </a>
                            </li>

                          </ul>
                          <div class="d-flex align-items-center">
                            <i class="material-icons">playlist_add_check</i>
                            <span>0/6</span>
                          </div>
                          <div class="dropdown card-options">
                            <button class="btn-options" type="button" id="task-dropdown-button-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="material-icons">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#">Mark as done</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item text-danger" href="#">Archive</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div></div>
                </div>
                <div class="card-list">
                  <div class="card-list-head">
                    <h6>Ideation</h6>
                    <div class="dropdown">
                      <button class="btn-options" type="button" id="cardlist-dropdown-button-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Rename</a>
                        <a class="dropdown-item text-danger" href="#">Archive</a>
                      </div>
                    </div>
                  </div>
                  <div class="card-list-body filter-list-1569336667936"><div class="card card-task">
                      <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="card-body">
                        <div class="card-title">
                          <a href="#">
                            <h6 data-filter-by="text" class="H6-filter-by-text">Create brand mood boards</h6>
                          </a>
                          <span class="text-small">14 days</span>
                        </div>
                        <div class="card-meta">
                          <ul class="avatars">

                            <li>
                              <a href="#" data-toggle="tooltip" title="Sally">
                                <img alt="Sally Harper" class="avatar" src="assets/img/avatar-female-3.jpg">
                              </a>
                            </li>

                            <li>
                              <a href="#" data-toggle="tooltip" title="Claire">
                                <img alt="Claire Connors" class="avatar" src="assets/img/avatar-female-1.jpg">
                              </a>
                            </li>

                          </ul>
                          <div class="d-flex align-items-center">
                            <i class="material-icons">playlist_add_check</i>
                            <span>1/4</span>
                          </div>
                          <div class="dropdown card-options">
                            <button class="btn-options" type="button" id="task-dropdown-button-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="material-icons">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#">Mark as done</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item text-danger" href="#">Archive</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><div class="card card-task">
                      <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="card-body">
                        <div class="card-title">
                          <a href="#">
                            <h6 data-filter-by="text" class="H6-filter-by-text">Produce broad concept directions</h6>
                          </a>
                          <span class="text-small">21 days</span>
                        </div>
                        <div class="card-meta">
                          <ul class="avatars">

                            <li>
                              <a href="#" data-toggle="tooltip" title="Peggy">
                                <img alt="Peggy Brown" class="avatar" src="assets/img/avatar-female-2.jpg">
                              </a>
                            </li>

                            <li>
                              <a href="#" data-toggle="tooltip" title="David">
                                <img alt="David Whittaker" class="avatar" src="assets/img/avatar-male-4.jpg">
                              </a>
                            </li>

                            <li>
                              <a href="#" data-toggle="tooltip" title="Ravi">
                                <img alt="Ravi Singh" class="avatar" src="assets/img/avatar-male-3.jpg">
                              </a>
                            </li>

                            <li>
                              <a href="#" data-toggle="tooltip" title="Sally">
                                <img alt="Sally Harper" class="avatar" src="assets/img/avatar-female-3.jpg">
                              </a>
                            </li>

                          </ul>
                          <div class="d-flex align-items-center">
                            <i class="material-icons">playlist_add_check</i>
                            <span>0/5</span>
                          </div>
                          <div class="dropdown card-options">
                            <button class="btn-options" type="button" id="task-dropdown-button-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="material-icons">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#">Mark as done</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item text-danger" href="#">Archive</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><div class="card card-task">
                      <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="card-body">
                        <div class="card-title">
                          <a href="#">
                            <h6 data-filter-by="text" class="H6-filter-by-text">Present concepts and establish direction</h6>
                          </a>
                          <span class="text-small">28 days</span>
                        </div>
                        <div class="card-meta">
                          <ul class="avatars">

                            <li>
                              <a href="#" data-toggle="tooltip" title="Kristina">
                                <img alt="Kristina Van Der Stroem" class="avatar" src="assets/img/avatar-female-4.jpg">
                              </a>
                            </li>

                            <li>
                              <a href="#" data-toggle="tooltip" title="Peggy">
                                <img alt="Peggy Brown" class="avatar" src="assets/img/avatar-female-2.jpg">
                              </a>
                            </li>

                            <li>
                              <a href="#" data-toggle="tooltip" title="Ravi">
                                <img alt="Ravi Singh" class="avatar" src="assets/img/avatar-male-3.jpg">
                              </a>
                            </li>

                          </ul>
                          <div class="d-flex align-items-center">
                            <i class="material-icons">playlist_add_check</i>
                            <span>0/3</span>
                          </div>
                          <div class="dropdown card-options">
                            <button class="btn-options" type="button" id="task-dropdown-button-6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="material-icons">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#">Mark as done</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item text-danger" href="#">Archive</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div></div>
                </div>
                <div class="card-list">
                  <div class="card-list-head">
                    <h6>Design</h6>
                    <div class="dropdown">
                      <button class="btn-options" type="button" id="cardlist-dropdown-button-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Rename</a>
                        <a class="dropdown-item text-danger" href="#">Archive</a>
                      </div>
                    </div>
                  </div>
                  <div class="card-list-body filter-list-1569336667938"><div class="card card-task">
                      <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="card-body">
                        <div class="card-title">
                          <a href="#">
                            <h6 data-filter-by="text" class="H6-filter-by-text">Produce realised brand package</h6>
                          </a>
                          <span class="text-small">Unscheduled</span>
                        </div>
                        <div class="card-meta">
                          <ul class="avatars">

                            <li>
                              <a href="#" data-toggle="tooltip" title="Marcus">
                                <img alt="Marcus Simmons" class="avatar" src="assets/img/avatar-male-1.jpg">
                              </a>
                            </li>

                            <li>
                              <a href="#" data-toggle="tooltip" title="Harry">
                                <img alt="Harry Xai" class="avatar" src="assets/img/avatar-male-2.jpg">
                              </a>
                            </li>

                            <li>
                              <a href="#" data-toggle="tooltip" title="Kristina">
                                <img alt="Kristina Van Der Stroem" class="avatar" src="assets/img/avatar-female-4.jpg">
                              </a>
                            </li>

                          </ul>
                          <div class="d-flex align-items-center">
                            <i class="material-icons">playlist_add_check</i>
                            <span>-/-</span>
                          </div>
                          <div class="dropdown card-options">
                            <button class="btn-options" type="button" id="task-dropdown-button-7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="material-icons">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#">Mark as done</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item text-danger" href="#">Archive</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div></div>
                </div>
                <!--end of content list body-->
              </div>
            </div>
</div>

<div class="card" *ngIf="selectedRecord==undefined">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="card-title float-left mr-2">Tahsilat Listesi</h4>
                <button class="btn btn-sm btn-round btn-outline-secondary float-left" title="Yeni Tahsilat" (click)="btnNew_Click()"><i class="fa fa-plus"></i></button>
            </div>
            <div class="col-sm-4 head-filter">
                <div class="input-group input-group-round">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-filter"></i>
                        </span>
                    </div>
                    <input type="search" class="form-control filter-list-input" placeholder="Müşteri Ara.." [(ngModel)]="searchText">
              </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="list-group" *ngIf="mainList.length > 0; else elseBlock">
                <div class="list-group-item bg-success text-light">
                        <div class="row">
                            <div class="col-sm-1">Sıra</div>
                            <div class="col-sm-5">Müşteri Adı</div>
                            <div class="col-sm-2">Fiş Numarası</div>
                            <div class="col-sm-2"><span class="float-right">Tutar</span></div>
                            <div class="col-sm-2"><span class="float-right">Tarih</span></div>
        
                        </div>
                </div>
            <div class="list-group-item list-group-item-action list-group-item-light cursor-pointer"
                (click)="showSelectedRecord(item)"
                *ngFor="let item of mainList | filterCustomer: searchText; index as i; trackBy: primaryKey">
                <div class="row">
                    <div class="col-sm-1"><span class="text-bold text-dark">{{i+1}})</span></div>
                    <div class="col-sm-5">{{item.customerName}}</div>
                    <div class="col-sm-2">{{item.data.receiptNo}}</div>
                    <div class="col-sm-2"><span class="float-right">{{item.data.amount | currency:'₺'}}</span></div>
                    <div class="col-sm-2"><span class="float-right">{{item.data.insertDate | date: 'yyyy.MM.dd'}}</span></div>

                </div>
            </div>
        </div>
        <ng-template #elseBlock>
            <div class="card bg-danger text-white">
              <div class="card-body">Görüntülenecek veri bulunamadı.</div>
            </div>
        </ng-template>
    </div>
</div>
<div class="card" *ngIf="selectedRecord!=undefined">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="card-title float-left mr-2">Tahsilat Detayı
                    <fa name="cog" animation="spin" *ngIf="isRecordHasTransacton"></fa>
                </h4>
                <button class="btn btn-sm btn-round btn-outline-secondary float-left" title="Listeye Geri Dön" (click)="btnReturnList_Click()"><i class="fa fa-arrow-left"></i></button>
            </div>
        </div>

    </div>
    <div class="card-body">
        <form (ngSubmit)="btnSave_Click()" class="was-validated" #f="ngForm">
            <div class="form-row form-inline">
                <div class="col-sm-3">
                    <label class="col-form-label float-left" for="customerName">Müşteri</label>
                </div>
                <div class="col-sm-9">
                    <select class="form-control form-control-sm w-100" id="customerCode" name="customerCode" required 
                    [disabled]="f.valid"
                    [(ngModel)]="selectedRecord.customerCode">
                        <option value={{item.primaryKey}} *ngFor="let item of customerList$ | async; index as i; trackBy: primaryKey">{{item.name}}</option>
                    </select>
                    <div class="invalid-feedback invalid-inpput-info">Lütfen müşteri seçiniz.</div>
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label float-left" for="typeTr">Tahsilat Tipi</label>
                </div>
                <div class="col-sm-3">
                    <select class="form-control form-control-sm w-100" id="type" name="type" required 
                    [disabled]="f.valid"
                    [(ngModel)]="selectedRecord.type">
                        <option value="cash">Nakit</option>
                        <option value="creditCard">Kredi Kartı</option>
                        <option value="pNote">Senet</option>
                    </select>
                    <div class="invalid-feedback invalid-inpput-info">Lütfen tip seçiniz.</div>
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label float-left" for="cashDeskPrimaryKey">Kasa</label>
                </div>
                <div class="col-sm-3">
                    <select class="form-control form-control-sm w-100" id="cashDeskPrimaryKey" name="cashDeskPrimaryKey" required
                    [(ngModel)]="selectedRecord.cashDeskPrimaryKey">
                        <option value={{item.primaryKey}} *ngFor="let item of cashDeskList$ | async; index as i; trackBy: primaryKey">{{item.name}}</option>
                    </select>
                    <div class="invalid-feedback invalid-inpput-info">Lütfen kasa seçiniz.</div>
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label float-left" for="insertDate">Kayıt Tarihi</label>
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label float-left" for="insertDate">{{selectedRecord.insertDate | date: 'yyyy.MM.dd'}}</label>
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label float-left" for="receiptNo">Fiş Numarası</label>
                </div>
                <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" id="receiptNo" name="receiptNo" type="text"
                        [(ngModel)]="selectedRecord.receiptNo" required>
                    <div class="invalid-feedback invalid-inpput-info">Lütfen alanı doldurunuz.</div>
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label float-left" for="totalPrice">Tutar</label>
                </div>
                <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" id="amount" name="amount" type="number" step="any"
                        [(ngModel)]="selectedRecord.amount" required>
                    <div class="invalid-feedback invalid-inpput-info">Lütfen alanı doldurunuz.</div>
                </div>
                <div class="col-sm-6"></div>
                <div class="col-sm-3">
                    <label class="col-form-label float-left" for="description">Açıklama</label>
                </div>
                <div class="col-sm-9">
                    <input class="form-control form-control-sm w-100" id="description" name="description" type="text"
                        [(ngModel)]="selectedRecord.description">
                </div>
            </div>
        </form>

    </div>
    <div class="card-footer">
        <div class="col-sm-3 float-right">
            <button type="button" class="btn btn-sm btn-success btn-block"
            [disabled]="!f.valid"
                (click)="btnSave_Click()">Kaydet</button>
        </div>
        <div class="col-sm-3" *ngIf="selectedRecord.primaryKey!=undefined">
            <button type="button" class="btn btn-sm btn-danger btn-block"
                (click)="btnRemove_Click()">Kaldır</button>
        </div>

    </div>
</div>