<div class="card work-area" *ngIf="selectedRecord==undefined">
  <div class="card-header bg-gray-gradient">
    <div class="row">
      <div class="col-sm-8">
        <h4 class="card-title float-left mr-2">Ödeme Listesi</h4>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Yeni Ödeme"
                (click)="btnNew_Click()"><i class="fa fa-plus"></i></button>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Geniş Filtre"
                (click)="btnShowMainFiler_Click()"><i class="fa fa-filter"></i></button>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Excel'e Aktar"
                (click)="btnExportToExcel_Click()"><i class="fa fa-file-excel-o"></i></button>
      </div>
      <div class="col-sm-4 head-filter">
        <div class="input-group input-group-round">
          <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-filter"></i>
                        </span>
          </div>
          <input type="search" class="form-control filter-list-input" placeholder="Müşteri Ara.."
                 [(ngModel)]="searchText">
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card mb-2" *ngIf="isMainFilterOpened">
      <div class="card-header">Filtreler</div>
      <div class="card-body bg-light">
        <div class="row">
          <div class="col-sm-3">
            <label class="col-form-label float-left">Müşteri</label>
          </div>
          <div class="col-sm-9">
            <select class="form-control form-control-sm w-100"
                    [(ngModel)]="filterCustomerCode">
              <option value="-1">Hepsini Seç</option>
              <option value={{item.primaryKey}}
                      *ngFor="let item of customerList$ | async; index as i; trackBy: primaryKey">{{item.name}}</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label class="col-form-label float-left">Başlangıç Tarihi</label>
          </div>
          <div class="col-sm-3">
            <div class="input-group">
              <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="d" #c="ngModel"
                     [(ngModel)]="filterBeginDate" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-sm btn-outline-secondary" (click)="d.toggle()" type="button"><i
                  class="fa fa-calendar"></i></button>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <label class="col-form-label float-left">Bitiş Tarihi</label>
          </div>
          <div class="col-sm-3">
            <div class="input-group">
              <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="d2" #c2="ngModel"
                     [(ngModel)]="filterFinishDate" ngbDatepicker #d2="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-sm btn-outline-secondary" (click)="d2.toggle()" type="button"><i
                  class="fa fa-calendar"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-2">
            <button type="button" class="btn btn-sm btn-success btn-block" (click)="btnMainFilter_Click()">Filtrele
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="list-group" *ngIf="mainList.length > 0; else elseBlock">
      <div class="list-group-item bg-danger text-light main-list-item">
        <div class="row">
          <div class="col-sm-4">Müşteri Adı</div>
          <div class="col-sm-2">Personel</div>
          <div class="col-sm-2">Fiş Numarası</div>
          <div class="col-sm-2"><span class="float-right">Tutar</span></div>
          <div class="col-sm-2"><span class="float-right">Tarih</span></div>
        </div>
      </div>
      <div class="list-group-item list-group-item-action main-list-item cursor-pointer"
           (click)="showSelectedRecord(item)"
           *ngFor="let item of mainList | filterCustomer: searchText; index as i; trackBy: primaryKey">
        <div class="row">
          <div class="col-sm-4"><i class="fa fa-arrow-circle-right mr-2 text-danger"></i>{{item.customerName}}</div>
          <div class="col-sm-2">{{item.employeeName}}</div>
          <div class="col-sm-2">{{item.data.receiptNo}}</div>
          <div class="col-sm-2"><span class="float-right">{{item.data.amount | currency:'₺'}}</span></div>
          <div class="col-sm-2"><span class="float-right">{{item.data.insertDate | date: 'yyyy.MM.dd'}}</span></div>
        </div>
      </div>
      <li class="list-group-item list-group-item-success main-list-item">
        <div class="row">
          <div class="col-sm-8">Toplam</div>
          <div class="col-sm-2"><span class="float-right">{{totalValues.amount | currency:'₺'}}</span></div>
        </div>
      </li>
    </div>
    <ng-template #elseBlock>
      <div class="card bg-danger text-white">
        <div class="card-body">Görüntülenecek veri bulunamadı.</div>
      </div>
    </ng-template>
  </div>
</div>
<div class="card work-area" *ngIf="selectedRecord!=undefined">
  <div class="card-header bg-gray-gradient">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="card-title float-left mr-2">Ödeme Detayı
          <fa name="cog" animation="spin" *ngIf="isRecordHasTransaction"></fa>
        </h4>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left" title="Listeye Geri Dön"
                (click)="btnReturnList_Click()"><i class="fa fa-arrow-left"></i></button>
      </div>
    </div>

  </div>
  <div class="card-body">
    <form (ngSubmit)="btnSave_Click()" class="was-validated" #f="ngForm">
      <div class="form-row form-inline">
        <div class="col-sm-3">
          <label class="col-form-label float-left" for="customerCode">Müşteri</label>
        </div>
        <div class="col-sm-9">
          <select class="form-control form-control-sm w-100" id="customerCode" name="customerCode" required
                  [disabled]="f.valid"
                  [(ngModel)]="selectedRecord.data.customerCode">
            <option value={{item.primaryKey}}
                    *ngFor="let item of customerList$ | async; index as i; trackBy: primaryKey">{{item.name}}</option>
          </select>
          <div class="invalid-feedback invalid-input-info">Lütfen müşteri seçiniz.</div>
        </div>
        <div class="col-sm-3">
          <label class="col-form-label float-left" for="type">Ödeme Tipi</label>
        </div>
        <div class="col-sm-3">
          <select class="form-control form-control-sm w-100" [(ngModel)]="selectedRecord.data.type" id="type" name="type"
                  required>
            <option value="cash">Nakit</option>
            <option value="creditCard">Kredi Kartı</option>
            <option value="pNote">Senet</option>
          </select>
          <div class="invalid-feedback invalid-input-info">Lütfen tip seçiniz.</div>
        </div>
        <div class="col-sm-3">
          <label class="col-form-label float-left" for="cashDeskPrimaryKey">Kasa</label>
        </div>
        <div class="col-sm-3">
          <select class="form-control form-control-sm w-100" id="cashDeskPrimaryKey" name="cashDeskPrimaryKey" required
                  [(ngModel)]="selectedRecord.data.cashDeskPrimaryKey">
            <option value={{item.primaryKey}}
                    *ngFor="let item of cashDeskList$ | async; index as i; trackBy: primaryKey">{{item.name}}</option>
          </select>
          <div class="invalid-feedback invalid-input-info">Lütfen kasa seçiniz.</div>
        </div>
        <div class="col-sm-3">
          <label class="col-form-label float-left" for="receiptNo">Fiş Numarası</label>
        </div>
        <div class="col-sm-3">
          <input class="form-control form-control-sm w-100" id="receiptNo" name="receiptNo" type="text"
                 [(ngModel)]="selectedRecord.data.receiptNo" required>
          <div class="invalid-feedback invalid-input-info">Lütfen alanı doldurunuz.</div>
        </div>
        <div class="col-sm-3">
          <label class="col-form-label float-left" for="amount">Tutar</label>
        </div>
        <div class="col-sm-3">
          <input class="form-control form-control-sm w-100" id="amount" name="amount" type="number" required step="any"
                 [(ngModel)]="selectedRecord.data.amount">
          <div class="invalid-feedback invalid-input-info">Lütfen alanı doldurunuz.</div>
        </div>
        <div class="col-sm-3">
          <label class="col-form-label float-left">Kayıt Tarihi</label>
        </div>
        <div class="col-sm-3">
          <div class="input-group">
            <input class="form-control form-control-sm" id="recordDate" placeholder="yyyy-mm-dd" name="d3" #c3="ngModel"
                   [(ngModel)]="recordDate" ngbDatepicker #d3="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-sm btn-outline-secondary" (click)="d3.toggle()" type="button"><i
                class="fa fa-calendar"></i></button>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
        </div>
        <div class="col-sm-3">
          <label class="col-form-label float-left" for="description">Açıklama</label>
        </div>
        <div class="col-sm-9">
          <input class="form-control form-control-sm w-100" id="description" name="description" type="text"
                 [(ngModel)]="selectedRecord.data.description">
        </div>
      </div>
    </form>

  </div>
  <div class="card-footer">
    <div class="col-sm-3 float-right">
      <button type="button" class="btn btn-sm btn-success btn-block"
              [disabled]="!f.valid"
              (click)="btnSave_Click()">Kaydet
      </button>
    </div>
    <div class="col-sm-3" *ngIf="selectedRecord.data.primaryKey!=undefined">
      <button type="button" class="btn btn-sm btn-danger btn-block"
              (click)="btnRemove_Click()">Kaldır
      </button>
    </div>

  </div>
</div>
