<div class="card work-area" *ngIf="!isMatchPanelOpened">
  <div class="card-header bg-gray-gradient">
    <div class="row">
      <div class="col-sm-8">
        <img src="../../assets/images/customer_account.png" width="30px" class="float-left mr-2">
        <h5 class="card-title float-left mr-2">Hesap Kapama Listesi</h5>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Excel'e Aktar"
                (click)="btnExportToExcel_Click()"><i class="fas fa-file-excel"></i></button>
      </div>
      <div class="col-sm-4 head-filter">
        <div class="input-group input-group-round">
          <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-filter"></i>
                        </span>
          </div>
          <input type="search" class="form-control filter-list-input" placeholder="Hesap Ara.."
                 [(ngModel)]="searchText">
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div *ngIf="mainList != undefined; else elseBlock2">
          <div *ngIf="mainList.length > 0; else elseBlock">
            <div class="list-group">
              <div class="list-group-item bg-danger text-light main-list-item">
                <div class="row">
                  <div class="col-sm-5">Hesap Adı</div>
                  <div class="col-sm-5">Müşteri Adı</div>
                  <div class="col-sm-2">Döviz Tipi</div>
                </div>
              </div>
              <div class="work-area-6">
                <div class="list-group-item list-group-item-action main-list-item cursor-pointer"
                     (click)="showSelectedRecord(item)" title="Kaydı Görüntüle"
                     [ngClass]="{'bg-yellow': item.data.primaryKey === selectedRecord?.data.primaryKey}"
                     *ngFor="let item of mainList | filterCustomerAccount: searchText; index as i;">
                  <div class="row">
                    <div class="col-sm-10">
                      <i class="far fa-arrow-alt-circle-right mr-2 text-red"></i>
                      <span class="text-red font-weight-600">{{item.data.name}}</span>
                    </div>
                    <div class="col-sm-2">{{item.currencyTr}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #elseBlock>
            <div class="card bg-red text-white">
              <div class="card-body">Görüntülenecek veri bulunamadı.</div>
            </div>
          </ng-template>
        </div>
        <ng-template #elseBlock2>
          <div class="loader"></div>
        </ng-template>
      </div>
      <div class="col">
        <div class="card bg-light" *ngIf="selectedRecord!=undefined">
          <div class="card-body">
            <div class="list-group">
              <div class="list-group-item fs-14">
                <div class="row">
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Müşteri</div>
                  <div class="col-sm-9 text-secondary mb-1">{{selectedRecord.customer.data.name}}</div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Hesap Adı</div>
                  <div class="col-sm-9 text-secondary mb-1">{{selectedRecord.data.name}}</div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Banka Adı</div>
                  <div class="col-sm-9 text-secondary mb-1">{{selectedRecord.data.bankName}}</div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Hesap No</div>
                  <div class="col-sm-9 text-secondary mb-1">{{selectedRecord.data.accountNo}}</div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Açıklama</div>
                  <div class="col-sm-9 text-secondary mb-1">{{selectedRecord.data.description}}</div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Satış Faturası</div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Tutar</div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Kapanan Miktar</div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Açık Miktar</div>
                  <div class="col-sm-3 mb-1"></div>
                  <div class="col-sm-3 text-secondary mb-1">{{accountSummary.siAmount | currency:'₺'}}</div>
                  <div class="col-sm-3 text-secondary mb-1">{{accountSummary.siPaidAmount | currency:'₺'}}</div>
                  <div class="col-sm-3 text-secondary mb-1"
                       [ngClass]="{'text-success': accountSummary.siRemainingAmount === 0 , 'text-danger': accountSummary.siRemainingAmount > 0}"
                  >{{accountSummary.siRemainingAmount | currency:'₺'}}
                    <i class="fa fa-exclamation-triangle ml-1" *ngIf="accountSummary.siRemainingAmount > 0"></i>
                  </div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Tahsilat</div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Tutar</div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Kapanan Miktar</div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Açık Miktar</div>
                  <div class="col-sm-3 mb-1"></div>
                  <div class="col-sm-3 text-secondary mb-1">{{accountSummary.colAmount | currency:'₺'}}</div>
                  <div class="col-sm-3 text-secondary mb-1">{{accountSummary.colPaidAmount | currency:'₺'}}</div>
                  <div class="col-sm-3 text-secondary mb-1"
                       [ngClass]="{'text-success': accountSummary.colRemainingAmount === 0 , 'text-danger': accountSummary.colRemainingAmount > 0}"
                  >{{accountSummary.colRemainingAmount | currency:'₺'}}
                    <i class="fa fa-exclamation-triangle ml-1" *ngIf="accountSummary.colRemainingAmount > 0"></i>
                  </div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Alım Faturası</div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Tutar</div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Kapanan Miktar</div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Açık Miktar</div>
                  <div class="col-sm-3 mb-1"></div>
                  <div class="col-sm-3 text-secondary mb-1">{{accountSummary.piAmount | currency:'₺'}}</div>
                  <div class="col-sm-3 text-secondary mb-1">{{accountSummary.piPaidAmount | currency:'₺'}}</div>
                  <div class="col-sm-3 text-secondary mb-1"
                       [ngClass]="{'text-success': accountSummary.piRemainingAmount === 0 , 'text-danger': accountSummary.piRemainingAmount > 0}"
                  >{{accountSummary.piRemainingAmount | currency:'₺'}}
                    <i class="fa fa-exclamation-triangle ml-1" *ngIf="accountSummary.piRemainingAmount > 0"></i>
                  </div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Ödeme</div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Tutar</div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Kapanan Miktar</div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Açık Miktar</div>
                  <div class="col-sm-3 mb-1"></div>
                  <div class="col-sm-3 text-secondary mb-1">{{accountSummary.payAmount | currency:'₺'}}</div>
                  <div class="col-sm-3 text-secondary mb-1">{{accountSummary.payPaidAmount | currency:'₺'}}</div>
                  <div class="col-sm-3 text-secondary mb-1"
                       [ngClass]="{'text-success': accountSummary.payRemainingAmount === 0 , 'text-danger': accountSummary.payRemainingAmount > 0}"
                  >{{accountSummary.payRemainingAmount | currency:'₺'}}
                    <i class="fa fa-exclamation-triangle ml-1" *ngIf="accountSummary.payRemainingAmount > 0"></i>
                  </div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Cari Fiş</div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Tutar</div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Kapanan Miktar</div>
                  <div class="col-sm-3 font-weight-600 text-dark-blue mb-1">Açık Miktar</div>
                  <div class="col-sm-3 mb-1"></div>
                  <div class="col-sm-3 text-secondary mb-1">{{accountSummary.avAmount | currency:'₺'}}</div>
                  <div class="col-sm-3 text-secondary mb-1">{{accountSummary.avPaidAmount | currency:'₺'}}</div>
                  <div class="col-sm-3 text-secondary mb-1"
                       [ngClass]="{'text-success': accountSummary.avRemainingAmount === 0 , 'text-danger': accountSummary.avRemainingAmount > 0}"
                  >{{accountSummary.avRemainingAmount | currency:'₺'}}
                    <i class="fa fa-exclamation-triangle ml-1" *ngIf="accountSummary.avRemainingAmount > 0"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-8"><label><i class="fa fa-info text-success mr-1"></i>Otomatik hesap kapama, tarih sıralaması ilk olandan itibaren kapama yapılmasını sağlar.</label></div>
              <div class="col-sm-4 float-right">
                <button type="button" class="btn btn-sm btn-success form-control" title="Otomatik Hesap Kapama"
                        (click)="btnAutoMatchAccount_Click()">Otomatik Hesap Kapama</button>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-8"><label><i class="fa fa-info text-success mr-1"></i>Manuel hesap kapama, girdi ve çıktıları kullanıcı seçimine bırakır.</label></div>
              <div class="col-sm-4 float-right">
                <button type="button" class="btn btn-sm btn-success form-control" title="Manuel Hesap Kapama"
                        (click)="btnManuelMatchAccount_Click()">Manuel Hesap Kapama</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card work-area" *ngIf="isMatchPanelOpened">
  <div class="card-header bg-gray-gradient">
    <div class="row">
      <div class="col-sm-12">
        <img src="../../assets/images/customer_account.png" width="30px" class="float-left mr-2">
        <h5 class="card-title float-left mr-2">Hesap Kapama Detayı</h5>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Listeye Geri Dön"
                (click)="btnReturnList_Click()"><i class="fa fa-arrow-left"></i></button>
        <div class="float-right">
          <h5 class="text-red font-weight-bold" title="{{selectedRecord.customer.data.name}}">{{selectedRecord.data.name}}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="card work-area-2">
          <div class="card-header bg-gray-gradient">
            <h5 class="card-title float-left mr-2">Borç Kayıtlar</h5>
            <div class="float-right">
              <span class="text-button p-1 mr-1 badge badge-success" title="Açık Hesaplar"
                    (click)="btnShowDebitRecords_Click('open')">Açık</span>
              <span class="text-button p-1 mr-1 badge badge-danger" title="Kapalı Hesaplar"
                    (click)="btnShowDebitRecords_Click('close')">Kapalı</span>
              <span class="text-button p-1 badge badge-dark" title="Tüm Hesaplar"
                    (click)="btnShowDebitRecords_Click('all')">Hepsi</span>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="debitTransactionList != undefined; else elseBlock3">
              <div class="list-group" *ngIf="debitTransactionList.length > 0; else elseBlock">
                <div class="list-group-item bg-red text-light main-list-item">
                  <div class="row">
                    <div class="col-sm-3">İşlem Tipi</div>
                    <div class="col-sm-3">Fiş Numarası</div>
                    <div class="col-sm-3"><span class="float-right">Tutar/Kapanan Tutar</span></div>
                    <div class="col-sm-3"><span class="float-right">Tarih</span></div>
                  </div>
                </div>
                <div class="list-group-item list-group-item-action main-list-item cursor-pointer"
                     [ngClass]="{'bg-yellow': item.data.primaryKey === debitSelectedRecordPrimaryKey}"
                     (click)="selectDebitRecord(item)"
                     *ngFor="let item of debitTransactionList; index as i;">
                  <div class="row">
                    <div class="col-sm-3 text-red">
                      <i class="far fa-arrow-alt-circle-right mr-2"></i>
                      <span class="text-red font-weight-600">{{item.subTransactionTypeTr}}</span>
                    </div>
                    <div class="col-sm-3">{{item.data.receiptNo}}</div>
                    <div class="col-sm-3">
                      <span class="float-right">
                        {{item.data.amount | currency:'₺'}} / <span class="text-success">{{item.data.paidAmount | currency:'₺'}}</span>
                      </span>
                    </div>
                    <div class="col-sm-3"><span class="float-right">{{item.data.insertDate | date: 'yyyy-MM-dd'}}</span></div>
                    <div class="col-sm-12" [ngClass]="(item.remainingAmount > 0)?'text-success':'text-danger'">
                      <span class="font-weight-600 fs-14 float-right">{{item.matchTr}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #elseBlock>
                <div class="card bg-red text-white">
                  <div class="card-body">Görüntülenecek veri bulunamadı.</div>
                </div>
              </ng-template>
            </div>
            <ng-template #elseBlock3>
              <div class="loader"></div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card work-area-2">
          <div class="card-header bg-gray-gradient">
            <h5 class="card-title float-left mr-2">Alacak Kayıtlar</h5>
            <div class="float-right">
              <span class="text-button p-1 mr-1 badge badge-success" title="Açık Hesaplar"
                    (click)="btnShowCreditRecords_Click('open')">Açık</span>
              <span class="text-button p-1 mr-1 badge badge-danger" title="Kapalı Hesaplar"
                    (click)="btnShowCreditRecords_Click('close')">Kapalı</span>
              <span class="text-button p-1 badge badge-dark" title="Tüm Hesaplar"
                    (click)="btnShowCreditRecords_Click('all')">Hepsi</span>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="creditTransactionList != undefined; else elseBlock3">
              <div class="list-group" *ngIf="creditTransactionList.length > 0; else elseBlock">
                <div class="list-group-item bg-red text-light main-list-item">
                  <div class="row">
                    <div class="col-sm-3">İşlem Tipi</div>
                    <div class="col-sm-3">Fiş Numarası</div>
                    <div class="col-sm-3"><span class="float-right">Tutar/Kapanan Tutar</span></div>
                    <div class="col-sm-3"><span class="float-right">Tarih</span></div>
                  </div>
                </div>
                <div class="list-group-item list-group-item-action main-list-item cursor-pointer"
                     (click)="selectCreditRecord(item)"
                     [ngClass]="{'bg-yellow': item.data.primaryKey === creditSelectedRecordPrimaryKey}"
                     *ngFor="let item of creditTransactionList; index as i;">
                  <div class="row">
                    <div class="col-sm-3 text-red">
                      <i class="far fa-arrow-alt-circle-rightt mr-2"></i>
                      <span class="text-red font-weight-600">{{item.subTransactionTypeTr}}</span>
                    </div>
                    <div class="col-sm-3">{{item.data.receiptNo}}</div>
                    <div class="col-sm-3">
                      <span class="float-right">
                        {{item.data.amount | currency:'₺'}} / <span class="text-success">{{item.data.paidAmount | currency:'₺'}}</span>
                      </span>
                    </div>
                    <div class="col-sm-3"><span class="float-right">{{item.data.insertDate | date: 'yyyy-MM-dd'}}</span></div>
                    <div class="col-sm-12" [ngClass]="(item.remainingAmount > 0)?'text-success':'text-danger'">
                      <span class="font-weight-600 fs-14 float-right">{{item.matchTr}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #elseBlock>
                <div class="card bg-red text-white">
                  <div class="card-body">Görüntülenecek veri bulunamadı.</div>
                </div>
              </ng-template>
            </div>
            <ng-template #elseBlock3>
              <div class="loader"></div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="col-sm-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text success-icon-side">
            <i class="fa fa-check" *ngIf="!onTransaction"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="onTransaction"></i>
          </span>
        </div>
        <button type="button" class="btn btn-sm btn-success form-control"
                [disabled]="onTransaction"
                (click)="btnAccountMatch_Click()">Kapama Yap
        </button>
      </div>
    </div>
  </div>
</div>
