<div class="card work-area" *ngIf="selectedRecord==undefined">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="card-title float-left mr-2">Müşteri Hedefleri</h4>
                <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Yeni Hedef" (click)="btnNew_Click()"><i class="fa fa-plus"></i></button>
            </div>
            <div class="col-sm-4 head-filter">
                <div class="input-group input-group-round">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-filter"></i>
                        </span>
                    </div>
                    <input type="search" class="form-control filter-list-input" placeholder="Müşteri Ara.." [(ngModel)]="searchText">
              </div>
            </div>
        </div>
    </div>
    <div class="card-body">
            <div class="list-group" *ngIf="mainList.length > 0; else elseBlock">
                    <div class="list-group-item bg-danger text-light">
                            <div class="row">
                                <div class="col-sm-1">Sıra</div>
                                <div class="col-sm-4">Müşteri Adı</div>
                                <div class="col-sm-4">Hedef Tipi</div>
                                <div class="col-sm-2"><span class="float-right">Tarih</span></div>

                            </div>
                    </div>
                <div class="list-group-item list-group-item-action list-group-item-light cursor-pointer"
                    (click)="showSelectedRecord(item)"
                    *ngFor="let item of mainList | filterProfile: searchText; index as i; trackBy: primaryKey">
                    <div class="row">
                        <div class="col-sm-1"><span class="text-bold text-dark">{{i+1}})</span></div>
                        <div class="col-sm-4">{{item.customerName}}</div>
                        <div class="col-sm-4">{{item.typeTr}}</div>
                        <div class="col-sm-2"><span class="float-right">{{item.data.insertDate | date: 'yyyy.MM.dd'}}</span></div>

                    </div>
                </div>
            </div>
            <ng-template #elseBlock>
                <div class="card bg-danger text-white">
                  <div class="card-body">Görüntülenecek veri bulunamadı.</div>
                </div>
            </ng-template>
    </div>
</div>
<div class="card work-area" *ngIf="selectedRecord!=undefined">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="card-title float-left mr-2">Hedef Detayı</h4>
                <button class="btn btn-sm btn-round btn-outline-secondary float-left" title="Listeye Geri Dön" (click)="btnReturnList_Click()"><i class="fa fa-arrow-left"></i></button>
            </div>
        </div>
    </div>
    <div class="card-body">
            <form (ngSubmit)="btnSave_Click()" class="was-validated">
                <div class="form-inline">
                    <div class="col-sm-3">
                        <label class="col-form-label float-left" for="customerName">Müşteri</label>
                    </div>
                    <div class="col-sm-9">
                        <select class="form-control form-control-sm w-100" id="customerCode" name="customerCode" required
                            [(ngModel)]="selectedRecord.data.customerCode">
                            <option value={{item.primaryKey}} *ngFor="let item of customerList$ | async; index as i; trackBy: primaryKey">{{item.name}}</option>
                        </select>
                        <div class="invalid-feedback invalid-inpput-info">Lütfen müşteri seçiniz.</div>
                    </div>
                    <div class="col-sm-3">
                      <label class="col-form-label float-left" for="type">Hedef Tipi</label>
                    </div>
                    <div class="col-sm-3">
                      <select class="form-control form-control-sm w-100" [(ngModel)]="selectedRecord.data.type" id="type" name="type"
                              required>
                        <option value="monthly">Aylık</option>
                        <option value="yearly">Yıllık</option>
                        <option value="periodic">Periodic</option>
                      </select>
                      <div class="invalid-feedback invalid-inpput-info">Lütfen tip seçiniz.</div>
                    </div>
                    <div class="col-sm-3">
                      <label class="col-form-label float-left" for="type">Yıl</label>
                    </div>
                    <div class="col-sm-3">
                      <select class="form-control form-control-sm w-100" [(ngModel)]="selectedRecord.data.year" id="year" name="year"
                              required>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                      </select>
                      <div class="invalid-feedback invalid-inpput-info">Başlangıç ayı seçiniz.</div>
                    </div>
                    <div class="col-sm-3">
                      <label class="col-form-label float-left" for="type">Başlangıç Ayı</label>
                    </div>
                    <div class="col-sm-3">
                      <select class="form-control form-control-sm w-100" [(ngModel)]="selectedRecord.data.beginMonth" id="beginMonth" name="beginMonth"
                              required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                      </select>
                      <div class="invalid-feedback invalid-inpput-info">Başlangıç ayı seçiniz.</div>
                    </div>
                    <div class="col-sm-3">
                      <label class="col-form-label float-left" for="type">Bitiş Ayı</label>
                    </div>
                    <div class="col-sm-3">
                      <select class="form-control form-control-sm w-100" [(ngModel)]="selectedRecord.data.finishMonth" id="finishMonth" name="finishMonth"
                              required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                      </select>
                      <div class="invalid-feedback invalid-inpput-info">Başlangıç ayı seçiniz.</div>
                    </div>
                    <div class="col-sm-3">
                      <label class="col-form-label float-left" for="totalPrice">Tutar</label>
                    </div>
                    <div class="col-sm-3">
                      <input class="form-control form-control-sm w-100" id="amount" name="amount" type="number" required step="any"
                             [(ngModel)]="selectedRecord.data.amount">
                      <div class="invalid-feedback invalid-inpput-info">Lütfen alanı doldurunuz.</div>
                    </div>
                    <div class="col-sm-6"></div>
                    <div class="col-sm-3">
                        <label class="col-form-label float-left" for="description">Açıklama</label>
                    </div>
                    <div class="col-sm-9">
                        <input class="form-control form-control-sm w-100" id="description" name="description" type="text"
                            [(ngModel)]="selectedRecord.data.description">
                    </div>
                </div>
            </form>
    </div>
    <div class="card-footer">
        <div class="col-sm-3 float-right">
            <button type="button" class="btn btn-sm btn-success btn-block"
                (click)="btnSave_Click()">Kaydet</button>
        </div>
        <div class="col-sm-3" *ngIf="selectedRecord.data.primaryKey!=undefined">
            <button type="button" class="btn btn-sm btn-danger btn-block"
                (click)="btnRemove_Click()">Kaldır</button>
        </div>
    </div>
</div>