<div class="work-area" *ngIf="selectedRecord==undefined">
  <div class="card">
    <div class="card-header bg-gray-gradient">
      <div class="d-flex align-items-center">
        <div class="flex-grow-1">
          <img src="../../assets/images/target_2.png" width="30px" alt="" class="float-left mr-2">
          <h5 class="card-title float-left mr-2">Müşteri Hedefleri</h5>
        </div>
        <div class="head-filter mr-1">
          <div class="input-group input-group-round">
            <div class="input-group-prepend">
                          <span class="input-group-text">
                              <i class="fa fa-filter"></i>
                          </span>
            </div>
            <input type="search" class="form-control filter-list-input" placeholder="Müşteri Ara.." [(ngModel)]="searchText">
          </div>
        </div>
        <div class="head-filter">
          <button type="button" class="btn btn-light input-button" (click)="btnNew_Click()">
            <i class="fa fa-plus text-secondary"></i> Yeni Teklif Oluştur
          </button>
        </div>
        <div class="head-filter">
          <div class="dropdown">
            <button type="button" class="btn btn-light input-dropdown dropdown-toggle" data-toggle="dropdown">
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item cursor-pointer" (click)="btnShowMainFiler_Click()">Geniş Filtre</a>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <div *ngIf="mainList != undefined; else elseBlock2">
      <div class="main-list" *ngIf="mainList.length > 0; else elseBlock">
        <div class="main-list-item bg-body">
          <div class="icon-empty">
            
          </div>
          <div class="content">
            <div class="row-2">
              <div class="w-50 float-left font-weight-600">ÜNVAN</div>
              <div class="w-20 float-right font-weight-600">HEDEF MEBLAĞ</div>
            </div>
          </div>
        </div>
        <div class="main-list-item cursor-pointer" title="Kayıt Göster"
        (click)="showSelectedRecord(item)"
        *ngFor="let item of mainList | filterDataCustomerCustomer: searchText; index as i;">
          <div class="icon">
            <i class="fas fa-file-alt fa-2x text-danger"></i>
          </div>
          <div class="content">
            <div class="row-1">
              <div class="w-66">
                <span class="text-red font-weight-600 mr-1">{{item.customer.data.code}}</span>
                <span class="font-weight-600">{{item.customer.data.name}}</span>
                <small class="font-weight-600">-{{item.customer.data.owner}}</small>
              </div>
              <div class="w-33">
                <span class="float-right font-weight-800 text-danger">{{item.data.amount | currency:'₺'}}</span>
              </div>
            </div>
            <div class="row-2">
              <div class="w-66">
                <span class="badge badge-warning">{{item.typeTr}}</span>
              </div>
              <div class="w-33">
                <span class="float-right" *ngIf="item.data.type === 'periodic'">{{item.beginMonthTr}}-{{item.finishMonthTr}} {{item.data.year}} Yılı</span>
                <span class="float-right" *ngIf="item.data.type === 'yearly'">{{item.data.year}} Tam Yıl</span>
                <span class="float-right" *ngIf="item.data.type === 'monthly'">{{item.beginMonthTr}} {{item.data.year}} Yılı</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="card bg-red text-white m-3">
          <div class="card-body">Görüntülenecek veri bulunamadı.</div>
        </div>
      </ng-template>
    </div>
    <ng-template #elseBlock2>
      <div class="card">
        <div class="card-body">
          <div class="loader"></div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
<div class="card work-area" *ngIf="selectedRecord!=undefined">
  <div class="card-header bg-gray-gradient">
    <div class="d-flex align-items-center">
      <div class="flex-grow-1">
        <img src="../../assets/images/target_2.png" width="30px" alt="" class="float-left mr-2">
        <h5 class="card-title float-left mr-2">Hedef > 
          <span *ngIf="!selectedRecord.data.primaryKey">Yeni Kayıt</span>
          <span *ngIf="selectedRecord.data.primaryKey">Görüntüleme</span>
        </h5>
      </div>
      <div class="head-filter">
        <button type="button" class="btn btn-light input-button" (click)="btnReturnList_Click()">
          <i class="fa fa-arrow-left text-secondary"></i> Listeye Geri Dön
        </button>
      </div>
      <div class="head-filter">
        <div class="dropdown">
          <button type="button" class="btn btn-light input-dropdown dropdown-toggle" data-toggle="dropdown">
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item cursor-pointer" (click)="btnShowJsonData_Click()"><i class="fa fa-jsfiddle text-secondary"></i> Json Göster</a>
            <a class="dropdown-item cursor-pointer" (click)="btnShowInfoModule_Click()"><i class="fa fa-info-circle text-secondary"></i> Bilgiler</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header bg-gray-gradient">
            <h5>Hedef Bilgileri</h5>
          </div>
          <div class="card-body">
            <form (ngSubmit)="btnSave_Click()" class="row was-validated" #f="ngForm">
              <div class="col-sm-6">
                <label class="col-form-label float-left" for="customerName">Müşteri</label>
              </div>
              <div class="col-sm-6">
                <div class="input-group">
                  <input class="form-control form-control-sm" name="customerName" id="customerName"
                         [(ngModel)]="selectedRecord.customer?.data.name" disabled>
                  <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-secondary" type="button"
                            [disabled]="selectedRecord.data.primaryKey!=undefined"
                            (click)="btnSelectCustomer_Click()">
                      <i class="far fa-arrow-alt-circle-right"></i></button>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <label class="col-form-label float-left" for="type">Hedef Tipi</label>
              </div>
              <div class="col-sm-6">
                <select class="form-control form-control-sm w-100" [(ngModel)]="selectedRecord.data.type" id="type"
                        name="type"
                        [disabled]="selectedRecord.data.primaryKey!=undefined"
                        (change)="onChangeType($event.target.value)" required>
                  <option value="monthly">Aylık</option>
                  <option value="yearly">Yıllık</option>
                  <option value="periodic">Periyodik</option>
                </select>
                <div class="invalid-feedback invalid-input-info">Lütfen tip seçiniz.</div>
              </div>
              <div class="col-sm-6">
                <label class="col-form-label float-left" for="type">Yıl</label>
              </div>
              <div class="col-sm-6">
                <select class="form-control form-control-sm w-100" [(ngModel)]="selectedRecord.data.year" id="year"
                        name="year"
                        required>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                </select>
                <div class="invalid-feedback invalid-input-info">Yıl seçiniz.</div>
              </div>
              <div class="col-sm-12"
                   *ngIf="selectedRecord.data.type == 'periodic' || selectedRecord.data.type == 'monthly'; else elseBlock1">
                <div class="row">
                  <div class="col-sm-6">
                    <label class="col-form-label float-left" for="type">Başlangıç Ayı</label>
                  </div>
                  <div class="col-sm-6">
                    <select class="form-control form-control-sm w-100" [(ngModel)]="selectedRecord.data.beginMonth"
                            id="beginMonth" name="beginMonth"
                            (change)="onChangeBeginMonth($event)"
                            required>
                      <option value="-1">Seçilmedi</option>
                      <option value="1">Ocak</option>
                      <option value="2">Şubat</option>
                      <option value="3">Mart</option>
                      <option value="4">Nisan</option>
                      <option value="5">Mayıs</option>
                      <option value="6">Haziran</option>
                      <option value="7">Temmuz</option>
                      <option value="8">Ağustos</option>
                      <option value="9">Eylül</option>
                      <option value="10">Ekim</option>
                      <option value="11">Kasım</option>
                      <option value="12">Aralık</option>
                    </select>
                    <div class="invalid-feedback invalid-input-info">Başlangıç ayı seçiniz.</div>
                  </div>
                </div>
              </div>
              <ng-template #elseBlock1>
                <div class="col-sm-12"></div>
              </ng-template>
              <div class="col-sm-12" *ngIf="selectedRecord.data.type == 'periodic'; else elseBlock2">
                <div class="row">
                  <div class="col-sm-6">
                    <label class="col-form-label float-left" for="type">Bitiş Ayı</label>
                  </div>
                  <div class="col-sm-6">
                    <select class="form-control form-control-sm w-100" [(ngModel)]="selectedRecord.data.finishMonth"
                            id="finishMonth" name="finishMonth"
                            (change)="onChangeFinishMonth($event)"
                            required>
                      <option value="-1">Seçilmedi</option>
                      <option value="1">Ocak</option>
                      <option value="2">Şubat</option>
                      <option value="3">Mart</option>
                      <option value="4">Nisan</option>
                      <option value="5">Mayıs</option>
                      <option value="6">Haziran</option>
                      <option value="7">Temmuz</option>
                      <option value="8">Ağustos</option>
                      <option value="9">Eylül</option>
                      <option value="10">Ekim</option>
                      <option value="11">Kasım</option>
                      <option value="12">Aralık</option>
                    </select>
                    <div class="invalid-feedback invalid-input-info">Başlangıç ayı seçiniz.</div>
                  </div>
                </div>
              </div>
              <ng-template #elseBlock2>
                <div class="col-sm-12"></div>
              </ng-template>
              <div class="col-sm-6">
                <label class="col-form-label float-left" for="amount">Hedef</label>
              </div>
              <div class="col-sm-6">
                <input class="form-control form-control-sm w-100" id="amount" name="amount" type="text"
                       (focus)="focus_amount()"
                       (blur)="format_amount($event)"
                       [(ngModel)]="selectedRecord.amountFormatted">
              </div>
              <div class="col-sm-6">
                <label class="col-form-label float-left" for="isActive">Aktif Durumu</label>
              </div>
              <div class="col-sm-6">
                <select class="form-control form-control-sm w-100" id="isActive" name="isActive"
                        [(ngModel)]="selectedRecord.data.isActive">
                  <option [ngValue]="true">Aktif</option>
                  <option [ngValue]="false">Pasif</option>
                </select>
              </div>
              <div class="col-sm-6">
                <label class="col-form-label float-left" for="description">Açıklama</label>
              </div>
              <div class="col-sm-6">
                <textarea class="form-control form-control-sm w-100" id="description" name="description" type="text"
                  cols="40" rows="3" [(ngModel)]="selectedRecord.data.description"></textarea>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="btn-action float-right">
              <div class="input-group">
                <div class="input-group-prepend">
          <span class="input-group-text success-icon-side">
            <i class="fa fa-check" *ngIf="!onTransaction"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="onTransaction"></i>
          </span>
                </div>
                <button type="button" class="btn btn-sm btn-success form-control"
                        [disabled]="onTransaction || !f.valid"
                        (click)="btnSave_Click()">Kaydet
                </button>
              </div>
            </div>
            <div class="btn-action float-left"
                 *ngIf="selectedRecord.data.primaryKey!=undefined">
              <div class="input-group">
                <div class="input-group-prepend">
          <span class="input-group-text danger-icon-side">
            <i class="far fa-trash-alt" *ngIf="!onTransaction"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="onTransaction"></i>
          </span>
                </div>
                <button type="button" class="btn btn-sm btn-danger form-control"
                        [disabled]="onTransaction"
                        (click)="btnRemove_Click()">Kaldır
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-body bg-white">
            <div class="text-orange fs-14 font-weight-bold">Hedef Özeti</div>
            <table class="table mb-0 mt-1">
              <tbody>
              <tr>
                <td class="fs-14">Hedef Miktarı</td>
                <td class="fs-14">
                  <span class="float-right">{{selectedRecord.data.amount | currency:'₺'}}</span>
                </td>
              </tr>
              <tr>
                <td class="fs-14">Gerçekleşen Miktar</td>
                <td class="fs-14">
                  <span class="float-right">{{currentAmount | currency:'₺'}}</span>
                </td>
              </tr>
              <tr>
                <td class="fs-14">Kalan Miktar</td>
                <td class="fs-14"
                    [ngClass]="selectedRecord.data.amount>currentAmount ? 'text-danger' : 'text-success'">
                  <span class="float-right">
                    <i
                      [ngClass]="selectedRecord.data.amount>currentAmount ? 'fa fa-angle-double-down' : 'fa fa-angle-double-up'"></i>
                    {{currentAmount - selectedRecord.data.amount | currency:'₺'}}</span>
                </td>
              </tr>
              </tbody>
            </table>
            <small class="float-right">Belirli hedef doğrultusunda hedefe ulaşma sonucunuzun özetidir.</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-light">
          <div class="card-header bg-gray-gradient">
            <h5 class="float-left text-red">Tahsilatlar</h5>
          </div>
          <div class="card-body work-area-2" *ngIf="transactionList$ | async; let transactionList; else elseBlock">
            <div class="list-group">
              <div class="list-group-item bg-red text-light main-list-item">
                <div class="row">
                  <div class="col-sm-6">Fiş No</div>
                  <div class="col-sm-3"><span class="float-right">Tutar</span></div>
                  <div class="col-sm-3"><span class="float-right">Tarih</span></div>
                </div>
              </div>
              <div class="list-group-item list-group-item-action main-list-item cursor-pointer"
                   (click)="showTransactionRecord(item)"
                   *ngFor="let item of transactionList;">
                <div class="row">
                  <div class="col-sm-6">
                    <i class="far fa-arrow-alt-circle-right mr-2 text-red"></i>
                    <span class="text-red">{{item['returnData'].data.receiptNo}}</span>
                  </div>
                  <div class="col-sm-3"><span class="float-right">{{item['returnData'].data.amount | currency:'₺'}}</span>
                  </div>
                  <div class="col-sm-3"><span
                    class="float-right">{{item['returnData'].data.insertDate | date: 'yyyy-MM-dd'}}</span></div>
                </div>
              </div>
              <ng-template #elseBlock>
                <div class="card bg-red text-white">
                  <div class="card-body">Görüntülenecek veri bulunamadı.</div>
                </div>
              </ng-template>
            </div>
          </div>
          <ng-template #elseBlock>
            <div class="card bg-red text-white m-3">
              <div class="card-body">Görüntülenecek veri bulunamadı.</div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
