<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-4">
        <img src="../../assets/images/dashboard.png" width="25px" class="float-left mr-1">
        <h5 class="card-title">Dashboard</h5>
      </div>
    </div>
  </div>
  <div class="card-body bg-body dashboard-work-area">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <canvas id="barChart"></canvas>
              </div>
              <div class="card-footer">
                <h5>Aylık Cari Hareketler</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-12 mt-2">
            <div class="card">
              <div class="card-header bg-white">
                <div class="row">
                  <div class="col-sm-12">
                    <img src="../../assets/images/visit-2.png" width="25px" class="float-left mr-1">
                    <h5 class="card-title text-purple">Yapılacak Listesi</h5>
                  </div>
                </div>
              </div>
              <div class="card-body bg-white work-area-250">
                <div *ngIf="todoList != undefined; else elseBlock2">
                  <div *ngIf="todoList.length > 0; else elseBlock">
                    <div class="card card-kanban mb-1">
                      <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="90"
                             aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="card-body">
                        <table class="table table-sm mb-0">
                          <tbody>
                          <tr class="todo-list-item" *ngFor="let item of todoList; index as i; trackBy: primaryKey">
                            <td>
                              <i class="fa fa-check mr-2 text-success cursor-pointer" (click)="btnArchiveTodo_Click(item)"></i>
                              <i class="fa fa-trash mr-2 text-danger cursor-pointer" (click)="btnRemoveTodo_Click(item)"></i>
                              {{item.data.todoText}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <ng-template #elseBlock>
                    <div class="card bg-danger text-white">
                      <div class="card-body">Görüntülenecek veri bulunamadı.</div>
                    </div>
                  </ng-template>
                </div>
                <ng-template #elseBlock2>
                  <div class="loader"></div>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="col-sm-12 mt-2">
            <div class="card">
              <div class="card-header bg-white">
                <img src="../../assets/images/crm_2.png" width="25px" class="float-left mr-1">
                <h5 class="card-title text-warning">Günlük Etkinlikler</h5>
              </div>
              <div class="card-body bg-white work-area-250">
                <div *ngIf="actionList != undefined; else elseBlock2">
                  <div *ngIf="actionList.length > 0; else elseBlock">
                    <div class="card card-kanban cursor-pointer mb-1"
                         *ngFor="let item of actionList; index as i; trackBy: primaryKey" (click)="showAction(item)">
                      <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20"
                             aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="card-body">
                        <div class="font-weight-500 text-dark">{{item.customerName}}</div>
                        <div class="row">
                          <div class="col">
                            <img src="../../assets/images/{{item.data.relationType}}.png" width="25px"
                                 class="float-left mr-1">
                            <div class="text-small text-dark float-left">{{item.relationTypeTR}}</div>
                          </div>
                          <div class="col">
                            <div
                              class="text-small text-dark float-right">{{item.data.actionDate | date: 'yyyy.MM.dd'}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ng-template #elseBlock>
                    <div class="card bg-danger text-white">
                      <div class="card-body">Görüntülenecek veri bulunamadı.</div>
                    </div>
                  </ng-template>
                </div>
                <ng-template #elseBlock2>
                  <div class="loader"></div>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="col-sm-12 mt-2">
            <div class="card">
              <div class="card-header bg-white">
                <img src="../../assets/images/visit-2.png" width="25px" class="float-left mr-1">
                <h5 class="card-title text-danger">Günlük Planlı Ziyaretler</h5>
              </div>
              <div class="card-body bg-white work-area-250">
                <div *ngIf="visitList != undefined; else elseBlock2">
                  <div *ngIf="visitList.length > 0; else elseBlock">
                    <div class="card card-kanban cursor-pointer mb-1"
                         *ngFor="let item of visitList; index as i; trackBy: primaryKey" (click)="showVisit(item)">
                      <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="20"
                             aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="card-body">
                        <div class="font-weight-500 text-dark">{{item.customerName}}</div>
                        <div class="row">
                          <div class="col">
                            <img src="../../assets/images/visit-2.png" width="25px" class="float-left mr-1">
                            <div class="text-small text-dark float-left">{{item.employeeName}}</div>
                          </div>
                          <div class="col">
                            <div
                              class="text-small text-dark float-right">{{item.visit.visitDate | date: 'yyyy.MM.dd'}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ng-template #elseBlock>
                    <div class="card bg-danger text-white">
                      <div class="card-body">Görüntülenecek veri bulunamadı.</div>
                    </div>
                  </ng-template>
                </div>
                <ng-template #elseBlock2>
                  <div class="loader"></div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12">
            <div id="panel-navigator">
              <div class="row">
                <div class="col-sm-6">
                  <div class="card card-stats bg-white">
                    <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                        <img src="../../assets/images/sales_invoice.png" width="30px">
                      </div>
                      <p class="card-category">Satış Faturası</p>
                      <h5 class="card-title">{{siAmount | currency:'₺'}}</h5>
                    </div>
                    <div class="card-footer">
                      <div class="stats">Son 24 Saatlik İşlemler</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card card-stats bg-white">
                    <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                        <img src="../../assets/images/collection.png" width="30px">
                      </div>
                      <p class="card-category">Tahsilat</p>
                      <h5 class="card-title">{{colAmount | currency:'₺'}}</h5>
                    </div>
                    <div class="card-footer">
                      <div class="stats">Son 24 Saatlik İşlemler</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mt-1">
                  <div class="card card-stats bg-white">
                    <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                        <img src="../../assets/images/purchase_invoice.png" width="30px">
                      </div>
                      <p class="card-category">Alım Faturası</p>
                      <h5 class="card-title">{{purchaseInvoiceAmount | currency:'₺'}}</h5>
                    </div>
                    <div class="card-footer">
                      <div class="stats">Son 24 Saatlik İşlemler</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mt-1">
                  <div class="card card-stats bg-white">
                    <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                        <img src="../../assets/images/payment.png" width="30px">
                      </div>
                      <p class="card-category">Ödeme</p>
                      <h5 class="card-title">{{payAmount | currency:'₺'}}</h5>
                    </div>
                    <div class="card-footer">
                      <div class="stats">Son 24 Saatlik İşlemler</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mt-1">
                  <div class="card card-stats bg-white">
                    <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                        <img src="../../assets/images/account_voucher.png" width="30px">
                      </div>
                      <p class="card-category">Hesap Fişi</p>
                      <h5 class="card-title">{{avAmount | currency:'₺'}}</h5>
                    </div>
                    <div class="card-footer">
                      <div class="stats">Son 24 Saatlik İşlemler</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mt-1">
                  <div class="card card-stats bg-white">
                    <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                        <img src="../../assets/images/cash-desks.png" width="30px">
                      </div>
                      <p class="card-category">Kasa Fişi</p>
                      <h5 class="card-title">{{cvAmount | currency:'₺'}}</h5>
                    </div>
                    <div class="card-footer">
                      <div class="stats">Son 24 Saatlik İşlemler</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-sm-12 mt-2">
            <div class="card">
              <div class="card-header bg-white work-area-250">
                <h5 class="card-title">Günlük İşlemler</h5>
              </div>
              <div class="card-body bg-white work-area-2">
                <div *ngIf="transactionList != undefined; else elseBlock2">
                  <div class="list-group" *ngIf="transactionList.length > 0; else elseBlock">
                    <div class="list-group-item bg-red text-light">
                      <div class="row">
                        <div class="col-sm-6">İşlem</div>
                        <div class="col-sm-3"><span class="float-right">Fiş</span></div>
                        <div class="col-sm-3"><span class="float-right">Bakiye</span></div>
                      </div>
                    </div>
                    <div class="list-group-item list-group-item-action list-group-item-light cursor-pointer"
                         *ngFor="let item of transactionList; index as i; trackBy: primaryKey"
                         (click)="showTransaction(item)"
                         style="font-size: 85%">
                      <div class="row">
                        <div class="col-sm-2"><img src='{{item.iconUrl}}' width="40px"></div>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-sm-6 mt-1 text-red">{{item.transactionTypeTr}}</div>
                            <div class="col-sm-3 mt-1"><span class="float-right">{{item.data.receiptNo}}</span></div>
                            <div class="col-sm-3 mt-1"><span class="float-right">{{item.data.amount | currency:'₺'}}</span></div>
                            <div class="col-sm-12"><small>{{item?.parentData.name}}</small></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ng-template #elseBlock>
                    <div class="card bg-danger text-white">
                      <div class="card-body">Görüntülenecek veri bulunamadı.</div>
                    </div>
                  </ng-template>
                </div>
                <ng-template #elseBlock2>
                  <div class="loader"></div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
