<div class="card work-area" *ngIf="selectedRecord==undefined">
  <div class="card-header bg-gray-gradient">
    <div class="row">
      <div class="col-sm-8">
        <img src="../../assets/images/product-unit.png" class="float-left mr-2" width="30px" alt="">
        <h4 class="card-title float-left mr-2">Ürün Birim Listesi</h4>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Yeni Ürün Birim"
                (click)="btnNew_Click()"><i class="fa fa-plus"></i></button>
      </div>
      <div class="col-sm-4 head-filter">
        <div class="input-group input-group-round">
          <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-filter"></i>
                        </span>
          </div>
          <input type="search" class="form-control filter-list-input" placeholder="Ürün Birim Ara.." [(ngModel)]="searchText">
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="mainList != undefined; else elseBlock2">
      <div class="table-responsive work-area-11" *ngIf="mainList.length > 0; else elseBlock">
        <table class="table table-bordered table-striped table-hover">
          <thead>
          <tr class="table-row-class">
            <th>Ürün Birim</th>
            <th>Aktif Mi?</th>
          </tr>
          </thead>
          <tbody>
          <tr class="cursor-pointer table-row-class"
              (click)="showSelectedRecord(item)"
              *ngFor="let item of mainList | filterProduct: searchText; index as i;">
            <td>
              <i class="far fa-arrow-alt-circle-right mr-2 text-red"></i>
              <span class="text-red font-weight-600 mr-1">{{item.data.unitName}}</span>
            </td>
            <td>{{item.isActiveTr}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <ng-template #elseBlock>
        <div class="card bg-red text-white">
          <div class="card-body">Görüntülenecek veri bulunamadı.</div>
        </div>
      </ng-template>
    </div>
    <ng-template #elseBlock2>
      <div class="loader"></div>
    </ng-template>
  </div>
</div>
<div class="card work-area" *ngIf="selectedRecord!=undefined">
  <div class="card-header bg-gray-gradient">
    <div class="row">
      <div class="col-sm-12">
        <img src="../../assets/images/product-unit.png" class="float-left mr-2" width="30px" alt="">
        <h4 class="card-title float-left mr-2">Ürün Birim Detayı</h4>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Listeye Geri Dön"
                (click)="btnReturnList_Click()"><i class="fa fa-arrow-left"></i></button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="form-row">
      <div class="col-sm-6 col">
        <div class="card">
          <div class="card-header bg-gray-gradient">
            <h5>Ürün Birim Bilgileri</h5>
          </div>
          <div class="card-body">
            <form (ngSubmit)="btnSave_Click()" class="was-validated" #f="ngForm">
              <div class="form-row form-inline">
                <div class="col-sm-3">
                  <label class="col-form-label float-left" for="unitName">Birim Adı</label>
                </div>
                <div class="col-sm-9">
                  <input class="form-control form-control-sm w-100" id="unitName" name="unitName" type="text"
                         [(ngModel)]="selectedRecord.data.unitName" required>
                  <div class="invalid-feedback invalid-input-info">Lütfen alanı doldurunuz.</div>
                </div>
                <div class="col-sm-3">
                  <label class="col-form-label float-left" for="isActive">Aktif Durumu</label>
                </div>
                <div class="col-sm-9">
                  <select class="form-control form-control-sm w-100" id="isActive" name="isActive"
                          [(ngModel)]="selectedRecord.data.isActive">
                    <option [ngValue]="true">Aktif</option>
                    <option [ngValue]="false">Pasif</option>
                  </select>
                </div>
                <div class="col-sm-3">
                  <label class="col-form-label float-left" for="description">Açıklama</label>
                </div>
                <div class="col-sm-9">
                  <input class="form-control form-control-sm w-100" id="description" name="description" type="text"
                         [(ngModel)]="selectedRecord.data.description">
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="btn-action float-right">
              <div class="input-group">
                <div class="input-group-prepend">
          <span class="input-group-text success-icon-side">
            <i class="fa fa-check" *ngIf="!onTransaction"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="onTransaction"></i>
          </span>
                </div>
                <button type="button" class="btn btn-sm btn-success form-control"
                        [disabled]="onTransaction || !f.valid"
                        (click)="btnSave_Click()">Kaydet
                </button>
              </div>
            </div>
            <div class="btn-action float-left"
                 *ngIf="selectedRecord.data.primaryKey!=undefined">
              <div class="input-group">
                <div class="input-group-prepend">
          <span class="input-group-text danger-icon-side">
            <i class="far fa-trash-alt" *ngIf="!onTransaction"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="onTransaction"></i>
          </span>
                </div>
                <button type="button" class="btn btn-sm btn-danger form-control"
                        [disabled]="onTransaction"
                        (click)="btnRemove_Click()">Kaldır
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6" *ngIf="!isNewPanelOpened">
        <div class="card">
          <div class="card-header bg-gray-gradient">
            <div class="row">
              <div class="col-sm-6">
                <h5 class="float-left mr-2">Ürünler</h5>
                <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Ürün Ekle"
                        *ngIf="selectedRecord.data.primaryKey!=undefined"
                        (click)="btnNewProduct_Click()"><i class="fa fa-plus"></i></button>
                <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Ürün Aktar"
                        *ngIf="selectedRecord.data.primaryKey != null"
                        (click)="btnExcelImport_Click()"><i class="fa fa-upload"></i></button>
                <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Excel'e Aktar"
                        *ngIf="unitMappingList?.length > 0"
                        (click)="btnExportToExcel_Click()"><i class="fas fa-file-excel"></i></button>
                <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Tüm Eşleşmeyi Kaldır"
                        *ngIf="unitMappingList?.length > 0"
                        (click)="btnRemoveAllProducts_Click()"><i class="fa fa-remove"></i></button>
              </div>
              <div class="col-sm-6 head-filter">
                <div class="input-group input-group-round">
                  <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-filter"></i>
                        </span>
                  </div>
                  <input type="search" class="form-control filter-list-input" placeholder="Ürün Ara.." [(ngModel)]="productSearchText">
                </div>
              </div>
            </div>
          </div>
          <div class="card-body work-area-2" *ngIf="selectedRecord.data.primaryKey!=undefined; else elseBlock2">
            <div *ngIf="unitMappingList != undefined; else elseBlock3">
              <div class="list-group" *ngIf="unitMappingList.length > 0; else elseBlock">
                <div class="list-group-item bg-red text-light main-list-item">
                  <div class="row">
                    <div class="col-sm-10">Ürün</div>
                    <div class="col-sm-2"><span class="float-right">Değer</span></div>
                  </div>
                </div>
                <div class="list-group-item list-group-item-action main-list-item cursor-pointer"
                     (click)="showSelectedProduct(item)"
                     *ngFor="let item of unitMappingList | filterProductSub: productSearchText;">
                  <div class="row">
                    <div class="col-sm-10">
                      <i class="far fa-arrow-alt-circle-right text-red mr-2"></i>
                      <span class="text-red font-weight-600 mr-2">{{item.product.data.productCode}}</span>
                      <span class="font-weight-600">{{item.product.data.productName}}</span>
                    </div>
                    <div class="col-sm-2"><span class="float-right">{{item.data.unitValue}}</span></div>
                  </div>
                </div>
              </div>
              <ng-template #elseBlock>
                <div class="card bg-red text-white">
                  <div class="card-body">Görüntülenecek veri bulunamadı.</div>
                </div>
              </ng-template>
            </div>
            <ng-template #elseBlock3>
              <div class="loader"></div>
            </ng-template>
          </div>
          <ng-template #elseBlock2>
            <div class="card bg-red text-white m-3">
              <div class="card-body">Görüntülenecek veri bulunamadı.</div>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="col-sm-6" *ngIf="isNewPanelOpened">
        <div class="card">
          <div class="card-header bg-gray-gradient">
            <h5 class="float-left mr-2">Yeni Ürün Ekle</h5>
            <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Listeye Geri Dön"
                    (click)="btnOpenList_Click()"><i class="fa fa-arrow-left"></i></button>
          </div>
          <div class="card-body work-area-2">
            <form (ngSubmit)="btnSaveProduct_Click()" class="was-validated" #f2="ngForm">
              <div class="form-row form-inline">
                <div class="col-sm-3">
                  <label class="col-form-label float-left">Ürün Adı</label>
                </div>
                <div class="col-sm-9">
                  <div class="input-group">
                    <input class="form-control form-control-sm" name="productName" id="productName"
                           [(ngModel)]="selectedMapping.product.data.productName" disabled>
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-outline-secondary" (click)="btnSelectProduct_Click()" type="button"
                      [disabled]="selectedMapping.data.primaryKey!=undefined">
                        <i class="far fa-arrow-alt-circle-right"></i></button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <label class="col-form-label float-left" for="unitValue">Birim Değer</label>
                </div>
                <div class="col-sm-9">
                  <input class="form-control form-control-sm w-100" id="unitValue" name="unitValue" type="number"
                         [(ngModel)]="selectedMapping.data.unitValue">
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="col-sm-3 float-right">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text success-icon-side">
                    <i class="fa fa-check" *ngIf="!onTransaction"></i>
                    <i class="fa fa-spinner fa-spin" *ngIf="onTransaction"></i>
                  </span>
                </div>
                <button type="button" class="btn btn-sm btn-success form-control"
                        [disabled]="onTransaction || !f2.valid"
                        (click)="btnSaveProduct_Click()">Ürün Kaydet
                </button>
              </div>
            </div>
            <div class="col-sm-3 float-left" *ngIf="selectedMapping.data.primaryKey!=undefined">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text danger-icon-side">
            <i class="far fa-trash-alt" *ngIf="!onTransaction"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="onTransaction"></i>
          </span>
                </div>
                <button type="button" class="btn btn-sm btn-danger form-control"
                        [disabled]="onTransaction"
                        (click)="btnRemoveProduct_Click()">Ürün Kaldır
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
