<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-4">
        <img src="../../assets/images/dashboard.png" width="30px" class="float-left mr-1">
        <h5 class="card-title">Tanımlar Pano</h5>
      </div>
    </div>
  </div>
  <div class="card-body bg-body dashboard-work-area">
    <div class="row">
      <div class="col-sm-6">
        <div id="panel-navigator">
          <div class="row">
            <a class="col-sm-3" routerLink="/storage" routerLinkActive="active" title="Modülü Aç">
              <div class="card card-stats bg-white">
                <div class="card-header card-header-warning card-header-icon d-flex justify-content-center">
                  <div class="card-icon">
                    <img src="../../assets/images/report_icon_2.png" width="30px">
                  </div>
                </div>
                <div class="card-footer d-flex justify-content-center">
                  <div  class="stats text-center">Depo</div>
                </div>
              </div>
            </a>
            <a class="col-sm-3" routerLink="/term" routerLinkActive="active" title="Modülü Aç">
              <div class="card card-stats bg-white">
                <div class="card-header card-header-warning card-header-icon d-flex justify-content-center">
                  <div class="card-icon">
                    <img src="../../assets/images/report_icon_2.png" width="30px">
                  </div>
                </div>
                <div class="card-footer d-flex justify-content-center">
                  <div  class="stats text-center">Vade</div>
                </div>
              </div>
            </a>
            <a class="col-sm-3" routerLink="/payment-type" routerLinkActive="active" title="Modülü Aç">
              <div class="card card-stats bg-white">
                <div class="card-header card-header-warning card-header-icon d-flex justify-content-center">
                  <div class="card-icon">
                    <img src="../../assets/images/report_icon_2.png" width="30px">
                  </div>
                </div>
                <div class="card-footer d-flex justify-content-center">
                  <div  class="stats text-center">Ödeme Şekli</div>
                </div>
              </div>
            </a>
          </div>
        </div>       
      </div>
      <div class="col-sm-6">
        <div id="panel-navigator">
          <div class="row">
            <a class="col-sm-3" routerLink="/note" routerLinkActive="active" title="Modülü Aç">
              <div class="card card-stats bg-white">
                <div class="card-header card-header-warning card-header-icon d-flex justify-content-center">
                  <div class="card-icon">
                    <img src="../../assets/images/collection_term_on_day.png" width="30px">
                  </div>
                </div>
                <div class="card-footer d-flex justify-content-center">
                  <div  class="stats text-center">Notlar</div>
                </div>
              </div>
            </a>
            <a class="col-sm-3" routerLink="/file-uploader" routerLinkActive="active" title="Modülü Aç">
              <div class="card card-stats bg-white">
                <div class="card-header card-header-warning card-header-icon d-flex justify-content-center">
                  <div class="card-icon">
                    <img src="../../assets/images/file-upload.png" width="30px">
                  </div>
                </div>
                <div class="card-footer d-flex justify-content-center">
                  <div  class="stats text-center">Dosya Yükleme</div>
                </div>
              </div>
            </a>
            <a class="col-sm-3" routerLink="/notification" routerLinkActive="active" title="Modülü Aç">
              <div class="card card-stats bg-white">
                <div class="card-header card-header-warning card-header-icon d-flex justify-content-center">
                  <div class="card-icon">
                    <img src="../../assets/images/notification.png" width="30px">
                  </div>
                </div>
                <div class="card-footer d-flex justify-content-center">
                  <div  class="stats text-center">Bildirimler</div>
                </div>
              </div>
            </a>
            <a class="col-sm-3" routerLink="/user" routerLinkActive="active" title="Modülü Aç">
              <div class="card card-stats bg-white">
                <div class="card-header card-header-warning card-header-icon d-flex justify-content-center">
                  <div class="card-icon">
                    <img src="../../assets/images/users.png" width="30px">
                  </div>
                </div>
                <div class="card-footer d-flex justify-content-center">
                  <div  class="stats text-center">Kullanıcılar</div>
                </div>
              </div>
            </a>
            <a class="col-sm-3 mt-2" routerLink="/reminder" routerLinkActive="active" title="Modülü Aç">
              <div class="card card-stats bg-white">
                <div class="card-header card-header-warning card-header-icon d-flex justify-content-center">
                  <div class="card-icon">
                    <img src="../../assets/images/reminder.png" width="30px">
                  </div>
                </div>
                <div class="card-footer d-flex justify-content-center">
                  <div  class="stats text-center">Hatırlatıcı</div>
                </div>
              </div>
            </a>
            <a class="col-sm-3 mt-2" routerLink="/account-transaction" routerLinkActive="active" title="Modülü Aç">
              <div class="card card-stats bg-white">
                <div class="card-header card-header-warning card-header-icon d-flex justify-content-center">
                  <div class="card-icon">
                    <img src="../../assets/images/account_transactions.png" width="30px">
                  </div>
                </div>
                <div class="card-footer d-flex justify-content-center">
                  <div  class="stats text-center">Hesap Hareketleri</div>
                </div>
              </div>
            </a>
            <a class="col-sm-3 mt-2" routerLink="/mail-sender" routerLinkActive="active" title="Modülü Aç">
              <div class="card card-stats bg-white">
                <div class="card-header card-header-warning card-header-icon d-flex justify-content-center">
                  <div class="card-icon">
                    <img src="../../assets/images/mail_sender.png" width="30px">
                  </div>
                </div>
                <div class="card-footer d-flex justify-content-center">
                  <div  class="stats text-center">Mail Gönderici</div>
                </div>
              </div>
            </a>
            <a class="col-sm-3 mt-2" routerLink="/location" routerLinkActive="active" title="Modülü Aç">
              <div class="card card-stats bg-white">
                <div class="card-header card-header-warning card-header-icon d-flex justify-content-center">
                  <div class="card-icon">
                    <img src="../../assets/images/location.png" width="30px">
                  </div>
                </div>
                <div class="card-footer d-flex justify-content-center">
                  <div  class="stats text-center">Lokasyonlar</div>
                </div>
              </div>
            </a>
            <a class="col-sm-3 mt-2" routerLink="/to-do-list" routerLinkActive="active" title="Modülü Aç">
              <div class="card card-stats bg-white">
                <div class="card-header card-header-warning card-header-icon d-flex justify-content-center">
                  <div class="card-icon">
                    <img src="../../assets/images/todo.png" width="30px">
                  </div>
                </div>
                <div class="card-footer d-flex justify-content-center">
                  <div  class="stats text-center">Yapılacaklar Listesi</div>
                </div>
              </div>
            </a>
          </div>
        </div>     
      </div>
    </div>
  </div>
</div>