/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
body {
    background-color: #eee !important;
}
.cursor-pointer{
    cursor: pointer;
}

.text-button:hover {
    cursor: pointer;
    text-decoration: underline !important;
    color: #212529 !important;
}

.border-right-radius {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.invalid-inpput-info {
    margin-top: -25px !important;
    position: absolute;
    margin-left: 5px;
    width: auto !important;
}