<div class="row">
  <div class="col-sm-12">
    <div class="dropzone"
         appDropzone
         (hovered)="toggleHover($event)"
         (dropped)="onDrop($event)"
         [class.hovering]="isHovering">
      <h4>Dosya Yükleme</h4>
      <p>Dosya Sürükle ve Bırak</p>
    </div>
  </div>
  <div class="col-sm-12">
    <h4>Yüklemeler</h4>
    <div *ngIf="files.length > 0 else elseBlock">
      <div *ngFor="let file of files">
        <app-upload-task [file]="file" [recordData]="recordData"></app-upload-task>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="card bg-red text-white">
        <div class="card-body">Görüntülenecek veri bulunamadı.</div>
      </div>
    </ng-template>
  </div>
</div>
