<div class="card" *ngIf="selectedRecord==undefined">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-4">
                <h5 class="card-title">Satış Faturası Listesi</h5>
            </div>
            <div class="col-sm-5">
                <input type="text" class="form-control form-control-sm" placeholder="Müşteri Ara.." [(ngModel)]="searchText" />
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-secondary btn-sm btn-block" (click)="btnNew_Click()">+ Yeni Fatura</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div *ngIf="mainList.length > 0; else elseBlock">
                <table class="table table-hover">
                        <thead>
                          <tr class="bg-warning text-light">
                            <th>#</th>
                            <th>Müşteri</th>
                            <th>Fiş Numarası</th>
                            <th><span class="float-right">Tutar</span></th>
                            <th><span class="float-right">Tutar (+KDV)</span></th>
                            <th><span class="float-right">Tarih</span></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="cursor-pointer" (click)="showSelectedRecord(item)"
                          *ngFor="let item of mainList | filterCustomer: searchText; index as i; trackBy: primaryKey">
                            <td>#</td>
                            <td scope="row">{{item.customerName}}</td>
                            <td>{{item.data.receiptNo}}</td>
                            <td><span class="float-right">{{item.data.totalPrice | currency:'₺'}}</span></td>
                            <td><span class="float-right">{{item.data.totalPriceWithTax | currency:'₺'}}</span></td>
                            <td><span class="float-right">{{item.data.insertDate | date: 'yyyy.MM.dd'}}</span></td>
                          </tr>
                          <tr>
                        </tbody>
                      </table>
        </div>
        <ng-template #elseBlock>
            <div class="card bg-danger text-white">
              <div class="card-body">Görüntülenecek veri bulunamadı.</div>
            </div>
        </ng-template>        
    </div>
</div>
<div class="card" *ngIf="selectedRecord!=undefined">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-9">
                <h5 class="card-title">Satış Faturası Detayı
                    <fa name="cog" animation="spin" *ngIf="isRecordHasTransacton"></fa>
                </h5>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-sm btn-primary btn-block"
                    (click)="btnReturnList_Click()">Listeye Geri Dön</button>
            </div>
        </div>

    </div>
    <div class="card-body">
        <form (ngSubmit)="btnSave_Click()" class="was-validated" #f="ngForm">
            <div class="form-row form-inline">
                <div class="col-sm-3">
                    <label class="col-form-label float-left" for="customerName">Müşteri</label>
                </div>
                <div class="col-sm-9">
                    <select class="form-control form-control-sm w-100" id="customerCode" name="customerCode" required 
                    [disabled]="f.valid"
                    [(ngModel)]="selectedRecord.customerCode">
                        <option value={{item.primaryKey}} *ngFor="let item of customerList$ | async; index as i; trackBy: primaryKey">{{item.name}}</option>
                    </select>
                    <div class="invalid-feedback invalid-inpput-info">Lütfen müşteri seçiniz.</div>
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label float-left" for="invoiceType">Fatura Tipi</label>
                </div>
                <div class="col-sm-3">
                        <select class="form-control form-control-sm w-100" id="type" name="type" required 
                        [disabled]="f.valid"
                        [(ngModel)]="selectedRecord.type">
                            <option value="sales">Satış</option>
                            <option value="return">İade</option>
                        </select>
                        <div class="invalid-feedback invalid-inpput-info">Lütfen tip seçiniz.</div>
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label float-left" for="receiptNo">Fiş Numarası</label>
                </div>
                <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" id="receiptNo" name="receiptNo" type="text" step="any"
                        [(ngModel)]="selectedRecord.receiptNo" required>
                    <div class="invalid-feedback invalid-inpput-info">Lütfen alanı doldurunuz.</div>
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label float-left" for="totalPrice">Tutar</label>
                </div>
                <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" id="totalPrice" name="totalPrice" type="number" step="any"
                        [(ngModel)]="selectedRecord.totalPrice" required>
                    <div class="invalid-feedback invalid-inpput-info">Lütfen alanı doldurunuz.</div>
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label float-left" for="totalPriceWithTax">Tutar (+KDV)</label>
                </div>
                <div class="col-sm-3">
                    <input class="form-control form-control-sm w-100" id="totalPriceWithTax" name="totalPriceWithTax"
                        type="number" step="any" [(ngModel)]="selectedRecord.totalPriceWithTax" required>
                    <div class="invalid-feedback invalid-inpput-info">Lütfen alanı doldurunuz.</div>
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label float-left" for="insertDate">Kayıt Tarihi</label>
                </div>
                <div class="col-sm-9">
                    <label class="col-form-label float-left" for="insertDate">{{selectedRecord.insertDate | date: 'yyyy.MM.dd'}}</label>
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label float-left" for="description">Açıklama</label>
                </div>
                <div class="col-sm-9">
                    <input class="form-control form-control-sm w-100" id="description" name="description" type="text"
                        [(ngModel)]="selectedRecord.description">
                </div>
            </div>
        </form>

    </div>
    <div class="card-footer">
        <div class="col-sm-3 float-right">
            <button type="button" class="btn btn-sm btn-success btn-block"
            [disabled]="!f.valid"
                (click)="btnSave_Click()">Kaydet</button>
        </div>
        <div class="col-sm-3" *ngIf="selectedRecord.primaryKey!=undefined">
            <button type="button" class="btn btn-sm btn-danger btn-block"
                (click)="btnRemove_Click()">Kaldır</button>
        </div>

    </div>
</div>