<div class="card" *ngIf="selectedRecord==undefined">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-4">
                <h5 class="card-title">Sales Invoice List</h5>
            </div>
            <div class="col-sm-5">
                <input type="text" class="form-control form-control-sm" placeholder="Invoice Search.." />
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-primary btn-sm btn-block" (click)="btnNew_Click()">+New
                    Invoice</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="list-group" *ngIf="mainList$ | async; let mainList; else elseBlock">
                <div class="list-group-item">
                        <div class="row">
                            <div class="col-sm-4">Customer Name</div>
                            <div class="col-sm-2">Receipt No</div>
                            <div class="col-sm-2"><span class="float-right">Amount</span></div>
                            <div class="col-sm-2"><span class="float-right">Amount (+Tax)</span></div>
                            <div class="col-sm-2"><span class="float-right">Date</span></div>
        
                        </div>
                </div>
            <div class="list-group-item list-group-item-action list-group-item-light cursor-pointer"
                (click)="showSelectedRecord(item)"
                *ngFor="let item of mainList; index as i; trackBy: primaryKey">
                <div class="row">
                    <div class="col-sm-4"><span class="text-bold text-dark">{{i+1}}</span> {{item.customerName}}</div>
                    <div class="col-sm-2">{{item.data.receiptNo}}</div>
                    <div class="col-sm-2"><span class="float-right">{{item.data.totalPrice | number}} ₺</span></div>
                    <div class="col-sm-2"><span class="float-right">{{item.data.totalPriceWithTax | number}} ₺</span></div>
                    <div class="col-sm-2"><span class="float-right">{{item.data.insertDate | date: 'yyyy-MM-dd'}}</span></div>

                </div>
            </div>
        </div>
        <ng-template #elseBlock>
            <div class="card bg-danger text-white">
              <div class="card-body">Görüntülenecek veri bulunamadı.</div>
            </div>
        </ng-template>        
    </div>
</div>
<div class="card" *ngIf="selectedRecord!=undefined">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-9">
                <h5 class="card-title">Sales Invoice Detail
                    <fa name="cog" animation="spin" *ngIf="isRecordHasTransacton"></fa>
                </h5>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-sm btn-primary btn-block"
                    (click)="btnReturnList_Click()">Return List</button>
            </div>
        </div>

    </div>
    <div class="card-body">
        <form (ngSubmit)="btnSave_Click()" class="was-validated" #f="ngForm">
            <div class="form-row form-inline">
                <div class="col-sm-3">
                    <label class="col-form-label float-left" for="customerName">Customer Name</label>
                </div>
                <div class="col-sm-9">
                    <select class="form-control form-control-sm w-100" id="customerCode" name="customerCode" required 
                    [disabled]="f.valid"
                    [(ngModel)]="selectedRecord.customerCode">
                        <option value={{item.primaryKey}} *ngFor="let item of customerList$ | async; index as i; trackBy: primaryKey">{{item.name}}</option>
                    </select>
                    <div class="invalid-feedback invalid-inpput-info">Please select customer.</div>
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label float-left" for="invoiceType">Invoice Type</label>
                </div>
                <div class="col-sm-3">
                        <select class="form-control form-control-sm w-100" id="type" name="type" required 
                        [disabled]="f.valid"
                        [(ngModel)]="selectedRecord.type">
                            <option value="sales">Sales Invoice</option>
                            <option value="return">Return Invoice</option>
                        </select>
                        <div class="invalid-feedback invalid-inpput-info">Please select type.</div>
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label float-left" for="receiptNo">Receipt No</label>
                </div>
                <div class="col-sm-3">
                    <input class="form-control form-control-sm" id="receiptNo" name="receiptNo" type="text"
                        [(ngModel)]="selectedRecord.receiptNo" required>
                    <div class="invalid-feedback invalid-inpput-info">Please fill field.</div>
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label float-left" for="totalPrice">Total Price</label>
                </div>
                <div class="col-sm-3">
                    <input class="form-control form-control-sm" id="totalPrice" name="totalPrice" type="currency"
                        [(ngModel)]="selectedRecord.totalPrice" required>
                    <div class="invalid-feedback invalid-inpput-info">Please fill field.</div>
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label float-left" for="totalPriceWithTax">Total Price With Tax</label>
                </div>
                <div class="col-sm-3">
                    <input class="form-control form-control-sm" id="totalPriceWithTax" name="totalPriceWithTax"
                        type="currency" [(ngModel)]="selectedRecord.totalPriceWithTax" required>
                    <div class="invalid-feedback invalid-inpput-info">Please fill field.</div>
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label float-left" for="insertDate">Record Date</label>
                </div>
                <div class="col-sm-9">
                    <label class="col-form-label float-left" for="insertDate">{{selectedRecord.insertDate | date: 'yyyy-MM-dd'}}</label>
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label float-left" for="description">Description</label>
                </div>
                <div class="col-sm-9">
                    <input class="form-control form-control-sm w-100" id="description" name="description" type="text"
                        [(ngModel)]="selectedRecord.description">
                </div>
            </div>
        </form>

    </div>
    <div class="card-footer">
        <div class="col-sm-3 float-right">
            <button type="button" class="btn btn-sm btn-success btn-block"
                (click)="btnSave_Click()">Save</button>
        </div>
        <div class="col-sm-3" *ngIf="selectedRecord.primaryKey!=undefined">
            <button type="button" class="btn btn-sm btn-danger btn-block"
                (click)="btnRemove_Click()">Remove</button>
        </div>

    </div>
</div>