<div class="card work-area" *ngIf="selectedRecord==undefined">
  <div class="card-header bg-gray-gradient">
    <div class="row">
      <div class="col-sm-8">
        <img src="../../assets/images/collection_term_on_day.png" width="30px" class="float-left mr-2">
        <h4 class="card-title float-left mr-2">Not Listesi</h4>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Yeni Not"
                (click)="btnNew_Click()"><i class="fa fa-plus"></i></button>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left mr-2" title="Excel'e Aktar"
                (click)="btnExportToExcel_Click()"><i class="fa fa-file-excel-o"></i></button>
      </div>
      <div class="col-sm-4 head-filter">
        <div class="input-group input-group-round">
          <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-filter"></i>
                        </span>
          </div>
          <input type="search" class="form-control filter-list-input" placeholder="Not Ara.." [(ngModel)]="searchText">
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="mainList != undefined; else elseBlock2">
      <div class="list-group" *ngIf="mainList.length > 0; else elseBlock">
        <div class="list-group-item bg-indigo text-light main-list-item">
          <div class="row">
            <div class="col-sm-12">Not</div>
          </div>
        </div>
        <div class="list-group-item list-group-item-action main-list-item cursor-pointer"
             (click)="showSelectedRecord(item)"
             *ngFor="let item of mainList | filterNote: searchText; index as i; trackBy: primaryKey">
          <div class="row">
            <div class="col-sm-12"><i class="fa fa-arrow-circle-right mr-2 text-indigo"></i>{{item.data.note}}</div>
          </div>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="card bg-danger text-white">
          <div class="card-body">Görüntülenecek veri bulunamadı.</div>
        </div>
      </ng-template>
    </div>
    <ng-template #elseBlock2>
      <div class="loader"></div>
    </ng-template>
  </div>
</div>
<div class="card work-area" *ngIf="selectedRecord!=undefined">
  <div class="card-header bg-gray-gradient">
    <div class="row">
      <div class="col-sm-12">
        <img src="../../assets/images/collection_term_on_day.png" width="30px" class="float-left mr-2">
        <h4 class="card-title float-left mr-2">Not Detayı</h4>
        <button class="btn btn-sm btn-round btn-outline-secondary float-left" title="Listeye Geri Dön"
                (click)="btnReturnList_Click()"><i class="fa fa-arrow-left"></i></button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form (ngSubmit)="btnSave_Click()" class="was-validated">
      <div class="row form-inline">
        <div class="col-sm-2">
          <label class="col-form-label float-left" for="note">Note</label>
        </div>
        <div class="col-sm-10">
            <textarea class="form-control form-control-sm w-100" id="note" name="note" type="text" required
                      cols="40" rows="5" [(ngModel)]="selectedRecord.data.note"></textarea>
          <div class="invalid-feedback">Lütfen not alanını doldurunuz.</div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="col-sm-2 float-right">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text success-icon-side">
            <i class="fa fa-check" *ngIf="!onTransaction"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="onTransaction"></i>
          </span>
        </div>
        <button type="button" class="btn btn-success form-control"
                [disabled]="onTransaction"
                (click)="btnSave_Click()">Kaydet
        </button>
      </div>
    </div>
    <div class="col-sm-2 float-left" *ngIf="selectedRecord.data.primaryKey!=undefined">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text danger-icon-side">
            <i class="fa fa-trash" *ngIf="!onTransaction"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="onTransaction"></i>
          </span>
        </div>
        <button type="button" class="btn btn-danger form-control"
                [disabled]="onTransaction"
                (click)="btnRemove_Click()">Kaldır
        </button>
      </div>
    </div>
  </div>
</div>
