<div class="card" *ngIf="selectedCustomer==undefined">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-4">
                <h5 class="card-title">Müşteri Listesi</h5>
            </div>
            <div class="col-sm-5">
                <input type="text" class="form-control form-control-sm" placeholder="Müşteri Ara.." />
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-sm btn-primary btn-block" (click)="btnNew_Click()">+ Yeni Müşteri</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="list-group" *ngIf="mainList.length > 0; else elseBlock">
            <div class="list-group-item list-group-item-action list-group-item-light cursor-pointer"
            (click)="showSelectedCustomer(customer)"
            *ngFor="let customer of mainList; index as i; trackBy: primaryKey">
                <span class="text-dark">{{i+1}}) {{customer.data.name}}</span> - 
                <small class="text-muted">{{customer.data.owner}}</small></div>
        </div>
        <ng-template #elseBlock>
            <div class="card bg-danger text-white">
              <div class="card-body">Görüntülenecek veri bulunamadı.</div>
            </div>
        </ng-template>  
    </div>
</div>
<div class="card" *ngIf="selectedCustomer!=undefined">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-9">
                    <h4 class="card-title">{{selectedCustomer.name}}</h4>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-sm btn-primary btn-block" (click)="btnReturnList_Click()" *ngIf="openedPanel=='dashboard'">Listeye Geri Dön</button>
                    <button type="button" class="btn btn-sm btn-primary btn-block" (click)="btnOpenSubPanel_Click('dashboard')" *ngIf="openedPanel!='dashboard'">Ana Ekrana Geri Dön</button>
                </div>
            </div>
        </div>
        <div *ngIf="openedPanel=='dashboard'">
                <div class="card-body" *ngIf="selectedCustomer.primaryKey!=undefined">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card card-stats">
                                <div class="card-body">
                                    <div class="row" style="border-bottom: thin solid #eee">
                                        <label class="col-sm-4 col-form-label font-weight-bold">Adı</label>
                                        <label class="col-sm-8 col-form-label text-muted">{{selectedCustomer.name}}</label>        
                                    </div>
                                    <div class="row" style="border-bottom: thin solid #eee">
                                        <label class="col-sm-4 col-form-label font-weight-bold">Yetkili Kişi</label>
                                        <label class="col-sm-8 col-form-label text-muted">{{selectedCustomer.owner}}</label>        
                                    </div>
                                    <div class="row" style="border-bottom: thin solid #eee">
                                        <label class="col-sm-4 col-form-label font-weight-bold">E-Mail</label>
                                        <label class="col-sm-8 col-form-label text-muted">{{selectedCustomer.eMail}}</label>        
                                    </div>
                                    <div class="row" style="border-bottom: thin solid #eee">
                                        <label class="col-sm-4 col-form-label font-weight-bold">Telefon</label>
                                        <label class="col-sm-8 col-form-label text-muted">{{selectedCustomer.phone1}}</label>        
                                    </div>
                                    <div class="row" style="border-bottom: thin solid #eee">
                                        <label class="col-sm-4 col-form-label font-weight-bold">Fax</label>
                                        <label class="col-sm-8 col-form-label text-muted">{{selectedCustomer.phone2}}</label>        
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label font-weight-bold">Adres</label>
                                        <label class="col-sm-8 col-form-label text-muted">{{selectedCustomer.address}}</label>        
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="button" class="btn btn-sm btn-primary" 
                                    (click)="btnOpenSubPanel_Click('edit')">Müşteriyi Düzenle</button>   
                                </div>
                            </div> 
                        </div>
                        <div class="col-sm-6">
                                <div id="panel-navigator">
                                    <div class="row">
                                            <div class="col-sm-6">
                                                <div class="card card-stats">
                                                    <div class="card-header card-header-warning card-header-icon">
                                                        <div class="card-icon">
                                                            <img src="../../assets/images/sales_invoice.png" width="30px">
                                                        </div>
                                                        <p class="card-category">Satış Faturası</p>
                                                        <h5 class="card-title">{{siAmount | number}} <small>₺</small></h5>
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="stats">
                                                            <a class="float-right text-button" (click)="btnOpenSubPanel_Click('salesInvoice')">Yeni Kayıt >></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="card card-stats">
                                                    <div class="card-header card-header-danger card-header-icon">
                                                        <div class="card-icon">
                                                            <img src="../../assets/images/collection.png" width="30px">
                                                        </div>
                                                        <p class="card-category">Tahsilat</p>
                                                        <h5 class="card-title">{{colAmount | number}} <small>₺</small></h5>
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="stats">
                                                                <a class="float-right text-button" (click)="btnOpenSubPanel_Click('collection')">Yeni Kayıt >></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 mt-1">
                                                <div class="card card-stats">
                                                    <div class="card-header card-header-success card-header-icon">
                                                        <div class="card-icon">
                                                            <img src="../../assets/images/purchase_invoice.png" width="30px">
                                                        </div>
                                                        <p class="card-category">Alım Faturası</p>
                                                        <h5 class="card-title">{{purchaseInvoiceAmount | number}} <small>₺</small></h5>
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="stats">
                                                                <a class="float-right text-button" (click)="btnOpenSubPanel_Click('purchaseInvoice')">Yeni Kayıt >></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 mt-1">
                                                <div class="card card-stats">
                                                    <div class="card-header card-header-info card-header-icon">
                                                        <div class="card-icon">
                                                            <img src="../../assets/images/payment.png" width="30px">
                                                        </div>
                                                        <p class="card-category">Ödeme</p>
                                                        <h5 class="card-title">{{payAmount | number}} <small>₺</small></h5>
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="stats">
                                                                <a class="float-right text-button" (click)="btnOpenSubPanel_Click('payment')">Yeni Kayıt >></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                    
                                </div>
                        </div>

                    </div>
                </div>
        </div>
        <div *ngIf="openedPanel=='salesInvoice'">
            <div class="card-body">
                <div class="form-row">
                    <div class="col-sm-7">
                        <div class="card">
                            <div class="card-header bg-secondary text-light">
                                <h6>Yeni Satış Fatura Girişi</h6>
                            </div>
                            <div class="card-body">
                                <form (ngSubmit)="btnSaveSalesInvoice_Click()" class="was-validated" #fs="ngForm">
                                        <div class="form-row">
                                                <div class="col-sm-3">
                                                    <label class="col-form-label float-left" for="type">Fatura Tipi</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <select class="form-control form-control-sm" id="type" name="type" [(ngModel)]="newSalesInvoice.type" required>
                                                        <option value="sales">Satış</option>
                                                        <option value="return">İade</option>
                                                    </select>
                                                    <div class="invalid-feedback">Lütfen fatura tipi seçiniz.</div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="col-form-label float-left" for="receiptNo">Fiş Numarası</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input class="form-control form-control-sm" id="receiptNo" name="receiptNo" type="text" 
                                                        [(ngModel)]="newSalesInvoice.receiptNo" required>
                                                    <div class="invalid-feedback">Lütfen alanı doldurunuz.</div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="col-form-label float-left" for="totalPrice">Tutar</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input class="form-control form-control-sm" id="totalPrice" name="totalPrice" type="number" 
                                                        [(ngModel)]="newSalesInvoice.totalPrice" required>
                                                    <div class="invalid-feedback">Lütfen alanı doldurunuz.</div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="col-form-label float-left" for="totalPrice">Tutar (+KDV)</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input class="form-control form-control-sm" id="totalPriceWithTax" name="totalPriceWithTax" type="number" 
                                                        [(ngModel)]="newSalesInvoice.totalPriceWithTax" required>
                                                    <div class="invalid-feedback">Lütfen alanı doldurunuz.</div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="col-form-label float-left" for="description">Açıklama</label>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input class="form-control form-control-sm" id="description" name="description" type="text" 
                                                        [(ngModel)]="newSalesInvoice.description">
                                                </div>
                                        </div>
                                </form>
                            </div>
                            <div class="card-footer">
                                    <div class="col-sm-3 float-right">
                                        <button type="button" class="btn btn-sm btn-success btn-block"
                                        [disabled]="!fs.valid"
                                            (click)="btnSaveSalesInvoice_Click()">Kaydet</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="card bg-light">
                            <div class="card-header bg-secondary text-light">
                                <h6>Önceki Satış Faturaları</h6>
                            </div>
                            <div class="card-body" *ngIf="transactionList$ | async; let transactionList; else elseBlock">
                                    <table class="table">
                                            <tbody>
                                              <tr *ngFor="let item of transactionList; index as i; trackBy: primaryKey">
                                                <td>{{item.receiptNo}}</td>
                                                <td><span class="float-right">{{item.amount | number}} ₺</span></td>
                                                <td><span class="float-right">{{item.insertDate | date: 'yyyy.MM.dd'}}</span></td>
                                              </tr>
                                            </tbody>
                                    </table>
                            </div>
                            <ng-template #elseBlock>
                                <div class="card bg-danger text-white">
                                  <div class="card-body">Görüntülenecek veri bulunamadı.</div>
                                </div>
                            </ng-template>  

                        </div>

                    </div>
                </div>

            </div>

        </div>
        <div *ngIf="openedPanel=='collection'">
            <div class="card-body">
                <div class="form-row">
                    <div class="col-sm-7">
                        <div class="card">
                            <div class="card-header bg-secondary text-light">
                                <h6>Yeni Tahsilat Girişi</h6>
                            </div>
                            <div class="card-body">
                                <form (ngSubmit)="btnSaveCollection_Click()" class="was-validated" #fc="ngForm">
                                        <div class="form-row">
                                            <div class="col-sm-3">
                                                <label class="col-form-label float-left" for="typeTr">Tahsilat Tipi</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <select class="form-control form-control-sm w-100" id="type" name="type" required 
                                                [(ngModel)]="newCollection.type">
                                                    <option value="cash">Nakit</option>
                                                    <option value="creditCard">Kredi Kartı</option>
                                                    <option value="pNote">Senet</option>
                                                </select>
                                                <div class="invalid-feedback">Lütfen tip seçiniz.</div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="col-form-label float-left" for="cashDeskPrimaryKey">Kasa</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <select class="form-control form-control-sm w-100" id="cashDeskPrimaryKey" name="cashDeskPrimaryKey" required
                                                [(ngModel)]="newCollection.cashDeskPrimaryKey">
                                                    <option value={{item.primaryKey}} *ngFor="let item of cashDeskList$ | async; index as i; trackBy: primaryKey">{{item.name}}</option>
                                                </select>
                                                <div class="invalid-feedback">Lütfen kasa seçiniz.</div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="col-form-label float-left" for="receiptNo">Fiş Numarası</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <input class="form-control form-control-sm w-100" id="receiptNo" name="receiptNo" type="text"
                                                    [(ngModel)]="newCollection.receiptNo" required>
                                                <div class="invalid-feedback">Lütfen alanı doldurunuz.</div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="col-form-label float-left" for="totalPrice">Tutar</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <input class="form-control form-control-sm w-100" id="amount" name="amount" type="number"
                                                    [(ngModel)]="newCollection.amount" required>
                                                <div class="invalid-feedback">Lütfen alanı doldurunuz.</div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="col-form-label float-left" for="insertDate">Kayıt Tarihi</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="col-form-label float-left" for="insertDate">{{newCollection.insertDate | date: 'yyyy.MM.dd'}}</label>
                                            </div>
                                            <div class="col-sm-6"></div>
                                            <div class="col-sm-3">
                                                <label class="col-form-label float-left" for="description">Açıklama</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input class="form-control form-control-sm w-100" id="description" name="description" type="text"
                                                    [(ngModel)]="newCollection.description">
                                            </div>
                                        </div>
                                </form>
                            </div>
                            <div class="card-footer">
                                    <div class="col-sm-3 float-right">
                                        <button type="button" class="btn btn-sm btn-success btn-block"
                                        [disabled]="!fc.valid"
                                            (click)="btnSaveCollection_Click()">Kaydet</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="card bg-light">
                            <div class="card-header bg-secondary text-light">
                                <h6>Önceki Tahsilatlar</h6>
                            </div>
                            <div class="card-body" *ngIf="transactionList$ | async; let transactionList; else elseBlock">
                                    <table class="table">
                                            <tbody>
                                              <tr *ngFor="let item of transactionList; index as i; trackBy: primaryKey">
                                                <td>{{item.receiptNo}}</td>
                                                <td><span class="float-right">{{item.amount | number}} ₺</span></td>
                                                <td><span class="float-right">{{item.insertDate | date: 'yyyy.MM.dd'}}</span></td>
                                              </tr>
                                            </tbody>
                                    </table>
                            </div>
                            <ng-template #elseBlock>
                                <div class="card bg-danger text-white">
                                  <div class="card-body">Görüntülenecek veri bulunamadı.</div>
                                </div>
                            </ng-template>  

                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div *ngIf="openedPanel=='purchaseInvoice'">
            <div class="card-body">
                <div class="form-row">
                    <div class="col-sm-7">
                        <div class="card">
                            <div class="card-header bg-secondary text-light">
                                <h6>Yeni Alım Fatura Girişi</h6>
                            </div>
                            <div class="card-body">
                                <form (ngSubmit)="btnSavePurchaseInvoice_Click()" class="was-validated" #fa="ngForm">
                                        <div class="form-row">
                                                <div class="col-sm-3">
                                                    <label class="col-form-label float-left" for="type">Fatura Tipi</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <select class="form-control form-control-sm" id="type" name="type" [(ngModel)]="newPurchaseInvoice.type" required>
                                                        <option value="purchase">Alım</option>
                                                        <option value="return">İade</option>
                                                    </select>
                                                    <div class="invalid-feedback">Lütfen fatura tipi seçiniz.</div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="col-form-label float-left" for="receiptNo">Fiş Numarası</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input class="form-control form-control-sm" id="receiptNo" name="receiptNo" type="text" 
                                                        [(ngModel)]="newPurchaseInvoice.receiptNo" required>
                                                    <div class="invalid-feedback">Lütfen alanı doldurunuz.</div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="col-form-label float-left" for="totalPrice">Tutar</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input class="form-control form-control-sm" id="totalPrice" name="totalPrice" type="number" 
                                                        [(ngModel)]="newPurchaseInvoice.totalPrice" required>
                                                    <div class="invalid-feedback">Lütfen alanı doldurunuz.</div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="col-form-label float-left" for="totalPrice">Tutar (+KDV)</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input class="form-control form-control-sm" id="totalPriceWithTax" name="totalPriceWithTax" type="number" 
                                                        [(ngModel)]="newPurchaseInvoice.totalPriceWithTax" required>
                                                    <div class="invalid-feedback">Lütfen alanı doldurunuz.</div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="col-form-label float-left" for="description">Açıklama</label>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input class="form-control form-control-sm" id="description" name="description" type="text" 
                                                        [(ngModel)]="newPurchaseInvoice.description">
                                                </div>
                                        </div>
                                </form>
                            </div>
                            <div class="card-footer">
                                    <div class="col-sm-3 float-right">
                                        <button type="button" class="btn btn-sm btn-success btn-block"
                                        [disabled]="!fa.valid"
                                            (click)="btnSavePurchaseInvoice_Click()">Kaydet</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="card bg-light">
                            <div class="card-header bg-secondary text-light">
                                <h6>Önceki Alım Faturaları</h6>
                            </div>
                            <div class="card-body" *ngIf="transactionList$ | async; let transactionList; else elseBlock">
                                    <table class="table">
                                            <tbody>
                                              <tr *ngFor="let item of transactionList; index as i; trackBy: primaryKey">
                                                <td>{{item.receiptNo}}</td>
                                                <td><span class="float-right">{{item.amount | number}} ₺</span></td>
                                                <td><span class="float-right">{{item.insertDate | date: 'yyyy.MM.dd'}}</span></td>
                                              </tr>
                                            </tbody>
                                    </table>
                            </div>
                            <ng-template #elseBlock>
                                <div class="card bg-danger text-white">
                                  <div class="card-body">Görüntülenecek veri bulunamadı.</div>
                                </div>
                            </ng-template>  

                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div *ngIf="openedPanel=='payment'">
            <div class="card-body">
                <div class="form-row">
                    <div class="col-sm-7">
                        <div class="card">
                            <div class="card-header bg-secondary text-light">
                                <h6>Yeni Ödeme Girişi</h6>
                            </div>
                            <div class="card-body">
                                <form (ngSubmit)="btnSavePayment_Click()" class="was-validated" #fp="ngForm">
                                        <div class="form-row">
                                            <div class="col-sm-3">
                                                <label class="col-form-label float-left" for="typeTr">Ödeme Tipi</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <select class="form-control form-control-sm w-100" id="type" name="type" required 
                                                [(ngModel)]="newPayment.type">
                                                    <option value="cash">Nakit</option>
                                                    <option value="creditCard">Kredi Kartı</option>
                                                    <option value="pNote">Senet</option>
                                                </select>
                                                <div class="invalid-feedback">Lütfen tip seçiniz.</div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="col-form-label float-left" for="cashDeskPrimaryKey">Kasa</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <select class="form-control form-control-sm w-100" id="cashDeskPrimaryKey" name="cashDeskPrimaryKey" required
                                                [(ngModel)]="newPayment.cashDeskPrimaryKey">
                                                    <option value={{item.primaryKey}} *ngFor="let item of cashDeskList$ | async; index as i; trackBy: primaryKey">{{item.name}}</option>
                                                </select>
                                                <div class="invalid-feedback">Lütfen kasa seçiniz.</div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="col-form-label float-left" for="receiptNo">Fiş Numarası</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <input class="form-control form-control-sm w-100" id="receiptNo" name="receiptNo" type="text"
                                                    [(ngModel)]="newPayment.receiptNo" required>
                                                <div class="invalid-feedback">Lütfen alanı doldurunuz.</div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="col-form-label float-left" for="totalPrice">Tutar</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <input class="form-control form-control-sm w-100" id="amount" name="amount" type="number"
                                                    [(ngModel)]="newPayment.amount" required>
                                                <div class="invalid-feedback">Lütfen alanı doldurunuz.</div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="col-form-label float-left" for="insertDate">Kayıt Tarihi</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="col-form-label float-left" for="insertDate">{{newPayment.insertDate | date: 'yyyy.MM.dd'}}</label>
                                            </div>
                                            <div class="col-sm-6"></div>
                                            <div class="col-sm-3">
                                                <label class="col-form-label float-left" for="description">Açıklama</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input class="form-control form-control-sm w-100" id="description" name="description" type="text"
                                                    [(ngModel)]="newPayment.description">
                                            </div>
                                        </div>
                                </form>
                            </div>
                            <div class="card-footer">
                                    <div class="col-sm-3 float-right">
                                        <button type="button" class="btn btn-sm btn-success btn-block"
                                        [disabled]="!fp.valid"
                                            (click)="btnSavePayment_Click()">Kaydet</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="card bg-light">
                            <div class="card-header bg-secondary text-light">
                                <h6>Önceki Ödemeler</h6>
                            </div>
                            <div class="card-body" *ngIf="transactionList$ | async; let transactionList; else elseBlock">
                                    <table class="table">
                                            <tbody>
                                              <tr *ngFor="let item of transactionList; index as i; trackBy: primaryKey">
                                                <td>{{item.receiptNo}}</td>
                                                <td><span class="float-right">{{item.amount | number}} ₺</span></td>
                                                <td><span class="float-right">{{item.insertDate | date: 'yyyy.MM.dd'}}</span></td>
                                              </tr>
                                            </tbody>
                                    </table>
                            </div>
                            <ng-template #elseBlock>
                                <div class="card bg-danger text-white">
                                  <div class="card-body">Görüntülenecek veri bulunamadı.</div>
                                </div>
                            </ng-template>  

                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div *ngIf="openedPanel=='edit'">
            <div class="card-body">
                    <form (ngSubmit)="btnSave_Click()" class="was-validated">
                        <div class="form-row form-inline">
                                <div class="col-sm-3">
                                    <label class="col-form-label float-left" for="customerName">Müşteri Adı</label>
                                </div>
                                <div class="col-sm-3">
                                    <input class="form-control form-control-sm" id="customerName" name="customerName" type="text" 
                                        [(ngModel)]="selectedCustomer.name" required>
                                    <div class="invalid-feedback">Lütfen alanı doldurunuz.</div>
                                </div>
                            <div class="col-sm-3">
                                <label class="col-form-label float-left" for="customerCode">Kod</label>
                            </div>
                            <div class="col-sm-3">
                                    <input class="form-control form-control-sm" id="customerCode" name="customerCode" type="text" 
                                        [(ngModel)]="selectedCustomer.code">
                            </div>
                            <div class="col-sm-3">
                                <label class="col-form-label float-left" for="phone1">Telefon</label>
                            </div>
                            <div class="col-sm-3">
                                    <input class="form-control form-control-sm" id="phone1" name="phone1" type="text" 
                                        [(ngModel)]="selectedCustomer.phone1" required>
                                        <div class="invalid-feedback">Lütfen alanı doldurunuz.</div>
                            </div>
                            <div class="col-sm-3">
                                <label class="col-form-label float-left" for="phone2">Fax</label>
                            </div>
                            <div class="col-sm-3">
                                    <input class="form-control form-control-sm" id="phone2" name="phone2" type="text" 
                                        [(ngModel)]="selectedCustomer.phone2">
                            </div>
                            <div class="col-sm-3">
                                <label class="col-form-label float-left" for="eMail">E-Mail</label>
                            </div>
                            <div class="col-sm-3">
                                    <input class="form-control form-control-sm" id="eMail" name="eMail" type="email" 
                                        [(ngModel)]="selectedCustomer.email">
                            </div>
                            <div class="col-sm-3">
                                <label class="col-form-label float-left" for="owner">Yetkili Kişi</label>
                            </div>
                            <div class="col-sm-3">
                                    <input class="form-control form-control-sm" id="owner" name="owner" type="text" 
                                        [(ngModel)]="selectedCustomer.owner" required>
                                    <div class="invalid-feedback">Lütfen alanı doldurunuz.</div>
                            </div>
                            <div class="col-sm-3">
                                <label class="col-form-label float-left" for="address">Adres</label>
                            </div>
                            <div class="col-sm-9">
                                    <input class="form-control form-control-sm" id="address" name="address" type="text" 
                                        [(ngModel)]="selectedCustomer.address">
                            </div>
                        </div>
                    </form>

            </div>
            <div class="card-footer">
                <div class="col-sm-3" *ngIf="selectedCustomer.primaryKey!=undefined">
                    <button type="button" class="btn btn-sm btn-danger btn-block" (click)="btnRemove_Click()">Kaldır</button>
                </div>
                <div class="col-sm-3 float-right">
                    <button type="button" class="btn btn-sm btn-success btn-block" (click)="btnSave_Click()">Kaydet</button>
                </div>
    
            </div>
                
        </div>
</div>
